{{ partial "header" . }}
<!-- {{ partial "breadcrumb" . }} -->

<div id="covid-resources">
    <a id="scorecard-intro"></a>

    <div class="row ml-0 mr-0">
    <div class="col-12 col-md-11 col-lg-9 mx-auto mt-md-2 mt-lg-0 col-xl-9 px-4 px-md-2">
        <div class="bordertop">
        </div>
        <h1 class="d-block w-100 pt-1 mb-5">{{ .Params.h1 }}</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-md-11 col-lg-9 mx-auto col-count-2 mb-2 mb-md-4 mb-lg-8 px-4 px-md-2">
            
            {{ .Params.intro1 | safeHTML }}
            
         
        </div>  
    </div>

    <div id="scorecard-gateway" class="row mx-0 mt-5 feature-panel">
        
        <div class="col-12 col-md-6 feature px-0">
            <a class="wraplink" href="/covid-policy-scorecard/"></a>  
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto d-flex flex-column justify-content-center px-4 px-md-2">
                <a class="wraplink" href="/covid-policy-scorecard/"></a>  
                    <div class="wrapper">
                        <h2>COVID-19 Housing Policy Scorecard</h2>
                        <p>See the protections your state provides, and how it ranks nationally.</p>
                        <a class="sublink" href="/covid-policy-scorecard/">GO TO SCORECARD <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div> 
                
            </div>     
        </div>
        <div class="col-12 col-md-6 feature"></div>
    </div>

    <div id="ets-gateway" class="row mx-0 feature-panel">
        <div class="col-12 col-md-6 feature"></div>
        <div class="col-12 col-md-6 feature ">
            <a class="wraplink" href="/eviction-tracking"></a> 
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto d-flex flex-column justify-content-center">
                <a class="wraplink" href="/eviction-tracking"></a> 
                <div class="wrapper">
                    <h2>Eviction Tracking System</h2>
                    <p>See maps, charts, and data on eviction filings in select U.S. cities</p>
                    <a class="sublink" href="/eviction-tracking">GO TO ETS <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                </div>  
            </div>      
        </div>
    </div>

    <div id="policies-js-gateway" class="row mx-0 subfeature-panel mb-12">
        <div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto my-8 my-md-8 my-lg-10 my-xl-12 px-3 px-md-2">
            <h2 class="policies-intro">Learn about the policies that affect you, and find organizations that can help.</h2>
        </div>
        <div class="col-11 col-md-12 col-lg-11 mx-auto d-md-flex col-2-wrap">
            <div class="col-12 col-md-5 feature d-flex flex-column justify-content-center px-0 mb-6 mb-md-0">
                <a class="wraplink" href="/covid-eviction-policies/"></a> 
                <div class="bg-wrapper-1">
                    <div class="text-wrapper mt-20">
                        <h2>POLICIES</h2>
                        <p>Use our interactive table to get the latest on local, state, and federal policies.</p>
                        <a class="sublink" href="/covid-eviction-policies/">GO TO POLICIES LIST <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>  
                </div>       
            </div>
            <div class="col-12 col-md-5 feature d-flex flex-column justify-content-center px-0">
                <a class="wraplink" href="https://justshelter.org" target="_blank"></a> 
                <div class="bg-wrapper-2">
                    <div class="text-wrapper mt-20">
                        <h2>RESOURCES</h2>
                        <p>See our list of over 700 organizations that offer housing assistance, legal aid, and more.</p>
                        <a class="sublink" href="https://justshelter.org" target="_blank">GO TO JUST SHELTER WEBSITE <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>
                </div>
            </div>
        </div>    
    </div>

</div>



{{ partial "footer" . }}
