{{ partial "header" . }}
<!-- {{ partial "breadcrumb" . }} -->


<a id="scorecard-intro"></a>

<div class="row ml-0 mr-0">
  <div class="col-12 col-md-10 offset-md-1 col-lg-9 mx-lg-auto col-xl-8 px-2 px-md-2 mt-10">
    <div class="bordertop">
    </div>
    <h3 class="d-block w-100 pt-1">COVID-19 Resources</h3>
  </div>
  <div class="w-100"></div>
  <div class="col-12 col-md-8 offset-md-1 offset-lg-2 col-lg-6 col-xl-5">
   {{ .Params.intro1 | safeHTML }}
  </div>
</div>

<div id="scorecard-gateway" class="row mx-0 mt-5 feature-panel">
    <div class="col-6 feature d-flex flex-column justify-content-center align-items-center"><h2>Image</h2></div>
    <div class="col-6 feature d-flex flex-column justify-content-center px-0">
        <div class="wrapper">
            <h2>Housing Policy Scorecard</h2>
            <p>Keeping track of state level policies.</p>
        </div>    
    </div>
</div>

<div id="ets-gateway" class="row mx-0 feature-panel">
    <div class="col-6 feature d-flex flex-column justify-content-center">
        <div class="wrapper">
            <h2>Eviction Tracking System</h2>
            <p>Weekly updates on select cities' eviction filings.</p>
        </div>    
    </div>
    <div class="col-6 feature d-flex flex-column justify-content-center align-items-center"><h2>Image</h2></div>
</div>

<div id="policies-js-gateway" class="row mx-0 mt-5 subfeature-panel">
    <div class="col-6 col-md-4 offset-md-2 p-5 feature d-flex flex-column justify-content-center">
        <h2>Just Shelter</h2>
        <p>Find resources to help fight eviction and homelessness.</p>
    </div>
    <div class="col-6 col-md-4 p-5 feature d-flex flex-column justify-content-center">
        <h2>List of emergency polices</h2>
        <p>Keeping track of local level policies.</p>
    </div>
</div>





{{ partial "footer" . }}
