{{ partial "header" . }}
  <!-- section header -->
  {{ if eq .Title "Updates | Eviction Lab"}} <!-- if we are on the Updates page, do stuff --> 
  <div class="graphic-header updates-hero center-page-wrapper">
      <div class="center-page">
        <h1 class="graphic-page-header">updates</h1>
        <div class="underbar"></div>
      </div>
    </div>
  {{ partial "subnav" . }}  
  {{ end }}  

{{ partial "breadcrumb" . }} 

<!-- **************************** -->
<!-- **************************** -->
<!-- ******* Updates Home ******* -->

{{ if eq .Title "Updates | Eviction Lab"}} <!-- if we are on the Updates page, do stuff -->

    <div class="alt-rows">
       
    {{ $paginator := .Paginate (where .Site.Pages "Params.contenttype" "updates") 10 }}   
    {{ range .Paginator.Pages }} 
      {{ if ne .Params.in_index false }}
<!--{{ if eq .Params.contenttype "updates" }}    -->

        <div class="center-page-wrapper list-wrapper">
            <div class="list-item center-content {{ .Params.contenttype }}-list">

            <!--<div class="chevron">
              <i class="fa fa-chevron-right"></i>
            </div>-->

            <div class="postlist-left-col">
                <div class="authorname mb-md-2">{{ .Params.postauthorname | truncate 40 }}</div>
                <div class="list-thumb-container mb-md-3 mb-xxl-2">
                  {{ if eq .Params.childof "reporting"}}
                    {{ if .Params.thumb }}
                      {{ $img := .Params.thumb }}
                        {{ with .Resources.GetMatch $img }}
                          {{ $processed := .Fit "360x240 q70 jpg" }}
                            <img class="list-thumb reporting__thumb" src=" {{ $processed.RelPermalink }} ">
                        {{ end }}
                    {{ end }}  
                  {{ else }}
                    <img class="list-thumb" alt="{{ .Params.postauthorname }} photo" src="{{ .Params.authorpic }}">
                  {{ end }}
                </div>  
                <div class="post-date mb-md-2 mb-xxl-1">{{ .Date.Format "January 2, 2006" }}</div>
                <div class="post-cat">
                  <img src="/images/icons/{{ .Params.childof }}_bookmark.png" class="cat-bookmark" alt="Bookmark icon" />
                  <a href="/updates/{{ .Params.childof }}" class="{{ .Params.childof }}-type cat-link"> 
                  {{ .Params.childof }}</a>
                </div>  
              </div>
  
              <div class="postlist-right-col">
                <h2 class="title">
                  <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
                </h2>
                  {{ if eq .Params.childof "reporting" }}
                    {{ if .Params.listSummary }} 
                      <div class="post-summary">
                          {{ .Params.listSummary | truncate 240 }} <br /><br/><a class="read-more" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Read more at {{ .Params.outlet }} <i class="fa fa-chevron-right"></i></a>
                      </div>
                    {{ else }}
                      <div class="post-summary">
                          {{ .Summary | truncate 240 }} <br /><br/><a class="read-more" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Read more at {{ .Params.outlet }} <i class="fa fa-chevron-right"></i></a>
                      </div>
                    {{ end }}
                  {{ else }}
                    {{ if .Params.listSummary }}
                    <div class="post-summary">
                        {{ .Params.listSummary | truncate 240 }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
                    </div>
                    {{ else }}
                    <div class="post-summary">
                        {{ .Summary | truncate 240 }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
                    </div>
                    {{ end }}
                  {{ end }}  
                <div class="post-cat">
                  <img src="/images/icons/{{ .Params.childof }}_bookmark.png" alt="Bookmark icon" class="cat-bookmark" />
                  <a href="/updates/{{ .Params.childof }}" class="{{ .Params.childof }}-type cat-link"> 
                  {{ .Params.childof }}</a>
                </div> 
              </div>
        </div>      
          
        </div><!-- end center-page-wrapper -->
      <!--{{ end }}-->
      {{ end }}
    {{ end }}
    <!-- end Blog listings -->
</div><!-- end alt-rows -->
 
  <div class="center-page-wrapper">
      {{ partial "pagination" . }}
  </div>
   
{{ end }} <!-- end Blog page stuff -->


<!-- ******************** -->
<!-- ******************** -->
<!-- ******* BLOG ******* -->

{{ if eq .Title "Blog"}} <!-- if we are on the Updates page, do stuff -->

    <div class="alt-rows">
       
  {{ $paginator := .Paginate (where .Site.Pages "Params.childof" "blog") 10 }}   
  {{ range .Paginator.Pages }} 
      {{ if ne .Params.in_index false }}
<!--{{ if eq .Params.contenttype "updates" }}    -->

        <div class="center-page-wrapper list-wrapper">
            <div class="list-item center-content {{ .Params.contenttype }}-list">

            <!--<div class="chevron">
              <i class="fa fa-chevron-right"></i>
            </div>-->

            <div class="postlist-left-col">
                <div class="authorname mb-md-2">{{ .Params.postauthorname | truncate 40 }}</div>
                <div class="list-thumb-container mb-md-3 mb-xxl-2">
                  <img class="list-thumb" alt="{{ .Params.postauthorname }} photo" src="{{ .Params.authorpic }}">
                </div>  
                <div class="post-date mb-md-2 mb-xxl-1">{{ .Date.Format "January 2, 2006" }}</div>
                <div class="post-cat">
                  <img src="/images/icons/{{ .Params.childof }}_bookmark.png" class="cat-bookmark" alt="Bookmark icon" />
                  <a href="/updates/{{ .Params.childof }}" class="{{ .Params.childof }}-type cat-link"> 
                  {{ .Params.childof }}</a>
                </div>  
              </div>
  
              <div class="postlist-right-col">
                <h2 class="title">
                  <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
                </h2>
                {{ if .Params.listSummary }}
                <div class="post-summary">
                    {{ .Params.listSummary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
                {{ else }}
                <div class="post-summary">
                    {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
                {{ end }}
                <div class="post-cat">
                  <img src="/images/icons/{{ .Params.childof }}_bookmark.png" alt="Bookmark icon" class="cat-bookmark" />
                  <a href="/updates/{{ .Params.childof }}" class="{{ .Params.childof }}-type cat-link"> 
                  {{ .Params.childof }}</a>
                </div> 
              </div>
        </div>      
          
        </div><!-- end center-page-wrapper -->
      <!--{{ end }}-->
    {{ end }}
   
    {{ end }}
 <!-- end Blog listings -->
</div><!-- end alt-rows -->
 
  <div class="center-page-wrapper">
      {{ partial "pagination" . }}
  </div>

{{ end }} <!-- end Blog page stuff -->

<!-- ********************* -->
<!-- ********************* -->
<!-- ******* MEDIA ******* -->

{{ if eq .Title "Reporting"}} <!-- if we are on the Media page, do stuff -->
    
    <div class="center-page-wrapper">
      <div class="center-content list-intro mb-5 mb-md-8">
        <h4 class="subhead bordered-header mt-4 mb-3 mt-md-7 mb-md-5 blue">Reporting from Our Partners</h4>
        <p>In March 2020, the Eviction Lab launched a new partnership with the <a href='https://economichardship.org/' target='_blank' rel='noreferrer noopener'>Economic Hardship Reporting Project</a> to commission storytelling on U.S. housing insecurity, eviction, and homelessness. If you're a writer or artist interested in pitching your story, please contact <a href="mailto:evictionstories@gmail.com">evictionstories@gmail.com</a>.</p>
        <p>For tips on reporting about eviction, please see our <a href="/media-guide/">Media Guide</a>.</p>
      </div>
    </div>
    <div class="alt-rows media-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.childof" "reporting") 10 }}   
      {{ range .Paginator.Pages }}
      {{ if ne .Params.in_index false }}
      {{ $fp := .Site.GetPage "/reporting" }} 
      {{ $fparam := .Params.featuredPost }}
          {{/* if eq $fp.Params.featuredPost .Title */}}
          {{/* end */}}

      <div class="center-page-wrapper list-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list">
           <div class="postlist-left-col">
              <div class="list-thumb-container d-block mb-2">
                {{ if .Params.thumb }}
                  {{ $img := .Params.thumb }}
                  {{ with .Resources.GetMatch $img }}
                  {{ $processed := .Fill "360x240 q70 jpg Center" }}
                  <img class="list-thumb" src=" {{ $processed.RelPermalink }} ">
                  {{ end }}
                {{ end }}  
              </div>  
              <div class="authorname d-block mb-2">{{ .Params.postauthorname | truncate 40 }}</div>
              <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
            </div>

            <div class="postlist-right-col">
              <h2 class="title">
                <a href="{{ .Params.link }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              {{ if .Params.listSummary }}
                <div class="post-summary d-block d-md-none">
                  {{ .Params.listSummary | truncate 90 }} <br /><br/><a class="read-more" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Read more at {{ .Params.outlet }} <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="post-summary d-none d-md-block">
                    {{ .Params.listSummary | truncate 240 }} <br /><br/><a class="read-more" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Read more at {{ .Params.outlet }} <i class="fa fa-chevron-right"></i></a>
                </div>
                {{ else }}
              <div class="post-summary">
                  {{ .Summary }} <br /><br/><a class="read-more" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Read more at {{ .Params.outlet }} <i class="fa fa-chevron-right"></i></a>
              {{ end }}
                </div>
            </div>
        </div>
    
      {{ end }}
   
  {{ end }} <!-- end Media listings -->

   <!-- PAGINATION -->  

<div class="center-page-wrapper media-list">
  {{ partial "pagination" . }}
</div>
</div>
{{ end }} <!-- end Media page stuff -->

<!-- ************************ -->
<!-- ************************ -->
<!-- ******* RESEARCH ******* -->

{{ if eq .Title "Research"}} <!-- if we are on the Research page, do stuff -->

 <!-- if there are Research articles, list them -->
    <div class="alt-rows research-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.childof" "research") 10 }}   
      {{ range .Paginator.Pages }}
      {{ if ne .Params.in_index false }}
      <div class="center-page-wrapper list-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list">
            <div class="postlist-left-col">
              <div class="authorname mb-md-2">{{ .Params.postauthorname | truncate 40 }}</div>
              <div class="list-thumb-container mb-md-3 mb-xxl-2">
                <img class="list-thumb" src="{{ .Params.authorpic }}" alt="{{ .Params.postauthorname }} photo">
              </div>  
              <div class="post-date mb-md-2 mb-xxl-1">{{ .Date.Format "January 2, 2006" }}</div>
            </div>
            <div class="postlist-right-col">
              <h2 class="title">
                <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              {{ if .Params.listSummary }}
                <div class="post-summary">
                    {{ .Params.listSummary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
              {{ else }}
                <div class="post-summary">
                  {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
                {{ end }}
            </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>  

  <!-- end Research listings -->
   <!-- PAGINATION -->  
<div class="center-page-wrapper research-list">
  {{ partial "pagination" . }}
</div>
{{ end }} <!-- end EL Research page stuff -->




<!-- ******* EVENTS ******* -->


{{ if eq .Title "Events"}} <!-- if we are on the Events page, do stuff -->
<div class="page-id-events-list">
  {{ $events := where .Site.RegularPages "Params.childof" "events" }}
  {{ if isset $events 0 }} <!-- if there are Events articles, list them -->
  {{ $paginator := .Paginate (where .Site.RegularPages.Reverse "Params.childof" "events") 10 }}   
  {{ range .Paginator.Pages }}
      <div class="center-page-wrapper list-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list-main events-list list-head">
            <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
            </div>-->
            <div class="postlist-left-col"> 
              <!--<div class="date-bg">-->
                <div class="post-date mb-md-2 mb-xxl-1"><span class="date-number">{{ dateFormat "2" (.Params.date) }}</span><br />
                  <span class="date-month">{{ dateFormat "Jan" (.Params.date) }}</span>
                </div>
              <!--</div>-->
            </div>
            <div class="postlist-right-col">
              <h2 class="event-title">
              <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="event-address">
                {{ .Params.address }}
              </div>
            </div>
          </div>  
          <div class="list-item center-content events-list-main events-list {{ .Params.childof }}-list-sum">
              {{ if .Params.listSummary }}
              <div class="post-summary">
                  {{ .Params.listSummary }} 
              
              {{ else }}
              <div class="post-summary">
                  {{ .Summary }} 
              
              {{ end }}
              <br />
              <br /><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="event-deets">
              <ul>
                <li><img src="/images/icons/clock.svg" alt="Clock icon" />{{ dateFormat "Monday Jan 2 2006" (.Params.date) }}, {{ .Params.timeRange }}</li>
                {{ if isset .Params "website" }}
                  <li><img src="/images/icons/browser.svg" alt="Browser icon" /><a class="bold-link" href="{{ .Params.website }}" target="_blank">Website</a></li>
                {{ end }}  
              </ul>
            </div>
          </div>  
        </div>  
      
     
    {{ end }}
    {{ else }}
    {{ partial "events-null" . }}
  {{ end }} <!-- end Events listings -->
  <div class="center-page-wrapper">
    {{ partial "pagination" . }}
  </div>
{{ end }} <!-- end Events page stuff -->
</div>
<!-- ************** -->
<!-- ************** -->
<!-- ************** -->

{{ partial "debug" . }}

{{ partial "footer" . }}
