{{ partial "header" . }}
  <!-- section header -->
  {{ if eq .Title "Updates | Eviction Lab"}} <!-- if we are on the Updates page, do stuff --> 
  <div class="graphic-header updates-hero center-page-wrapper">
      <div class="center-page">
        <h1 class="graphic-page-header">updates</h1>
        <div class="underbar"></div>
      </div>
    </div>
  {{ partial "subnav" . }}  
  {{ end }}  

{{ partial "breadcrumb" . }} 

<!-- **************************** -->
<!-- **************************** -->
<!-- ******* Updates Home ******* -->

{{ if eq .Title "Updates | Eviction Lab"}} <!-- if we are on the Updates page, do stuff -->
  <div class="alt-rows updates-list">
    {{ $paginator := .Paginate (where .Site.Pages "Params.contenttype" "updates") 7 }}   
    {{ range .Paginator.Pages }} 
      {{ if ne .Params.in_index false }}
        {{ partial "updates-category-list" . }}
      {{ end }}
    {{ end }}
    <!-- end Updates listings -->
  </div><!-- end alt-rows -->
  <div class="center-page-wrapper">
    {{ partial "pagination" . }}
  </div>
{{ end }} <!-- end Updates page stuff -->

<!-- ******************** -->
<!-- ******************** -->
<!-- ******* BLOG ******* -->

{{ if eq .Title "Blog"}} <!-- if we are on the Updates page, do stuff -->
  <div class="alt-rows">  
    {{ $paginator := .Paginate (where .Site.Pages "Params.childof" "blog") 11 }}   
    {{ range .Paginator.Pages }} 
      {{ if ne .Params.in_index false }}
        {{ partial "updates-category-list" . }}
      {{ end }}
    {{ end }}
  </div>
  <div class="center-page-wrapper">
      {{ partial "pagination" . }}
  </div>
{{ end }} <!-- end Blog page stuff -->

<!-- ********************* -->
<!-- ********************* -->
<!-- ******* MEDIA ******* -->

{{ if eq .Title "Reporting"}} <!-- if we are on the Media page, do stuff -->
  {{ $paginator := .Paginate (where .Site.Pages "Params.childof" "reporting") 7 }}   
    {{ if $paginator.HasPrev }}{{ else }}
    <div class="center-page-wrapper">
      <div class="center-content list-intro mb-5 mb-md-8">
        <h4 class="subhead bordered-header mt-4 mb-3 mt-md-7 mb-md-5 blue">Reporting from Our Partners</h4>
        <p>In March 2020, the Eviction Lab launched a new partnership with the <a href='https://economichardship.org/' target='_blank' rel='noreferrer noopener'>Economic Hardship Reporting Project</a> to commission storytelling on U.S. housing insecurity, eviction, and homelessness. If you're a writer or artist interested in pitching your story, please contact <a href="mailto:evictionstories@gmail.com">evictionstories@gmail.com</a>.</p>
        <p>For tips on reporting about eviction, please see our <a href="/media-guide/">Media Guide</a>.</p>
      </div>
    </div>
    {{ end }}
    <div class="alt-rows updates-list">
      {{ range .Paginator.Pages }}
        {{ if ne .Params.in_index false }}
          {{ partial "updates-category-list" . }}
        {{ end }}
      {{ end }} <!-- end Media listings -->
   <!-- PAGINATION -->  
    <div class="center-page-wrapper media-list">
      {{ partial "pagination" . }}
    </div>
  </div>
{{ end }} <!-- end Media page stuff -->

<!-- ************************ -->
<!-- ************************ -->
<!-- ******* RESEARCH ******* -->

{{ if eq .Title "Research"}} <!-- if we are on the Research page, do stuff -->
 <!-- if there are Research articles, list them -->
    <div class="alt-rows research-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.childof" "research") 10 }}   
      {{ range .Paginator.Pages }}
      {{ if ne .Params.in_index false }}
        {{ partial "updates-category-list" . }}
      {{ end }}
      {{ end }}
    </div>  
  <!-- end Research listings -->
   <!-- PAGINATION -->  
<div class="center-page-wrapper research-list">
  {{ partial "pagination" . }}
</div>
{{ end }} <!-- end EL Research page stuff -->




<!-- ******* EVENTS ******* -->


{{ if eq .Title "Events"}} <!-- if we are on the Events page, do stuff -->
<div class="page-id-events-list">
  {{ $events := where .Site.RegularPages "Params.childof" "events" }}
  {{ if isset $events 0 }} <!-- if there are Events articles, list them -->
  {{ $paginator := .Paginate (where .Site.RegularPages.Reverse "Params.childof" "events") 10 }}   
  {{ range .Paginator.Pages }}
      <div class="center-page-wrapper list-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list-main events-list list-head">
            <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
            </div>-->
            <div class="postlist-left-col"> 
              <!--<div class="date-bg">-->
                <div class="post-date mb-md-2 mb-xxl-1"><span class="date-number">{{ dateFormat "2" (.Params.date) }}</span><br />
                  <span class="date-month">{{ dateFormat "Jan" (.Params.date) }}</span>
                </div>
              <!--</div>-->
            </div>
            <div class="postlist-right-col">
              <h2 class="event-title">
              <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="event-address">
                {{ .Params.address }}
              </div>
            </div>
          </div>  
          <div class="list-item center-content events-list-main events-list {{ .Params.childof }}-list-sum">
              {{ if .Params.listSummary }}
              <div class="post-summary">
                  {{ .Params.listSummary }} 
              
              {{ else }}
              <div class="post-summary">
                  {{ .Summary }} 
              
              {{ end }}
              <br />
              <br /><a class="read-more" href="{{ .RelPermalink }}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="event-deets">
              <ul>
                <li><img src="/images/icons/clock.svg" alt="Clock icon" />{{ dateFormat "Monday Jan 2 2006" (.Params.date) }}, {{ .Params.timeRange }}</li>
                {{ if isset .Params "website" }}
                  <li><img src="/images/icons/browser.svg" alt="Browser icon" /><a class="bold-link" href="{{ .Params.website }}" target="_blank">Website</a></li>
                {{ end }}  
              </ul>
            </div>
          </div>  
        </div>  
      
     
    {{ end }}
    {{ else }}
    {{ partial "events-null" . }}
  {{ end }} <!-- end Events listings -->
  <div class="center-page-wrapper">
    {{ partial "pagination" . }}
  </div>
{{ end }} <!-- end Events page stuff -->
</div>
<!-- ************** -->
<!-- ************** -->
<!-- ************** -->

{{ partial "debug" . }}

{{ partial "footer" . }}
