<div class="left-column {{ .Params.class }}">
        <h2 class="pullquote mobile-off {{ .Params.color }}">{{ .Params.blockquote }}<br><span class="attr">{{ .Params.attr }}<span></span></h2>
        <h4 class="subhead mobile-on bordered-header {{ .Params.color }}">{{ .Params.title }}</h4>
        <div class="about-imgs"><img src="{{ .Params.image }}" /></div>
        <div class="caption">
          <span class="subcopy ital">{{ .Params.caption }}</span> <span class="subcopy credit">{{ .Params.credit }}</span>
        </div>
      </div>
      <div class="right-column">
        <h4 class="subhead mobile-off bordered-header {{ .Params.color }}">{{ .Params.title }}</h4>
        <div class="about-body">{{ .Content }}</div>
      </div>