<!-- back to section link -->
{{ if not .IsHome }}
{{ $currentTitle := humanize .Title }}
{{ $currentSection := humanize .Section }}
  {{ if eq $currentTitle $currentSection }}
  <!-- do nothing -->
  {{ else }}
    <div class="breadcrumbs center-page-wrapper">
      <div class="center-page">

          <a href="{{ .Site.BaseURL }}{{ .Section }}">
            <span class="dim">{{ humanize .Section }}</span>
          </a>

          {{ $childOf := title .Params.childof }}
          {{ if eq .Title $childOf }}
            <!-- do nothing -->
            {{ else }}
            <i class="fa fa-chevron-right"></i>
            {{ if eq .Params.childof "blog" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/blog/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
            {{ if eq .Params.childof "media" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}//media/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
            {{ if eq .Params.childof "research" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/research/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
            {{ if eq .Params.childof "events" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/events/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
          {{ end }}

            <i class="fa fa-chevron-right"></i>
            <span>{{ .Title }}</span>
          </a>

    </div>
    </div>
  {{ end }}
{{ end }}
