<!-- Modal setup for bios -->
<div class="bio-thumb-wrapper citizen-r">
    
          <div class="bio-container">
            <h3>{{ .Params.title }}</h3>
           
              {{ if isset .Params "position" }}
              <p class="bio-position">
                {{ .Params.position }}
              </p>  
              {{ end }}
              {{ if isset .Params "organization" }}
              <p class="bio-position"> 
                {{ .Params.organization }}
              </p>  
              {{ end }}  
              {{ if isset .Params "assisted" }}  
              <p class="bio-position"> 
                {{ .Params.assisted }}
              </p>  
              {{ end }}  
          

          </div>
        </div>
       