 
  {{ range (where .Site.RegularPages.Reverse "Params.childof" "events-null") }}
      <div class="center-page-wrapper list-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list-main events-list list-head">
            <div class="postlist-left-col"> 
           
            </div>
            <div class="postlist-right-col">
              <h2 class="event-title">
              <span class="{{ .Params.childof }}-type">{{ .Title }}</span>
              </h2>
              {{ if .Params.listSummary }}
              <div class="post-summary">
                  {{ .Params.listSummary }} 
              
              {{ else }}
              <div class="post-summary">
                  {{ .Summary }} 
              
              {{ end }}
              
            </div>
            </div>
          </div>  
        </div>  
    {{ end }}