<div class="social-fixed mobile-off">Share<br />via
    <ul class="social-sprite-vert">
      <li>
        <a class="facebook social-share-popup" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"></a>
      </li>
      <li>
        <a class="twitter social-share-popup" target="_blank" href="https://twitter.com/intent/tweet?status={{ .Title }}, via @EvictionLab {{ .Permalink }}"></a>
      </li>
      <li>
        <a class="send-email" target="_blank" href="mailto:?subject={{ .Title }} - Eviction Lab&body={{ .Permalink }}"></a>
      </li>
    </ul>
  </div>  