
<div class="subnav center-page-wrapper shadow-bottom" role="navigation">
  <div class="center-page">
    <ul class="updates-nav">

     {{ $currentTitle := .Params.childof }}

     <!-- it seems to me that I should be able to pass the .Section
          as a variable to the range menus funtion, and only need one
          condition instead of seven ... but I can't figure it out -->
          <li class="nav-item only-larger-screens">Categories</li>
      {{ if eq .Section "updates"}}
       {{ range .Site.Menus.updates }}  <!-- range the updates menu -->
         {{ $currentName := .Name }} <!-- get the name of the current menu item, ie one of Blog, Media, Research, Events -->
         {{ $currentTitle := title $currentTitle }} 
          <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" href="{{.URL}}">{{ .Name }}</a></li>
        {{ end }}

        {{ else if eq .Section "methods"}}
          {{ range .Site.Menus.methods }}
            {{ $currentName := .Name }}
            {{ $currentTitle := title $currentTitle }}
            <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" data-toggle="tab" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}

        {{ else if eq .Section "maps-and-data"}}
          {{ range .Site.Menus.maps_and_data }}
            {{ $currentName := .Name }}
            {{ $currentTitle := title $currentTitle }}
            <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}

        {{ else if eq .Section "learn-more-tell-your-story"}}
          {{ range .Site.Menus.learn_more_tell_your_story }}
            {{ $currentName := .Name }}
            {{ $currentTitle := title $currentTitle }}
            <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}

        {{ else if eq .Section "help-faq"}}
          {{ range .Site.Menus.help_faq }}
            {{ $currentName := .Name }}
            {{ $currentTitle := title $currentTitle }}
            <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}

        {{ else if eq .Section "city-rankings"}}
          {{ range .Site.Menus.city_rankings }}
            {{ $currentName := .Name }}
            <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}

        {{ else if eq .Section "about-us"}}
          {{ range .Site.Menus.about_us }}
            {{ $currentName := .Name }}
            {{ $currentTitle := title $currentTitle }}
            <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" data-toggle="tab" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}

      {{ end }}

  </div>
</div>
