{{ partial "header" . }}
<div class="row pt-6 pb-4 mx-1">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <h2 class="mb-2">{{ .Params.h1 }}</h2>
        <p>{{ .Params.intro }}</p>
    </div>
</div>
{{ range .Params.galleries }}
    <div class="row mx-1 alt-bg"> 
        {{ range .gallery }}
            <h3 class="w-100 mx-2 mt-6 mb-0  text-center">{{ .h2 }}</h3>
            <div class="col-12 col-md-10 col-xxxl-8 mx-auto d-flex flex-wrap">
                {{ range .images }}
                    <div class="col-md-4">
                        <div class="thumbnail">
                        <a href="{{ .img }}">
                            <img src="{{ .img }}" alt="" style="width:100%">
                            <div class="caption">
                            <p class="text-center mt-1">{{ .caption }}</p>
                            </div>
                        </a>
                        </div>
                    </div>
                {{ end }}    
            </div>    
        {{ end }}
    </div>
{{ end }}


{{ partial "footer" . }}
