{{ partial "header" . }}

<!-- section header -->
{{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
        {{ if eq .Params.type "meta" }} 
<div class="graphic-header wem-hero center-page-wrapper">
  <div class="center-page">
    <h1 class="graphic-page-header">{{ .Params.h1 }}</h1>
    <div class="underbar"></div>
  </div>
</div>

<!-- subnav -->
<div class="shadow-bottom center-page-wrapper subnav">
  <div class="center-content-post max1200">
    <ul class="anchor-links mobile-off">
      <li class="only-larger-screens">{{ .Params.li1 }}</li>
      <li><a href="#wem-intro-link" class="smoothScroll">{{ .Params.li2 }}</a></li>
      <li><a href="#eviction-facts" class="smoothScroll">{{ .Params.li3 }}</a></li>
      <li><a href="#video" class="smoothScroll">{{ .Params.li4 }}</a></li>
      <li><a href="#evicted-book" class="smoothScroll">{{ .Params.li5 }}</a></li>
      
    </ul>
    <div class="dropdown mobile-on">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Params.li1 }}
        </button>
        <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
          <ul class="anchor-links dropdown-menu">
            <li><a class="dropdown-item smoothScroll" href="#wem-intro-link">{{ .Params.li2 }}</a></li>
            <li><a class="dropdown-item smoothScroll" href="#eviction-facts">{{ .Params.li3 }}</a></li>
            <li><a class="dropdown-item smoothScroll" href="#video">{{ .Params.li4 }}</a></li>
            <li><a class="dropdown-item smoothScroll" href="#evicted-book">{{ .Params.li5 }}</a></li>
            
        </ul>
        <!--</div>-->
      </div>
  </div>
</div>
{{ end }}
{{ end }}
<div class="alt-page eviction-matters social-side">
{{ partial "social-share-vert" . }}

<div class="center-page-wrapper">
  <div class="center-content-post page-list eviction-facts">
    <div id="wem-intro">
        <a name="wem-intro-link"></a>
        {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
        {{ if eq .Params.type "intro" }}
        <h2 class="bordered-header blue ">{{ .Title }}</h2>
        <!-- faq item -->
          {{ .Content }}
        {{ end }}
        {{ end }}
    </div>
      <a name="eviction-facts"></a>

    <!-- ************ -->
    <!-- Eviction FAQ Section -->
    <!-- ************ -->
    {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
    {{ if eq .Params.type "faqHeader" }}
    <h2 class="bordered-header blue ">{{ .Params.header }}</h2>
    {{ end }}
    {{ end }}
      
    <div class="eviction-qa">

        {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
        {{ if eq .Params.type "faq" }}
        <!-- faq item -->
          {{ partial "evictionfaqs" . }}
        {{ end }}
        {{ end }}

    </div>

  </div><!-- End center content post -->
</div><!-- End center page wrapper -->
    <!-- ************ -->
    <!-- Video section -->
    <!-- ************ -->

<div class="alt-bg video-panel">
  <div class="center-content-post page-list">
      <a name="video"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
        {{ if eq .Params.type "video" }}
        <h4 class="subhead bordered-header">{{ .Params.header }}</h4>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="video1"> 
                <div class="video-container"><iframe width="720" height="405" src="https://www.youtube.com/embed/zOsr3AcZAsY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
            </div>
          <div role="tabpanel" class="tab-pane" id="video2"> 
              <div class="video-container"><iframe width="720" height="405" src="https://www.youtube.com/embed/KElgG_s1DkE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="video3">  
              <div class="video-container"><iframe width="720" height="435" src="https://www.youtube.com/embed/2ovyccOXyoQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="video4">  
              <div class="video-container"><iframe width="720" height="405" src="https://www.youtube.com/embed/NY4Q8XQ0n6E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
          </div>
          
        </div>  
        <ul class="nav nav-tabs anchor-links" role="tablist">
            <li role="presentation" class="active"><a href="#video1" aria-controls="home" role="tab" data-toggle="tab">{{ .Params.v1 }}</a> | </li>
            <li role="presentation"><a href="#video2" aria-controls="home" role="tab" data-toggle="tab">{{ .Params.v2 }}</a> | </li>
            <li role="presentation"><a href="#video3" aria-controls="profile" role="tab" data-toggle="tab">{{ .Params.v3 }}</a> | </li>
            <li role="presentation"><a href="#video4" aria-controls="profile" role="tab" data-toggle="tab">{{ .Params.v4 }}</a></li>
        </ul>
        {{ end }}
      {{ end }}      
    </div>
</div>    
    

    <!-- ******************* -->
    <!-- Evicted Book Section -->
    <!-- ******************* -->

<div class="alt-bg book-panel">
    <a name="evicted-book"></a>
  <div class="center-content-post page-list"> 
      {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
      {{ if eq .Params.type "bookheader" }}    
    <h2 class="page-section-header">{{ .Params.header }}</h2>
      <div class="evicted-book">
        <div class="book-img">
          <img src="/images/assets/evicted-book.jpg" />
          <p class="subcopy"><span>{{ .Params.subcopy }}</span><br />{{ .Params.subcopy2 }}</p>
        </div>
        {{ end }}
        {{ end }}
        <div class="book-copy">
            {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
            {{ if eq .Params.type "bookcopy" }} 
            {{ .Content }}
          {{ partial "book-modal" . }}
          <div class="button-wrap"><a class="btn-primary" data-toggle="modal" data-target="#buy-book-modal" href="#">{{ .Params.button1 }}</a></div>
          {{ end }}
          {{ end }}
        </div> 
      </div><!-- end evicted-book -->
      <div class="praise mobile-off">
          {{ range (where .Site.RegularPages "Params.childof" ("evictionMatters")) }}
          {{ if eq .Params.type "bookheader" }} 
        <h4 class="subhead bordered-header blue">{{ .Params.header2 }}</h4> 
        <div class="column-wrap">
            {{ end }}
            {{ end }}   
          <div class="column-left">
            {{ range (where .Site.RegularPages "Params.col" ("col-left")) }}
            {{ if eq .Params.col "col-left" }} 
            {{ .Content }}
            <p class="attrib">{{ .Params.attrib }}</p> 
            {{ end }}
            {{ end }}
          </div>
          <div class="column-right">
              {{ range (where .Site.RegularPages "Params.col" ("col-right")) }}
              {{ if eq .Params.col "col-right" }} 
              {{ .Content }}
              <p class="attrib">{{ .Params.attrib }}</p> 
              {{ end }}
              {{ end }}
            </div>
       
        </div>      
       
      </div><!-- end Praise -->
  
  </div><!-- end center-content-post -->
</div><!-- end alt-bg book-panel -->


    </div><!-- end page-content wrapper -->
  </div><!-- end center page wrapper -->
</div><!-- end alt-bg -->

</div><!-- end WEM Page ID -->

{{ partial "footer" . }}

