{{ partial "header" . }}

<!-- ********** splash section ********** -->

<div class="new-splash">
  <div class="section section-split">

    <!-- ********* slider *********** -->

    <div class="section-image">

      <div id="hero-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/hero-slide-1.jpg" alt="First slide">
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-2.jpg" alt="Second slide">
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-3.jpg" alt="Third slide">
          </div>

        </div>
      </div>

    </div>

    <!-- ********* copy *********** -->

    <div class="section-content">
      <div class="hero">

      <h1>
        One country.<br>
        50 states.<br>
        And 40 million eviction records.
      </h1>

      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>

      <a class="btn" href="#">enter the eviction lab</a>

      <div>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
      </div>

      </div>
    </div>

    <!-- ******************** -->

  </div>
</div>

<!-- ********** end splash section ********** -->

<!-- ********** branding divider section ********** -->

<div class="center-page-wrapper">
	<div class="center-page">
		<div class="header-logo branding-divider">
			<a href="/"><img class="mw-100" src="/img/el-logo.png" /></a>
		</div>
  </div>
</div>

<!-- ********** pictorial menu section ********** -->

<div class="pictorial-wrapper">

  <div class="top-row">
    <div class="left">top row left</div>
    <div class="right">top row right</div>
  </div>
  <!-- ******************** -->
  <div class="middle-row">
    <div class="left">middle row left</div>
    <div class="middle-left">middle row middle left</div>
    <div class="middle-right">middle row middle right</div>
    <div class="right">middle row right</div>
  </div>
  <!-- ******************** -->
  <div class="bottom-row">
    <div class="left">bottom row left</div>
    <div class="right">bottom row right</div>
  </div>

</div>

{{ partial "footer" . }}
