{{ partial "header" . }}

<div class="splash-wrapper inset-shadow-top">
  <div class="splash">

    <div class="hero-cta">

      <h1>
        One country.<br>
        50 states.<br>
        And 40 million<br>
        eviction records.
      </h1>

      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>

      <a class="btn" href="#">enter the eviction lab</a>

    </div>

    <div class="slider">

      <div id="hero-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/hero-slide-1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-2.jpg" alt="Second slide">
          </div>          
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-3.jpg" alt="Third slide">
          </div>

          <!-- uncomment this one if you want to check that the drop shadow is working properly
               dark images make it hard to tell, so this is an image that is just a white square
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-shadow-tester.jpg" alt="test slide">
          </div>
          -->

        </div>
      </div>

    </div>

  </div>
</div>

{{ partial "footer" . }}
