/* _about-us.scss */
.modal-open .modal {
    /* height: 96vh; */
    }
.alt-bg h2.page-section-header {
    margin-bottom: 4rem;
}
.el-bios {
    
    ul.nav {
        a:hover {
            color: $color1;
        }
            flex-direction: column;
        li.active a {
            color: $color1;
        }    
        @include for-tablet-portrait-up {
            flex-direction: row;
        }    
        }
    .anchor-links {
        margin-bottom: 0;
        padding: 0rem 0 2.3rem 0;
    }    
    .anchor-links li, .anchor-links li a {
        @include for-phone-only {
            margin-right: 0;
        } 
    }  
    .nav-tabs {
        border-bottom: none;
    }  
    .anchor-links .only-larger-screens {
            display: inline-block;
            position: relative;
            top: -15px;
            letter-spacing: 0.04rem;
            text-transform: uppercase;
            @include for-tablet-portrait-up {
                text-transform: none;
            }
            @include for-tablet-landscape-up {
                top: -3px;
                
            }
        }

    @include for-tablet-portrait-up {
        .nav a.highlight:after {
            content: "";
            width: 48px;
            position: absolute;
            bottom: -18px;
            left: 0;
            border-bottom: 4px solid #e24000;
            opacity: 1;
            transition: 150ms;
         }
        }  
    
    p.bio-position {
        color: $grey2a;
        @include for-midsize-desktop-up {
            margin-bottom: 4rem;
        }
        @include sm-thru-med-desktop {
            margin-bottom: 3.2rem;
        }
        @include for-tablet-portrait-and-landscape {
            margin-bottom: 3.2rem;
        }
        @include for-phone-only {
            margin-bottom: 4rem;
        }   
    } 
 .bio-thumbs {
    display: grid;
    grid-template-columns: 1fr;
    @include for-480-up {
        grid-template-columns: 1fr 1fr; 
    }
    @include for-tablet-portrait-up {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include for-tablet-landscape-up {
        padding: 32px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include for-midsize-desktop-up {
        padding: 40px;
    }
    a {
        &:focus {
            outline: 0;
            img.bio-thumb {
                filter: none;
            }    
        }
    }
    .bio-thumb-wrapper {
        position: relative;
        a {
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
        
        .bio-container {
            position: relative;
        }
        h3 {
            color: $color2;
            text-transform: uppercase;
            margin-bottom: 0.4rem;
            text-align: center;
        }
        p.bio-position {
            text-align: center;
            max-width: 192px;
        }
    }
    img.bio-thumb {
        width: 192px;
        height: 192px;
        margin-bottom: 2.4rem;
        border-radius: 50%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        @include for-midsize-desktop-up {
            width: 216px;
            height: 216px;
        }
    &:hover {
        filter: initial;
        -webkit-filter: initial;
        transition: 150ms;
        -webkit-transition: 150ms;
        }  
    &:hover ~ img.bio-arrow-active {
        opacity: 1;
        /* transition: 150ms;
        -webkit-transition: 150ms; */
        }       
    }
     
    img.bio-arrow {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 143px;
        @include for-midsize-desktop-up {
            top: 172px;
            left: 175px;
        }
        box-shadow: $boxShadowIcon;
        &:hover ~ img.bio-thumb {
            filter: initial;
            -webkit-filter: initial;
            transition: 150ms;
            -webkit-transition: 150ms;
            }     
    }
    img.bio-arrow-active {
        width: 40px;
        height: 40px;
        top: 150px;
        left: 143px;
        position: absolute;
        opacity: 0; 
        @include for-midsize-desktop-up {
            top: 172px;
            left: 175px;
        }
    &:hover {
        opacity: 1; 
        }
    } 
 }

// Modal CSS
// Contained within el-bios
    .modal-content {  
        @include for-phone-only {
            display: flex;
        }  
        display: grid;
        -ms-flex-direction: column;
        /* flex-direction: column; */
        grid-template-columns: 40% 1fr;
        .modal-header {
            border: none;
            }
        }
   
        @include for-tablet-landscape-up {
            div.modal {
                overflow-y: hidden;
            }
            .modal-dialog {
                max-width: 80%;
            }
        }

    .left-column {
    /* background-color: blue; */
        background-image: url(/images/bios/mdesmond_full.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @include for-phone-only {
            height: 400px;
        }
        }
    .right-column {
        @include for-tablet-landscape-up {
        max-height: 480px;
        overflow-y: scroll;
        }   
    }  
    .modal-body {
        h3 {
            text-transform: uppercase;
            color: $color2;
        }
       
        }
    
    }

