/* _about-us.scss */
.about-us {
    a, a:hover {
        color: $color1;
    }
    .subcopy.caption {
        margin-bottom: 1.6rem;
        @include for-tablet-portrait-up {
            margin-top: 0.8rem;
            margin-bottom: 2.4rem;
        }
    }
}
.alt-page {
    .alt-bg {
        padding-left: 24px;
        padding-right: 24px;
        height: 100%;
        @include for-tablet-portrait-up {
        padding-left: 40px;
        padding-right: 40px;
        } 
        p:last-child {
            padding-bottom: 2rem;
            @include for-tablet-portrait-up {
                padding-bottom: 3rem;
            }
            @include for-midsize-desktop-up {
                padding-bottom: 5rem;
            }
        }
    }
    
    .center-content-post.page-list {
        @include for-tablet-portrait-up {
            padding-top: 5.6rem;
            }
        @include for-midsize-desktop-up {
        padding-top: 7.2rem;
        }
    }
    .center-content-post.max1200 {
        max-width: 1024px;
        @media (min-width: 768px) and (max-width: 1240px) {
            padding-left: 66px;
            padding-right: 66px;
        }
    }
}
.about-block {
    @include for-tablet-portrait-up {
        display: flex;
        display: grid;
        grid-template-columns: 46% 1fr;
    }
    @include for-tablet-landscape-up {
        display: flex;
        display: grid;
        grid-template-columns: 40% 1fr;
    }
    img { 
        max-width: 100%;
        @include for-phone-only {
            padding-bottom: 1.6rem;
        }
        @include for-tablet-portrait-up {
            padding-top: 2.4rem;
        }
        @include for-tablet-landscape-up {
            padding-top: 3.2rem;
        }
        @include for-midsize-desktop-up {
            padding-top: 5.6rem;
        }
    }
    .bordered-header {
        padding: 1.6rem 0 3.2rem;
        @include for-tablet-portrait-up {
            padding: 1.6rem 0 3.2rem;
        }
        @include for-midsize-desktop-up {
            padding: 2.4rem 0 4.8rem;
        }
    }

    h2.pullquote {
        @include for-tablet-portrait-up {
            @include altFont(3rem);
        }
        @include for-midsize-desktop-up {
            @include altFont(3.6rem);
            line-height: 4.4rem;
            letter-spacing: .082rem;
        }
    }
    .left-column {
        &.no-img {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .about-imgs {
                height: 0;
            }
        }
        @include for-tablet-portrait-up {
            padding-right: 4.8rem;
            flex: 1;
        }
        @include for-tablet-landscape-up {
            padding-right: 6.4rem;
        }
        @include for-midsize-desktop-up {
            padding-right: 8rem;
        }
    }
    .right-column {
        flex: 2;
    }
    p:last-child {
        padding-bottom: 2rem;
        @include for-tablet-portrait-up {
            padding-bottom: 3rem;
        }
        @include for-midsize-desktop-up {
            padding-bottom: 5rem;
        }
    }
}

// ****** TEAM BIOS SECTION ***********


.alt-bg h2.page-section-headerv2 {
    margin-bottom: 4rem;
    @include for-tablet-portrait-up {
        margin-bottom: 7rem;
    }
}
.el-bios {
    // give bio images some breathing room
    @include for-480-up {
        margin-left: -16px;
        margin-right: -16px;
    }
    @include for-tablet-portrait-up {
        margin-left: -66px;
        margin-right: -66px;
    }
    ul.nav {
        a:hover {
            color: $color1;
        }
            flex-direction: column;
        li.active a {
            color: $color1;
        }    
        @include for-tablet-portrait-up {
            flex-direction: row;
            justify-content: center;
        }    
        }
    .anchor-links {
        margin-bottom: 0;
        padding: 0rem 0 2.3rem 0;
        @include for-tablet-portrait-up {
            padding-bottom: 5rem;
        }
        
    }    
    .anchor-links li, .anchor-links li a {
        @include for-phone-only {
            margin-right: 0;
        } 
    }  
    .nav-tabs {
        border-bottom: none;
    }  
    .anchor-links li.only-larger-screens {
            display: inline-block;
            position: relative;
            top: -15px;
            letter-spacing: 0.04rem;
            text-transform: uppercase;
            @include for-tablet-portrait-up {
                display: none;
            }
            @include for-tablet-landscape-up {
                top: -3px;
                
            }
        }

    @include for-tablet-portrait-up {
        .nav a.highlight:after, .nav li.active a:after {
            content: "";
            width: 48px;
            position: absolute;
            bottom: -18px;
            left: 0;
            border-bottom: 4px solid #e24000;
            opacity: 1;
            transition: 150ms;
         }
        }  
    
    p.bio-position {
        color: $grey2a;
        @include for-phone-only {
            margin-bottom: 2.4rem;
        } 
       /* @include for-tablet-portrait-and-landscape {
            margin-bottom: 3.2rem;
        }
        @include sm-thru-med-desktop {
            margin-bottom: 3.2rem;
        }
        @include for-midsize-desktop-up {
            margin-bottom: 4rem;
        }  */
    } 
    .bio-content  p:last-child {
        padding-bottom: 0;
    }
 .bio-thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 3.2rem;
    @include for-tablet-portrait-up {
        padding-bottom: 1.6rem;
    }
    @include for-tablet-landscape-up {
        padding: 32px;
    }
    @include for-midsize-desktop-up {
        padding: 40px;
    }
    a {
        &:focus {
            outline: 0;
            img.bio-thumb {
                filter: none;
            }    
        }
    }
    .bio-thumb-wrapper {
        position: relative;
        width: 100%;
        @include for-480-up {
            width: 50%;
        }
        @include for-tablet-portrait-up {
            width: 33.333%;
        }
        @include for-tablet-landscape-up {
            width: 25%;
        }
        a {
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
        
        .bio-container {
            position: relative;
            @include for-tablet-portrait-up {
                padding: 0 8px 6.4rem;
            }
        }
        h3 {
            color: $color2;
            text-transform: uppercase;
            margin-bottom: 0.4rem;
            text-align: center;
        }
        p.bio-position {
            text-align: center;
            max-width: 192px;
        }
        a:focus {
            box-shadow: none;
            img.bio-arrow-active {
                opacity:1;
            }
        }
    }
    img.bio-thumb {
        width: 192px;
        height: 192px;
        margin-bottom: 2.4rem;
        border-radius: 50%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        @include for-midsize-desktop-up {
            width: 216px;
            height: 216px;
        }
    &:hover {
        filter: initial;
        -webkit-filter: initial;
        transition: 150ms;
        -webkit-transition: 150ms;
        }  
    &:hover ~ img.bio-arrow-active {
        opacity: 1;
        /* transition: 150ms;
        -webkit-transition: 150ms; */
        }       
    }
     
    img.bio-arrow {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 143px;
        @include for-midsize-desktop-up {
            top: 172px;
            left: 175px;
        }
        box-shadow: $boxShadowIcon;
        &:hover ~ img.bio-thumb {
            filter: initial;
            -webkit-filter: initial;
            transition: 150ms;
            -webkit-transition: 150ms;
            }     
    }
    img.bio-arrow-active {
        width: 40px;
        height: 40px;
        top: 150px;
        left: 143px;
        position: absolute;
        opacity: 0; 
        @include for-midsize-desktop-up {
            top: 172px;
            left: 175px;
        }
    &:hover {
        opacity: 1; 
        }
    } 
 }
}

// Modal CSS overrides
.el-bios {
  .modal-content {
    padding: 0;
    overflow-y: auto;

    @include for-tablet-landscape-up {
      display: grid;
    }
    -ms-flex-direction: column;
    grid-template-columns: 40% 1fr;
    
    .bio-nav {
      @include defaultFont(1.4rem);
      .fa { font-size: 1.2rem;}
      @include for-tablet-portrait-up {
        @include defaultFont(1.6rem);
        .fa { font-size: 1.4rem;}
      }
      a:hover { color: $color1; }
    }
    .bio-nav.separator {
      @include defaultFontBold(1.4rem);
      margin: 0 2rem;
    }
  }
  
  .modal-dialog {
    width: auto;
    margin: grid(2) auto;
  }
  @include for-tablet-landscape-up {
    .modal-dialog {
      max-width: 1000px;
    }
  }

  .modal-header {
    margin: 0;
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .left-column {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    @include for-phone-only {
      height: 500px;
    }
    @include for-tablet-portrait-up {
      height: 500px;
    }
    @include for-tablet-landscape-up {
      height: auto;
    }
  }
  .right-column {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include for-tablet-landscape-up {
      max-height: 90vh;
    }   
  }  
  .modal-body {
    padding: 2.4rem 1.6rem;
    @include for-tablet-landscape-up {
      padding: 3.2rem 4.8rem 3.2rem;;
    }
    @include for-midsize-desktop-up {
      padding: 4.8rem 6.4rem 4.8rem;
    }    
    
    h3 {
      text-transform: uppercase;
      color: $color2;
    }
  }
  .modal-footer {
    padding: grid(2);
    margin-top: 0;
    border-top: 1px solid #e9ecef;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    @include for-tablet-landscape-up {
      padding-left: 4.8rem;
      padding-right: 4.8rem;
    }
    @include for-midsize-desktop-up {
      padding-left: 6.4rem;
      padding-right: 6.4rem;
    }  
  }
}
