/* -- eviction-matters.scss -- */

.eviction-matters {
    .caption {
        color: #737373;
        margin-bottom: 1.6rem;
        text-align: left;
        line-height: 2rem;
        text-align: center;

        @include for-tablet-portrait-up {
            line-height: 2.4rem;
            margin-top: 0.8rem;
            margin-bottom: 2.4rem;
            margin-top: -24px;
        }
    }
    a {
        color: $color1;
        &:hover {
            color: $color1;
        }
    }
    a.btn-primary { color: $white; border-radius: 2px;  }
    /*----- Eviction Facts ----- */
    .eviction-facts .bordered-header {
        margin-top: 0rem;
        @include for-tablet-portrait-up {
            margin-bottom: 3.2rem;
        }
        @include for-midsize-desktop-up {
            margin-bottom: 4rem;
        }
    }
    .eviction-facts {
        @include for-tablet-portrait-up {
        margin-bottom: 5.6rem;
        }
        #wem-intro {
            margin-bottom: 3.2rem;
            @include for-tablet-portrait-up {
            margin-bottom: 4.8rem;
            }
            @include for-tablet-landscape-up {
                margin-bottom: 5.6rem;
                }
        }
        img {
            margin: 1.6rem 0 0.8rem;
            max-width: 100%;
            @include for-tablet-portrait-only {
                margin: 2.4rem 0 0.8rem;
                padding: 0 9.6rem;
            }
            @include for-tablet-landscape-up {
                margin: 2.4rem 0 0.8rem;
                padding: 0 7.2rem;
            }
            @include for-midsize-desktop-up {
                padding: 0;
            }
        }
        
    }

   /* ----- Video Panel ------- */ 
    .alt-bg.video-panel {
        background: #424670; /* Old browsers */
        background: -moz-linear-gradient(top, #424670 0%, #2F3251 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #424670 0%, #2F3251 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #424670 0%,#2F3251 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #fff;
        li, a {
            color: #fff;
            display: inline;
        }
        a {
            margin-right: 5px;
        }
        .nav-tabs {
            border-bottom: 0;
        }
        .center-content-post.page-list {
            padding-top: 0;
        }
        .anchor-links {
            margin-bottom: 0;
            @include for-tablet-portrait-up {
                padding-top: 1rem;
                margin-bottom: 1.2rem;
                li {
                    margin-right: 5px;
                }
            }
            @include for-tablet-landscape-up {
                padding: 1.6rem 0 4.4rem;
            }
        }
    }
    /* ----- Book Panel ------- */    
    .alt-bg.book-panel {
        padding-top: 4rem;
        padding-bottom: 4rem;
        @include for-tablet-portrait-up {
            padding-top: 5.6rem;
            padding-bottom: 5.6rem;
        }
        .center-content-post {
            @include for-tablet-portrait-up {
                max-width: 680px;
            }
            @include for-tablet-landscape-up {
                max-width: 840px;
            }
        }
        .center-content-post.page-list {
            background-color: #fff;
            padding: 3.2rem 2rem 2.4rem;
            @include for-tablet-portrait-up {
                padding: 4rem 6rem .08rem;
            }
            
        }
        h2 {text-align: center;}
        .page-section-header {
            margin-bottom: 2.4rem;
            @include for-tablet-portrait-up {
                margin-bottom: 4rem;
            }
        }
        .evicted-book {
            @include for-tablet-portrait-up {
                display: grid;
                grid-template-columns: 37% 1fr;
            }
            @include for-tablet-portrait-up {
                grid-template-columns: 34% 1fr;
             }
        }
        .book-img {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include for-tablet-portrait-up {
                display: block;
            }
            p {
                text-align: center;
                @include for-tablet-portrait-up {
                    text-align: left;
                }
            }
        }
        .button-wrap {
            margin: 2.4rem 0 1.6rem;
            @include for-tablet-portrait-up {
                margin: 4rem 0 3.2rem;
            }
            @include for-midsize-desktop-up {
                margin: 4.8rem 0 4rem;
            }
        }
        .btn-primary {
            @include for-tablet-portrait-up {
                height: 6.4rem;
                padding: 2rem 4rem;
            }
        }
        @include for-phone-only {
            .button-wrap {
            display: flex;
            justify-content: center;
                .btn-primary {
                    font-size: 1rem;
                    letter-spacing: 0.054rem;
                    height: 4rem;
                    padding: 0 2rem;
                    border-radius: 2px;
                    @include for-tablet-portrait-up {
                        height: 6.4rem;
                        padding: 0 4rem;
                        }
                    }
                }
            } 
        img {
            width: 120px;
            margin-bottom: 1.6rem;
            @include for-tablet-portrait-up {
                width: 160px;
                margin-bottom: 2.4rem;
            }
            @include for-midsize-desktop-up {
                width: 184px;
            }
        }
        p.subcopy {
            @include defaultFont(1rem);
            line-height: 1.3rem;
            color: $grey1a;
            width: 200px;
            margin-bottom: 0;
            span {
                @include defaultFontBold(1rem);
            }
            @include for-tablet-portrait-up {
                width: 180px;
                font-size: 1.4rem;
                line-height: 2rem;
                span {
                    @include defaultFontBold(1.4rem);
                }  
            }
            @include for-midsize-desktop-up {
                font-size: 1.5rem;
                letter-spacing: 0;
                line-height: 20px;
                width: 220px;
                span {
                    @include defaultFontBold(1.5rem);
                } 
            }
        }
        p {
            @include for-tablet-portrait-up {
                font-size: 1.6rem;
                line-height: 2.2rem;
               /* margin-bottom: 4.8rem; */
            }
            @include for-midsize-desktop-up {
                font-size: 1.8rem;
                line-height: 2.8rem;
              /*  margin-bottom: 4.8rem; */
            }
        }
        .praise {
           margin-bottom: 0.8rem;
            @include for-tablet-portrait-up {
                margin-bottom: 1.6rem;
            }
            @include for-midsize-desktop-up {
                margin-bottom: 3.2rem;
            }
            
            .column-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                @include for-tablet-portrait-only {
                    display: block;
                    .column-right {
                        p:last-child {
                            padding-bottom: 3rem;
                        }
                    }
                }
                @include for-tablet-landscape-up {
                    .column-left {
                        padding-right: 24px;
                    }
                    .column-right {
                        padding-left: 24px;
                    }
                }
                @include for-midsize-desktop-up {
                    .column-left {
                        padding-right: 28px;
                    }
                    .column-right {
                        padding-left: 28px;
                    }
                }
                p:last-child {
                    padding-bottom: 0;
                }
            }

            p {
                font-size: 1.4rem;
                line-height: 2rem;
                margin-bottom: 1.6rem;
                &.attrib {
                    color: $grey1a;
                    margin-bottom: 2.4rem;
                }
                @include for-midsize-desktop-up {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            .bordered-header {
                margin-bottom: 3.2rem;
                margin-top: 4.8rem;
                @include for-tablet-landscape-up {
                    margin-top: 2.4rem;
                }
                @include for-midsize-desktop-up {
                    margin-top: 4.8rem;
                }
            }
        }
    }
    /* ------ General -------- */
    .center-content-post {
        max-width: 720px;
        @include for-tablet-portrait-only {
            max-width: 560px;
        }
    }

    .page-section-header {
        text-transform: none;
        font-size: 1.6rem;
        letter-spacing: .04rem;
        line-height: 1.9rem;
        margin-bottom: 3.2rem;
        @include for-tablet-portrait-up {
            font-size: 3rem;
            letter-spacing: .07rem;
            line-height: 3.6rem;
        }
        @include for-tablet-landscape-up {
            font-size: 3.6rem;
            letter-spacing: .1rem;
            line-height: 4.2rem;
        }
    }
    .bordered-header {
        font-size: 1.3rem;
        padding-top: 0.8rem;
        letter-spacing: 0.07rem;
        margin-bottom: 2.4rem;
        @include for-tablet-portrait-up {
            font-size: 1.6rem;
            letter-spacing: .09rem;
            margin-top: 2.4rem;
            padding-top: 1.6rem;
        }
    }
    .nav {
        display: inline-block;
    }
    .anchor-links {
        text-align: left;
        a {
            top: 0;
        }
        li {
            line-height: 3.2rem;
            @include for-tablet-portrait-up {
            line-height: 5.2rem;
            }
        }
        li.active a {
            color: $color1;
        }
    }
    .accordion {
        margin-bottom: 0rem;
    }
    @include for-tablet-portrait-up {
        .nav a.highlight:after, .nav li.active a:after {
            content: "";
            width: 48px;
            position: absolute;
            top: 31px;
            left: 0;
            border-bottom: 4px solid #e24000;
            opacity: 1;
            transition: 150ms;
         }
        }  
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}