/* -- eviction-matters.scss -- */

.eviction-matters {
    .alt-bg.video-panel {
        background: #424670; /* Old browsers */
        background: -moz-linear-gradient(top, #424670 0%, #2F3251 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #424670 0%, #2F3251 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #424670 0%,#2F3251 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #fff;
        li, a {
            color: #fff;
            display: inline;
        }
        a {
            margin-right: 5px;
        }
        .nav-tabs {
            border-bottom: 0;
        }
        .center-content-post.page-list {
            padding-top: 0;
        }
        .anchor-links {
            margin-bottom: 0;
            @include for-tablet-portrait-up {
                padding-top: 1rem;
                margin-bottom: 1.2rem;
                li {
                    margin-right: 5px;
                }
            }
        }
    }
    .alt-bg.book-panel {
        padding-top: 4rem;
        padding-bottom: 4rem;
        @include for-tablet-portrait-up {
            padding-top: 5.6rem;
            padding-bottom: 5.6rem;
        }
        .center-content-post.page-list {
            background-color: #fff;
            padding: 3.2rem 2rem 2.4rem;
            @include for-tablet-portrait-up {
                padding: 4rem 2rem 2.4rem;
            }
            
        }
        h2 {text-align: center;}
        .page-section-header {
            margin-bottom: 2.4rem;
            @include for-tablet-portrait-up {
                margin-bottom: 4rem;
            }
        }
        .evicted-book {
            @include for-tablet-portrait-up {
            display: grid;
            grid-template-columns: 33% 1fr;
            }
        }
        .book-img {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include for-tablet-portrait-up {
                display: block;
            }
            p {
                text-align: center;
                @include for-tablet-portrait-up {
                    text-align: left;
                }
            }
        }
        @include for-phone-only {
            .button-wrap {
            display: flex;
            justify-content: center;
            .btn-primary {
                    font-size: 1rem;
                    letter-spacing: 0.054rem;
                    height: 4rem;
                    padding: 0 2rem;
                    border-radius: 2px;
                    }
                }
            } 
        img {
            width: 120px;
            margin-bottom: 1.6rem;
        }
        p.subcopy {
            @include defaultFont(1rem);
            line-height: 1.3rem;
            color: $grey1a;
            width: 200px;
            margin-bottom: 0;
            span {
                @include defaultFontBold(1rem);
            }
        }
    }
    .center-content-post {
        max-width: 720px;
        @include for-tablet-portrait-up {
            max-width: 560px;
        }
    }
    .page-section-header {
        text-transform: none;
        font-size: 1.6rem;
        letter-spacing: .04rem;
        line-height: 1.9rem;
        margin-bottom: 3.2rem;
        @include for-tablet-portrait-up {
            font-size: 3rem;
            letter-spacing: .07rem;
            line-height: 3.6rem;
        }
    }
    .bordered-header {
        font-size: 1.3rem;
        padding-top: 0.8rem;
        letter-spacing: 0.07rem;
        margin-bottom: 2.4rem;
        @include for-tablet-portrait-up {
            font-size: 1.6rem;
            letter-spacing: .09rem;
            margin-top: 2.4rem;
            padding-top: 1.6rem;
        }
    }
    .nav {
        display: inline-block;
    }
    .anchor-links {
        text-align: left;
        a {
            top: 0;
        }
        li {
            line-height: 3.2rem;
            @include for-tablet-portrait-up {
            line-height: 5.2rem;
            }
        }
        li.active a {
            color: $color1;
        }
    }
    .accordion {
        margin-bottom: 0rem;
    }
    @include for-tablet-portrait-up {
        .nav a.highlight:after, .nav li.active a:after {
            content: "";
            width: 48px;
            position: absolute;
            top: 31px;
            left: 0;
            border-bottom: 4px solid #e24000;
            opacity: 1;
            transition: 150ms;
         }
        }  
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}