/* _font-face.scss */

@font-face {
  font-family: "Akkurat-Bold";
  src:url("./font/Akkurat-Bold/lineto-akkurat-bold.eot");
  src:url("./font/Akkurat-Bold/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
      url("./font/Akkurat-Bold/lineto-akkurat-bold.woff2") format("woff2"),
      url("./font/Akkurat-Bold/lineto-akkurat-bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Regular";
  src:url("./font/Akkurat-Regular/lineto-akkurat-regular.eot");
  src:url("./font/Akkurat-Regular/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
      url("./font/Akkurat-Regular/lineto-akkurat-regular.woff2") format("woff2"),
      url("./font/Akkurat-Regular/lineto-akkurat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti-Display-Medium";
  src:url("./font/GT-Eesti/GT-Eesti-Display-Medium.eot");
  src:url("./font/GT-Eesti/GT-Eesti-Display-Medium.eot?#iefix") format("embedded-opentype"),
      url("./font/GT-Eesti/GT-Eesti-Display-Medium.woff2") format("woff2"),
      url("./font/GT-Eesti/GT-Eesti-Display-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti-Display-Bold";
  src:url("./font/GT-Eesti/GT-Eesti-Display-Bold.eot");
  src:url("./font/GT-Eesti/GT-Eesti-Display-Bold.eot?#iefix") format("embedded-opentype"),
      url("./font/GT-Eesti/GT-Eesti-Display-Bold.woff2") format("woff2"),
      url("./font/GT-Eesti/GT-Eesti-Display-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
