/* _header.scss */

/* header and logo */

.header-wrapper {
  transition: all 0.4s ease;
}

header {
  display: flex !important; // important required to override bootstrap display: block;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 80px;
  transition: height 0.4s ease;
  @include for-phone-only {
    height: 55px;
  }
}

// Condensed Header
// ---
@media(min-width: $gtMobile) {
  .header-wrapper {
    &.condensed {
      height: $headerHeightSm;
      min-height: $headerHeightSm;

      header { height: $headerHeightSm; }

      .header-logo img {
        width: grid(31); // 248px
        height: 18px;
      }
      // resize menu icon
      .header-icons {
        width:grid(4);
        height:grid(5);
        & .btn.btn-icon.el-button-menu {
          width: grid(4);
          height: grid(5);
          .icon {
            width: 22px;
            height: 22px;
          }
          span {
            top:auto;
            font-size: 10px;
          }
        }
      }
    }
  }
}

// scale header
@media(min-width: $gtTablet) {
  .condensed {
    .header-logo img {
      transform: scale(0.775);
    }
  }
}

.header-logo {
  flex-grow: 7;
  max-width: 400px;
  @include for-phone-only {
    position: relative;
    top: -6px;
  }
  @include for-tablet-portrait-up {
    position: relative;
    top: 4px;
  }
}

.logo-svg {
  @include for-mobile-portrait-up {
    width: 211px;
  }
  @include for-tablet-portrait-up {
    width: 274px;
  }
  @include for-tablet-landscape-up {
    width: 318px;
  }
}

.header-menu {
  flex-grow: 1;
  max-width: 50px;
  padding: 0 0 0 6px;
  margin-top: -5px;
}
