/* _header.scss */

/* header and logo */

header {
  width: 100%;
  height: 78px;
  padding: $defaultPaddingWebsite;
  padding-bottom: 0;
}

.header-logo {
  width: 80%;
}

.header-menu {
  width: 20%;
}
