/* _home-splash.scss */
.splash-wrapper {
  width: 100%;
  display: block;
  padding-left: $defaultPadding;
  padding-right: $defaultPadding;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/hero-slide-1.jpg');
  background-size: cover;
  @include for-tablet-landscape-up {
    box-shadow: $insetShadowTop;
  }
}

.splash {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.hero-cta {
  max-width:300px;
  padding: 40px $defaultPadding 20px 0;
  @include for-iphone-8plus-portrait-only {
    padding: 125px $defaultPadding 120px 0;
  }
  h1 {
    @include altFont(24px);
    letter-spacing: 1px;
    color: $altTextColor;
    @include for-iphone-8plus-portrait-only {
      @include altFont(30px);
      letter-spacing: 2px;
      line-height: 42px;
    }
  }
  p {
    @include defaultFont(14px);
    color: $altTextColor;
    margin: 15px 0 18px 0;
    line-height: 21px;
    @include for-iphone-8plus-portrait-only {
      @include defaultFont(15px);
      margin: 20px 0 37px 0;
      line-height: 22px;
    }
  }
  a {
    @include defaultFont(14px);
    color: $altTextColor;
    background-color: $color1;
    border-color: $color1;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  a:hover {
    color: $altTextColor;
  }
  div {
    width: 300px;
    display: flex;
    a:hover {
      border: 5px solid $secondaryAltTextColor;
    }
    a {
      background-color: transparent;
      border: 5px solid #fff;
      border-radius: 2px;
      margin: 30px 20px 0 0;
      color: $secondaryAltTextColor;
      font-size: 20px;
      padding: 5px 10px;
      width: 45px;
      height: 45px;
      text-align: center;
      @include for-iphone-8plus-portrait-only {
        margin: 100px 20px 0 0;
      }
      i {
        position: relative;
        top: -3px;
      }
    }

  }
}

.slider {
  width: 100%;
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    .carousel-item:before {
      box-shadow: $insetShadowTop;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
  }
}

/* *************** */

.new-splash {
  height: 100%;
  background: black;
}

.section {
  position: relative;
  height:100%;
  background: green;
}

.section-content {
  width:100%;
  padding: 0 24px;
  max-width: 1200px;
  margin: auto;
  background: yellow;
}

.section-split {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  background: orange;
  .section-image {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    width:50%;
    height:100%;
    background-image: url('/img/hero-slide-1.jpg');
    background-color: blue;
    background-position:50% 50%;
    background-size: cover;
  }
  .hero {
    width: 17em;
    background: red;
  }
}
