/* _home-splash.scss */

/* *************** */

//variables
$maxWidth: 1200px;
$defaultMargin: $defaultPadding;
$heroMargin: 76px;
$heroWidth: 300px;

// section styles
.new-splash {
  //height: 100%;
  height: calc(100vh - 90px);
  min-height: 445px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/hero-slide-1.jpg');
  background-size: cover;
  margin-top: 90px;
  @include for-iphone-8plus-portrait-only {
    min-height: 760px;
  }
  @include for-tablet-portrait-up {
    min-height: 930px;
  }
  @include for-tablet-landscape-up {
    background: none;
    box-shadow: $insetShadowTop;
    min-height: 590px;
  }
}

.section {
  position: relative;
  height:100%;
}

.section-content {
  position:relative;
  z-index:2;
  width:100%;
  padding: 0 $defaultMargin;
  max-width: $maxWidth;
  margin: 0 auto;

  //a messy hack to keep the left padding consistant
  @media (min-width: 1217px) {
    padding-left: 15px;
  }
  @media (min-width: 1219px) {
    padding-left: 14px;
  }
  @media (min-width: 1221px) {
    padding-left: 13px;
  }
  @media (min-width: 1223px) {
    padding-left: 12px;
  }
  @media (min-width: 1225px) {
    padding-left: 11px;
  }
  @media (min-width: 1227px) {
    padding-left: 10px;
  }
  @media (min-width: 1229px) {
    padding-left: 9px;
  }
  @media (min-width: 1231px) {
    padding-left: 8px;
  }
  @media (min-width: 1233px) {
    padding-left: 7px;
  }
  @media (min-width: 1235px) {
    padding-left: 6px;
  }
  @media (min-width: 1237px) {
    padding-left: 5px;
  }
  @media (min-width: 1239px) {
    padding-left: 4px;
  }
  @media (min-width: 1241px) {
    padding-left: 3px;
  }
  @media (min-width: 1243px) {
    padding-left: 2px;
  }
  @media (min-width: 1245px) {
    padding-left: 1px;
  }
  @media (min-width: 1247px) {
    padding-left: 0;
  }


}


.section-split {
  display:flex;
  //align-items: center;
  justify-content: flex-start;
  .section-image {
    display: none;
    overflow: hidden;
    @include for-tablet-landscape-up {
      display: block;
      box-shadow: $insetShadowTop;
    }
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - (((100% - #{$maxWidth}) / 2) + (#{$heroWidth} + #{$heroMargin} * 2.3)));
    height: 100%;
    background-image: url('/img/hero-slide-1.jpg');
    background-position:50% 50%;
    background-size: cover;
    .carousel-item:before {
      box-shadow: $insetShadowTop;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
  }
  .hero {
    max-width: $heroWidth;
    padding: 40px $defaultPadding 20px 0;
    color: $altTextColor;
    @include for-iphone-8plus-portrait-only {
      padding: 30px $defaultPadding 120px 0;
    }
    @include for-tablet-portrait-up {
      max-width: 478px;
      padding: 52px $defaultPadding 82px 0;
    }
    @include for-tablet-landscape-up {
      color: $textColor;
      max-width: 370px;
      padding: 52px $defaultPadding 10px 0;
    }
    h1 {
      @include altFont(24px);
      letter-spacing: 1px;
      @include for-iphone-8plus-portrait-only {
        @include altFont(30px);
        letter-spacing: 2px;
        line-height: 42px;
      }
      @include for-tablet-portrait-up {
        @include altFont(40px);
        letter-spacing: 2px;
        line-height: 50px;
      }
      @include for-tablet-landscape-up {
        @include altFont(44px);
        letter-spacing: 2px;
        line-height: 50px;
      }
    }
    p {
      @include defaultFont(14px);
      margin: 15px 0 18px 0;
      line-height: 21px;
      @include for-iphone-8plus-portrait-only {
        @include defaultFont(13px);
        margin: 20px 0 37px 0;
        line-height: 19px;
      }
      @include for-tablet-portrait-up {
        max-width: 440px;
        @include defaultFont(17px);
        line-height: 23px;
      }
      @include for-tablet-landscape-up {
        color: $secondaryAltTextColor;
      }
    }
    a {
      @include defaultFont(14px);
      color: $altTextColor;
      background-color: $color1;
      border-color: $color1;
      padding: 25px 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    a:hover {
      color: $altTextColor;
    }
    div {
      width: 300px;
      display: flex;
      a:hover {
        border: 5px solid $secondaryAltTextColor;
        @include for-tablet-landscape-up {
          color: $secondaryAltTextColor;
        }
      }
      a {
        background-color: transparent;
        border: 5px solid #fff;
        border-radius: 2px;
        margin: 30px 20px 0 0;
        //color: $secondaryAltTextColor;
        font-size: 20px;
        padding: 5px 10px;
        width: 45px;
        height: 45px;
        text-align: center;
        @include for-iphone-8plus-portrait-only {
          margin: 205px 20px 0 0;
        }
        @include for-tablet-portrait-up {
          border-color: #f4f7f9;
          margin: 50px 20px 50px 0;
        }
        @include for-tablet-landscape-up {
          color: $secondaryAltTextColor;
          border-color: #f4f7f9;
          margin: 50px 20px 50px 0;
        }
        i {
          position: relative;
          top: -3px;
        }
      }

    }

  }
}
