/* _index.scss */

.page-section-header {
  @include altFont(1.8em);
  text-transform: uppercase;
  letter-spacing: .07em;
  margin-bottom: 45px;
}

/* for non-list index pages, such as FAQ, Methods, etc. */

.graphic-header {
  height: 300px;
  text-align: center;
  h1 {
    padding-top: 113px;
    text-transform: uppercase;
    letter-spacing: .09em;
    color: $altTextColor;
    text-shadow: $textShadow;
    @include altFont(2.3em);
  }
  .underbar {
    width: 110px;
    height: 8px;
    background: $color1;
    margin: 14px auto;
    box-shadow: $boxShadowBottom;
  }
}

/* background images */

.help-faq {
  background: url('/img/help-faq-header.jpg') center #000;
}

.methods {
  background: url('/img/methods-header.jpg') center #000;
}

/* subnav */

.anchor-links {
  padding: 25px 0;
  margin-bottom: 60px;
  text-align: center;
  @include for-tablet-portrait-up {
    padding: 25px 45px;
    text-align: left;
  }
  li:last-child {
    margin-right: 0;
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    @include defaultFontBold(12px);
    color: $secondaryTextColor;
    @include for-tablet-portrait-up {
      margin-right: 25px;
      @include defaultFontBold(15px);
    }
    @include for-tablet-landscape-up {
      margin-right: 45px;
    }
    a {
      @include defaultFontBold(16px);
      color: $textColor;
      position: relative;
      top: -3px;
      margin-right: 13px;
      @include for-tablet-portrait-up {
        @include defaultFontBold(17px);
      }
      @include for-tablet-landscape-up {
        @include defaultFontBold(18px);
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .only-larger-screens {
    display: none;
    @include for-tablet-portrait-up {
      display: inline-block;
    }
  }
}

/* accordion sections */

.accordion {
  margin-bottom: 70px;
}
.accordion-section {
  margin-bottom: 16px;
  border-bottom: 2px solid $secondaryBackground;
  a {
    display: block;
    width: 100%;
    color: $color1;
    @include defaultFontBold(20px);
    padding-bottom: 16px;
    span {
      float: left;
      width: 90%;
    }
    div {
      clear: both;
    }
  }
  a:hover {
    color: $color1;
    text-decoration: none;
  }
  i {
    float: right;
    display: block;
    color: $color1;
    position: relative;
    top: 8px;
  }
  .collapsed {
    @include defaultFont(20px);
    i {
      transform: rotate(0.5turn);
    }
  }
  .answer {
    padding-bottom: 10px;
    @include defaultFont(20px);
    a {
      display: inline;
    }
  }
}

.accordion-section:last-child {
  border-bottom: none;
}

.recommended {
  text-align: center;
  margin-bottom: 45px;
  .header {
    @include defaultFontBold(15px);
    color: $secondaryTextColor;
    text-transform: uppercase;
    margin: 2em 0 .8em 0;
  }
  li {
    margin-bottom: 20px;
  }
  a {
    @include defaultFontBold(24px);
    color: $color1;
    text-decoration: underline;
  }
}
