/* _index.scss */

.page-section-header {
  @include altFont(2.6rem);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 4.5rem;
  @include for-phone-only {
    @include altFont(2rem);
    letter-spacing: 0.2rem;
  }
}

.page-section-headerv2 {
  @include altFont(2rem);
  letter-spacing: 0.2rem;
  color: $color2;
  text-transform: uppercase;
  @include for-tablet-portrait-up {
    @include altFont(2.4rem);
    letter-spacing: 0.18rem;
    line-height: 2.6rem;
    margin-bottom: 4.5rem;
  }
}

/* for non-list index pages, such as FAQ, Methods, etc. */

.graphic-header {
  text-align: center;
  @include for-phone-only {
    height: 150px;
  }
  @include for-tablet-portrait-and-landscape {
    height: 260px;
  }
  @include for-tablet-landscape-up {
    height: 300px;
  }
  h1 {
    padding-top: 120px;
    text-transform: uppercase;
    letter-spacing: .42rem;
    color: $altTextColor;
    text-shadow: $textShadow;
    @include altFont(3.6rem);
    @include for-tablet-portrait-and-landscape {
      @include altFont(3rem);
      padding-top: 100px;
      letter-spacing: .33rem;
    }
    @include for-phone-only {
      @include altFont(2rem);
      padding-top: 57px;
      letter-spacing: .2rem;
    }
  }
  .underbar {
    width: 110px;
    height: 8px;
    background: $color1;
    margin: 14px auto;
    box-shadow: $boxShadowBottom;
    @include for-phone-only {
      width: 70px;
      height: 5px;
      margin: 8px auto;
    }
  }
}

/* article hero images */

.help-faq {
  background: url('/images/assets/hero/girl-looking-out-window-hero.jpg') center #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}

.methods {
  background: url('/images/assets/hero/sherriff-taking-notes.jpg') #000; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.about-us-hero {
  background: url('/images/assets/hero/overhead-belongings-hero2.jpg') #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.wem-hero {
  background: url('/images/assets/hero/child-in-court-hero.jpg') #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: bottom;
}
.updates-hero {
  background: url('/images/assets/hero/overhead-belongings.jpg') #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  
}

/* subnav */

.subnav {
  z-index: 991;
}

.anchor-links {
  padding: 25px 0;
  margin-bottom: 60px;
  text-align: center;
  @include for-tablet-landscape-up {
    padding: 17px 45px;
  }
  li:last-child {
    margin-right: 0;
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    @include altFont(12px);
    color: $secondaryTextColor;
    @include for-tablet-portrait-up {
      margin-right: 25px;
      @include altFont(15px);
    }
    @include for-tablet-landscape-up {
      margin-right: 45px;
    }
    a {
      @include altFont(16px);
      color: $textColor;
      position: relative;
      top: -3px;
      margin-right: 13px;
      @include for-phone-only {
        @include altFont($subnavFontPhone);
        text-transform: uppercase;
        top: -15px; 
        letter-spacing: 0.05rem;
      }
      @include for-tablet-portrait-and-landscape {
        @include altFont($subnavFontTablet);
        top: -15px;
        letter-spacing: 0.08rem;
      }
      @include for-tablet-landscape-up {
        @include altFont($subnavFontDesktop);
        letter-spacing: 0.04rem;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .only-larger-screens {
    display: none;
    @include for-tablet-landscape-up {
      display: inline-block;
      position: relative;
      top: -3px;
      letter-spacing: 0.04rem;
    }
  }
}

/* --- Dropdowns --- */
ul.anchor-links.dropdown-menu.show {
  @include for-phone-only {
    transform: translate3d(-160px, 51px, 0px)!important;
    left: 50%!important;
  }
  @include for-tablet-portrait-only {
      transform: translate3d(-160px, 51px, 0px)!important;
      left: 50%!important;
  }
  @include for-tablet-landscape-up {
  transform: translate3d(200px, 56px, 0px) !important;
 
  }
  
}
.dropdown {
  border: none;
  display: flex;
  justify-content: center;
  button {
    @include altFont(12px);
    color: $secondaryTextColor;
    border: none;
    background: none;
    height: 50px;
    @include for-tablet-landscape-up {
      height: 56px;
    }
    width: 320px;
    &:focus {
      color: $color1;
      outline: 0;
    }
    @include for-tablet-portrait-up {
      @include altFont(15px);
    }
  }
  .dropdown-menu {
    border: none;
  }
  ul.anchor-links {
    padding: 0;
      width: 320px;
      z-index: 1000;
      &.dropdown-menu {
        background-color: #F4F7F9;
        padding: 10px 0;
      }
    
    li {
      display: block;
      margin: 2px 0;
      a {
        top: initial;
        margin: 0;
        text-transform: uppercase;
        &:hover {
          background-color: #F4F7F9;
        }
      }
      a:after {
        display: none;
      }
    }
  }
}

/* set list page content padding, etc. */

.center-content-post.page-list {
  padding-top: 5.5rem;
  @include for-phone-only {
    padding-top: 3.5rem;
  }
}

/* accordion sections */

.accordion {
  margin-bottom: 4rem;
  margin-top: 2.4rem;
  @include for-tablet-portrait-up {
    margin-top: 3.2rem;
  }
  @include for-midsize-desktop-up {
    margin-top: 4.8rem;
  }
  li:before {
    content: '\b7\a0';
    position:absolute;
    right:100%
}
  li {
      list-style:none;
      position:relative;
      margin-left: 7px;
  }
}
.accordion-section {
  margin-bottom: 3rem;
  @include for-phone-only {
    margin-bottom: 2rem;
  }
  border-bottom: 2px solid $secondaryBackground;
  a {
    display: block;
    width: 100%;
    color: $color1;
    padding-bottom: 3rem;
    font-family: $boldFontStack;
    @include for-phone-only {
      /* font-size: $fontSizeSmall; */
      padding-bottom: 2rem;
    }

    span {
      font-size: 1.6rem;
      @include for-phone-only {
        font-size: $fontSizeSmall;
        line-height: 2.2rem;
      }
      @include for-midsize-desktop-up {
        font-size: 1.8rem;
      }
      float: left;
      width: 90%;
    }
    div {
      clear: both;
    }
  }
  a:hover {
    color: $color1;
    text-decoration: none;
  }
  i {
    float: right;
    display: block;
    color: $color1;
    position: relative;
    top: 8px;
  }
  .fa {
    @include for-phone-only {
      font-size: 1.4rem;
    }
  }
  .collapsed {
    @include defaultFont(20px);
    i {
      transform: rotate(0.5turn);
    }
  }
  .answer {
    @include defaultFont(20px);
    a {
      display: inline;
    }
    p {
      /* padding-bottom: 3rem; */
      @include for-phone-only {
      /*  padding-bottom: 2rem; */
      }
    img {
        width: 20px;
    }  
    }
  }
}

.accordion-section:last-child {
  border-bottom: none;
}


