/* _lists.scss */


/* blog and media lists */
.list-item {
  padding: $defaultPadding;
  clear: both;
  height: 152px;
  @include for-tablet-portrait-up {
    padding: $defaultPadding 40px;
  }
  @include for-tablet-landscape-up {
    padding: $defaultPadding 118px;
  }
  .chevron {
    display: none;
    @include for-phone-only {
      display: block;
      float: left;
      width: 50px;
      color: $color1;
      position: relative;
      top: 45px;
      left: 15px;
    }
  }
  .img {
    width: 200px;
    float: left;
    display: none;
    @include for-tablet-portrait-up {
      display: block;
    }
    @include for-tablet-landscape-up {
      width: 230px;
    }
  }
  .details {
    width: 250px;
    float: left;
    padding-top: 22px;
    @include for-tablet-portrait-up {
      
    }
    @include for-tablet-landscape-up {
      width: 400px;
    }
    @include for-desktop-up {
      width: 700px;
    }
    .title {
      @include defaultFontBold(1.5em);
      a {
        color: $textColor;
        text-decoration: none;
      }
    }
    .date {
      @include smallCapsTextThin(1em);
      color: lighten( $textColor, 70% );
      padding: 5px 0 20px 0;
    }
  }

}

/* research lists */

.research-type {
  @include smallCapsText(.83em);
  padding: 40px 260px 20px 260px;
  display: block;
  @include for-phone-only {
    padding: 40px $defaultPadding 20px $defaultPadding;
  }
}

.research-article {
  padding: 50px 260px;
  @include for-phone-only {
    padding: 50px $defaultPadding;
  }
  .title {
    @include defaultFontBold(1.5em);
    color: $textColor;
    text-decoration: none;
    padding-left: 47px;
  }
  i {
    color: $color1;
    position: relative;
    top: 10px;
  }
  span {
    padding-left: 65px;
    @include defaultFont(.9em);
    color: lighten( $textColor, 70% );
  }
}

/* alt rows for lists */
.alt-rows > div:nth-of-type(even) {
    background: #F4F7F9;
}

.alt-rows-research > div:nth-of-type(odd) {
    background: #F4F7F9;
}

/* list page thumbnails */
.list-thumb {
  width: 160px;
  height: 120px;
}
