$menuMargin: grid(5);


// Container layout
// ---
.app-menu {
  position:fixed;
  width: $menuWidth;
  height:100%;
  top:0;
  right: 0;
  transform: translate3d(($menuWidth+5px),0,0); // translate a little extra so shadow doesn't show
  z-index:999;
  background: $menuBg;
  padding: 0 $menuMargin; // 40px margin on menu
  display:block;
  transition: transform 0.4s ease;
  box-shadow: $menuShadow;
  overflow:auto;
  &.expanded {
    transform: translate3d(0,0,0);
  }
}
// boost size on tablet+
@media(min-width: $gtMobile) {
  .app-menu {
    width: $menuWidthLg;
    transform: translate3d(($menuWidthLg+5px),0,0);
    &.expanded {
      transform:translate3d(0,0,0);
    }
  }
}

// Close button
// ---
.app-menu .menu-close {
  position:absolute;
  top: grid(1);
  right: grid(1);
  width: grid(6);
  height: grid(6);
  cursor: pointer;
  .icon { 
    width: 22px; 
    height: 22px; 
    fill: $white;
  }
  span {
    display:block;
    color: $white;
    margin-top: grid(1);
    @include altSmallCapsText(10px);
  }
}
@media(min-width: $gtMobile) {
  .app-menu .menu-close {
    width: grid(7);
    height: grid(7);
    .icon { 
      width: grid(4); 
      height: grid(4); 
    }
    span { @include altSmallCapsText(14px); }
  }
}

// Navigation Links
// ---
.site-navigation {
  @include altFont(18px);
  letter-spacing: 0.6px;
  margin-top: $menuMargin;
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
  li {
    margin-bottom: grid(1.5);
  }
  a {
    display: inline-block;
    color: $white;
    border-bottom: grid(0.5) solid transparent;
    &:hover, &:focus {
      color: $white;
      border-bottom-color: $white;
      text-decoration: none;
    }
  }
}
// boost size on tablet+
@media(min-width: $gtMobile) {
  .app-menu .site-navigation {
    @include altFont(28px);
    letter-spacing: 0.7px;
    li { margin-bottom: grid(2); }
  }
}


// Language Toggle - Only visible on "maps" mobile view
// ---
.app-menu .language-select.dropdown {
  display: block;
  position:absolute;
  width: grid(27);
  left: $menuMargin;
  bottom: grid(15);
  background: none;
  border: 4px solid #383d65;
  border-radius: 0;
  box-shadow: none;
  height: 40px;

  .dropdown-menu {
    top: auto;
    margin-bottom: 2px;
    position: absolute;
    left: 0;
    z-index: 1000;
    float: left;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    border: none;
    margin-top: 1px;
    width: 100%;
    box-sizing: border-box;
    min-width: 80px;
    max-height: 224px;
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 3px 6px 0 hsla(0,0%,57%,.23);

    li {
      cursor: pointer;
      a {
        font-family: Akkurat-Regular,sans-serif;
        width: 100%;
        display: block;
        clear: both;
        font-weight: 400;
        padding: 16px;
        border-top: 1px solid #efefef;
        min-height: 48px;
        white-space: normal;
        box-sizing: border-box;
        color: #050403;
        text-decoration: none;

        &:hover { background-color: #efefef; }
        &:focus { box-shadow: 0 0 5px 1px #e24000; }
      }
    }
  }

  .el-select.dropdown-toggle {
    padding: 8px 20px 8px 8px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: GT-Eesti-Display-Bold, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .325px;
    text-transform: uppercase;
    letter-spacing: .73125px;
    text-align: left;
    cursor: pointer;

    &::after { display: none; }
    .fa {
      font-size: 8px;
      right: 8px;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #e24000;
    }
  }
}


// Social media links
// ---
.social-media-links {
  position:absolute;
  bottom:0;
  left:0;
  padding: 0 0 $menuMargin $menuMargin;
  list-style: none;
  margin:0;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  // border button overrides
  .btn.btn-border {
    padding: grid(1);
    background: none;
    margin-right: grid(1.5);
    width: grid(5.5);
    height: grid(5.5);
    border-width: grid(0.5);
    border-color: $grey5;
    border-radius: 0;
    color: $grey4;
    i { 
      margin: 0 auto;
      width: grid(2);
      height: grid(2);
      color: $menuGrey;
      font-size: 18px;
    }
    &:hover {
      i { color: $white; }
    }
  }
}

// Copyright Message
// ---
.menu-copyright {
  position:absolute;
  bottom: $menuMargin;
  right: $menuMargin;
  @include defaultFont(11px);
  color: $menuGrey;
}

