/* _subnav.scss */

/* sub navigation */

.subnav {
  width: 100%;
  /*padding-top: $defaultPaddingWebsite;
  padding-bottom: $defaultPaddingWebsite;*/
  height: 75px;
  background: white;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  z-index: 1;
  @include up-thru-tablet {
    height: 50px; 
  }
  @include for-phone-only {
      top: 55px;
    }
}

.subnav-link, .subnav-link:hover,
.subnav-active, .subnav-active:hover {
  font-family: $boldFontStack;
  margin-right: 56px;
  color: $textColor2;
  text-decoration: none;
  padding-bottom: 22px;
  @include for-phone-only {
    margin-right: 14px;
  }
}

.subnav-active, .subnav-active:hover {
  color: $color1;
  border-bottom: $color1 5px solid;
}
