/* _subnav.scss */

/* sub navigation */

.subnav {
  width: 100%;
  /*padding-top: $defaultPaddingWebsite;
  padding-bottom: $defaultPaddingWebsite;*/
  height: 56px;
  background: white;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  z-index: 1;
  @include up-thru-tablet {
    height: 50px; 
  }
  @include for-phone-only {
      top: 55px;
    }
}

.subnav-link, .subnav-link:hover,
.subnav-active, .subnav-active:hover {
  font-family: $altFontStack;
  /* margin-right: 56px; */
  color: $textColor2;
  text-decoration: none;
  padding-bottom: 22px;
  @include for-phone-only {
    margin-right: 14px;
  }
}

.subnav-active, .subnav-active:hover {
  color: $color1;
  border-bottom: $color1 5px solid;
}

/* Updates subnavigation */

.updates-nav {
  padding: 25px 0;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
  @include for-phone-only {
    justify-content: space-between;
  }
  max-width: 720px;
  margin: auto;
  @include for-tablet-landscape-up {
    padding: 17px 45px;
  }
  li:last-child {
   /* margin-right: 0;*/
  }
  li {
    display: inline-block;
    vertical-align: top;
   /* margin-right: 5px; */
    @include altFont(12px);
    color: $secondaryTextColor;
    @include for-phone-only {
      position: relative;
      top: 7px;
    }
    @include for-tablet-portrait-and-landscape {
      position: relative;
      top: 4px;
    }
    @include for-tablet-portrait-up {
     /* margin-right: 25px; */
      @include altFont(15px);
    }
    @include for-tablet-landscape-up {
     /* margin-right: 45px; */
    }
    a {
      @include altFont(16px);
      color: $textColor3;
      position: relative;
     /* margin-right: 13px; */
      @include for-phone-only {
        @include altFont($subnavFontPhone);
        text-transform: uppercase;
        top: -15px; 
        letter-spacing: 0.05rem;
      }
      @include for-tablet-portrait-and-landscape {
        @include altFont($subnavFontTablet);
        top: -15px;
        letter-spacing: 0.08rem;
      }
      @include for-tablet-landscape-up {
        @include altFont($subnavFontDesktop);
        letter-spacing: 0.04rem;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .only-larger-screens {
    display: none;
    @include for-tablet-landscape-up {
      display: inline-block;
      position: relative;
      top: 1px;
      text-transform: uppercase;
      letter-spacing: 0.04rem;
    }
  }
}
