/* _updates.scss */

/* --- Updates pages styles --- */

/* General params styling */

a.cat-link {
    text-transform: capitalize;
}
.blog-type {
    color: #E04119;
}
.media-type {
    color: #434878;
}
.research-type {
    color: #2C897F;
    border-color: $color3;
    border: none;
}
.events-list-header.research-type.outside-research {
    padding-top: 32px;
}
.events-type {
    color: #768693;
    border-color: $color6;
}
.alt-bg {
    background: #F4F7F9;
}