/* _utils.scss */

/* debugging helpers */

.debug-visibility {
  display: none; // none or block, shows template path at bottom of page content above footer
}

/* various utilities */

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    min-height: 80px;
    background: #fff;
    z-index: 2000;
    @include for-phone-only {
      min-height: 55px;
    }
}

.center-page-wrapper {
  width: 100%;
  display: block;
  padding-left: $defaultPadding;
  padding-right: $defaultPadding;
  @include for-phone-only{
    padding: 0 $zoneOnePadding;
  }
  @include for-tablet-portrait-and-landscape {
    padding: 0 $zoneTwoPadding;
  }
}

.center-page-wrapper-content {
  width: 100%;
  display: block;
  padding-left: 0;
  padding-right: 0;
  @include for-tablet-portrait-up {
    padding-left: $defaultPadding;
    padding-right: $defaultPadding;
  }
}

.center-page, .center-content, .center-content-post, .center-content-small {
  width: 100%;
  margin: auto;
}

.center-page {
  max-width: 1200px;
  &.hero-title {
    position: relative;
    top: -292px;
}
}

.center-content {
  max-width: 1000px;
  &.list-item {
    max-width: 720px;
  }
}

.center-content-post {
  max-width: 790px;
  line-height: 32px;
}

.center-content-small {
  max-width: 720px;
}

.header-shadow {
  box-shadow: $outsetShadowTop;
}

.inset-shadow-top {
  box-shadow: $insetShadowTop;
}

.shadow-bottom {
  box-shadow: $boxShadowBottom;
}

.color1 {
  color: $color1;
}

.font1 {
  font-family: $boldFontStack;
}

.font2 {
  font-family: $fontStack;
  font-weight: 300;
}

.high-z {
  z-index: 10000;
}
.low-z {
  z-index: 1;
}
.capitalize {
  text-transform: capitalize;
}
.ak-bold {
  font-family: $boldFontStack;
}
.mobile-off {
  @include for-phone-only {
    display: none;
  }
}
.mobile-on {
  @include for-tablet-portrait-up {
    display: none;
  }
}
.padding3 {
  padding: $defaultPaddingWebsite;
}

.paddingtop3 {
  padding-top: $defaultPaddingWebsite;
}

.mobile-vh {
  transition: $mobileVhTransition;
}
