// Layout
// ----

// shortcut function for sizing based on grid
@function grid($n) { @return $n * $gridSize; }

$gridSize: 8px; // base grid value used for margins and element sizing
$defaultPadding: grid(2); // default padding for containers
$defaultPaddingWebsite: grid(3); // default padding for containers
$pageMargin: grid(2); // page margin on mobile
$pageMarginLg: grid(3); // page margin on tablet+
$maxContentWidth: 1200px; // max width for page content
$mobile: 766px; // mobile device breakpoint
$gtMobile: 767px; // greater than mobile device breakpoint
$gtTablet: 1024px; // greater than tablet device breakpoint
$gtSmallDesktop: 1279px; // greater than small desktop device breakpoint
$gtLargeDesktop: 1599px; // greater than large desktop device breakpoint



// some other breakpoint/range stuff

@mixin for-phone-only {
  @media (max-width: $mobile) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $gtMobile) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $gtTablet) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $gtSmallDesktop) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: $gtLargeDesktop) { @content; }
}


// Typography
// ----

@import 'font-face';

$fontStack: Akkurat-Regular, sans-serif;
$headerFontStack: GT-Eesti-Display-Medium, sans-serif;
$boldFontStack: Akkurat-Bold, sans-serif;
$altFontStack: GT-Eesti-Display-Bold, sans-serif;
$numberFontStack:  "Gotham A", "Gotham B", sans-serif;

@mixin defaultFont($size) {
  font-family: $fontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin defaultFontBold($size) {
  font-family: $boldFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin altFont($size) {
  font-family: $altFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin numberFont($size) {
  font-family: $numberFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin smallCapsText($size) {
  @include defaultFontBold($size);
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@mixin smallCapsTextThin($size) {
  @include defaultFont($size);
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@mixin inputText() {
  @include defaultFont(18px);
}

$fontSizeExtraSmall: 10px;
$fontSizeSmall: 12px;
$fontSizeMedium: 26px;
$fontSizeLarge: 30px;
$fontSizeExtraLarge: 36px;

// Base Colors
// ----
$textColor: #000;
$textColor2: #060504;
$secondaryTextColor: rgba(0,0,0,0.38);
$altTextColor: #fff; // text on dark backgrounds
$linkColor: #22ABED;
$defaultBackground: #fff;
$secondaryBackground: #F4F7F9;
$shadingColor: #efefef;
$color1: #e24000;
$color2: #434878;
$color3: #2c897f;
$color4: #4a4238;
$color5: #b5c2b7;


// Shadows
// ----
$z1shadow: 0 1px 3px rgba(0,0,0,0.3);
$z2shadow: 0 2px 5px rgba(0,0,0,0.5);
$z3shadow: 0 2px 5px rgba(0,0,0,0.5), 0 2px 10px rgba(0,0,0,0.5);
$insetShadowTop: inset 0px 10px 10px -10px rgba( 0, 0, 0, 0.6 );
$boxShadowBottom: 0px 2px 3px rgba( 0, 0, 0, 0.3 );
$textShadow: 0px 2px 4px rgba( 0, 0, 0, 0.6 );

// Gradients
// ----
@mixin gradient ($deg,$gradColor) {
  background: linear-gradient($deg, lighten( $gradColor, 20% ) 0%, $gradColor 100%);
}

/* ====================== */
/* ====================== */
/* ====================== */

body {
  //letter-spacing: .03em;
}

@import 'utils';
@import 'header';
@import 'burger';
@import 'subnav';
@import 'section-page-header';
@import 'breadcrumbs';
@import 'home-splash';
@import 'index';
@import 'lists';
@import 'single';
@import 'footer';
