// Layout
// ----
html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}
// shortcut function for sizing based on grid
@function grid($n) { @return $n * $gridSize; }

$gridSize: 8px; // base grid value used for margins and element sizing
$zoneOnePadding: 20px; // page padding for 320+
$zoneTwoPadding: 28px; // page padding for 768+
$defaultPadding: grid(2); // default padding for containers
$defaultPaddingWebsite: grid(3); // default padding for containers
$pageMargin: grid(2); // page margin on mobile
$pageMarginLg: grid(3); // page margin on tablet+
$maxContentWidth: 1200px; // max width for page content

$bottomMarginPhone: grid(6);
$bottomMarginTablet: grid(7);
$bottomMarginDesktop: grid(9);

// device breakpoints
$gtMobilePortrait: 319px; // greater than mobile device breakpoint
$iphone-8plus-portrait: 414px;
$sub480: 479px; // small mobile breakpoint
$above480: 480px; // above small mobile breakpoint
$mobile: 767px; // mobile device breakpoint
$gtMobile: 768px; // greater than mobile device breakpoint
$tabletLimit: 1023px; // max width of tablet landscape
$gtTablet: 1024px; // greater than tablet device breakpoint
$tabletLandscapeHeight: 690px; // max tablet landscape height
$gtSmallDesktop: 1279px; // greater than small desktop device breakpoint
$smDesktopLimit: 1439px; // 
$gtMidDesktop: 1440px; // greater than midsize desktop device breakpoint
$gtLargeDesktop: 1599px; // greater than large desktop device breakpoint



// some other breakpoint/range stuff
@mixin for-mobile-portrait-up {
  @media (min-width: $gtMobilePortrait) { @content; }
}
@mixin for-iphone-8plus-portrait-only {
  @media (min-width: $iphone-8plus-portrait) { @content; }
}
@mixin for-sub480 {
  @media (max-width:$sub480) { @content; }
}
@mixin for-above480 {
  @media (min-width:$above480) { @content; }
}
@mixin for-480-thru-767 {
  @media (min-width:$above480) and (max-width:$mobile) { @content; }
}
@mixin for-480-thru-1023 {
  @media (min-width:$above480) and (max-width:$tabletLimit) { @content; }
}
@mixin for-phone-only {
  @media (max-width: $mobile) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $gtMobile) { @content; }
}
@mixin for-768-thru-1023 {
  @media (min-width:$above480) and (max-width:$tabletLimit) { @content; }
}
@mixin for-tablet-portrait-thru-sm-desktop {
  @media (min-width: $gtMobile) and (max-width: $smDesktopLimit) { @content; }
}
// 768-1023px
@mixin for-tablet-portrait-and-landscape {
  @media (min-width: $gtMobile) and (max-width: $tabletLimit) { @content; }
}  
@mixin for-tablet-landscape-up {
  @media (min-width: $gtTablet) { @content; }
}
@mixin for-tablet-landscape-up-w-height {
  @media (min-width: $gtTablet) and (max-height: $tabletLandscapeHeight) { @content; }
}
@mixin up-thru-tablet {
  @media (max-width: $tabletLimit) { @content; }
} 
// 1024-1439px 
@mixin sm-thru-med-desktop {
  @media (min-width: $gtTablet) and (max-width: $smDesktopLimit) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $gtSmallDesktop) { @content; }
}
// 1440+ 
@mixin for-midsize-desktop-up {
  @media (min-width: $gtMidDesktop) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: $gtLargeDesktop) { @content; }
}


// Typography
// ----

@import 'font-face';

$fontStack: Akkurat-Regular, sans-serif;
$headerFontStack: GT-Eesti-Display-Medium, sans-serif;
$boldFontStack: Akkurat-Bold, sans-serif;
$altFontStack: GT-Eesti-Display-Bold, sans-serif;
$numberFontStack:  "Gotham A", "Gotham B", sans-serif;

@mixin defaultFont($size) {
  font-family: $fontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin defaultFontBold($size) {
  font-family: $boldFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin altFont($size) {
  font-family: $altFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin numberFont($size) {
  font-family: $numberFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin smallCapsText($size) {
  @include defaultFontBold($size);
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@mixin smallCapsTextThin($size) {
  @include defaultFont($size);
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@mixin inputText() {
  @include defaultFont(18px);
}

$fontSizeExtraSmall: 1rem;
$fontSizeSmall: 1.4rem;
$fontSizeSmall1440: 1.5rem;
$fontSize320H3: 1.6rem;
$fontSize1024Body: 1.6rem;
$fontSize1440Body: 1.8rem;
$fontSizeMedium: 2.1rem;
$fontSize1024H3: 2.8rem;
$fontSizeLarge: 3.0rem;
$fontSizeExtraLarge: 3.6rem;

$subnavFontDesktop: 1.6rem;
$subnavFontTablet: 1.6rem;
$subnavFontPhone: 1.2rem;

// Base Colors
// ----
$textColor: #000;
$textColor2: #060504;
$textColor3: #333;
$secondaryTextColor: rgba(0,0,0,0.38);
$altTextColor: #fff; // text on dark backgrounds
$secondaryAltTextColor: #919191; // text on dark-ish backgrounds
$linkColor: #22ABED;
$defaultBackground: #fff;
$secondaryBackground: #F4F7F9;
$shadingColor: #efefef;
$color1: #e24000;
$color2: #434878;
$color3: #2c897f;
$color4: #4a4238;
$color5: #b5c2b7;
$color6: #768693;


// Shadows
// ----
$z1shadow: 0 1px 3px rgba(0,0,0,0.3);
$z2shadow: 0 2px 5px rgba(0,0,0,0.5);
$z3shadow: 0 2px 5px rgba(0,0,0,0.5), 0 2px 10px rgba(0,0,0,0.5);
$insetShadowTop: inset 0px 10px 10px -10px rgba( 0, 0, 0, 0.6 );
$outsetShadowTop: 0px -2px 8px 3px rgba(0, 0, 0, 0.24);
$boxShadowBottom: 0px 2px 3px rgba( 0, 0, 0, 0.2 );
$textShadow: 0px 2px 4px rgba( 0, 0, 0, 0.6 );

// Mobile VH fix
// ----
$mobileVhTransition: height 3600s steps(1);

// Gradients
// ----
@mixin gradient ($deg,$gradColor) {
  background: linear-gradient($deg, lighten( $gradColor, 20% ) 0%, $gradColor 100%);
}

// BG Images
// ----
@mixin backgroundImage($path) {
  background: url($path);
  background-position: center;
  background-size: cover;
}

// Hover Bars
// ----
@mixin hoverBar($className,$width,$height,$topAndBottomMargin,$leftAndRightMargin) {
  .#{$className} {
    visibility: hidden;
    width: $width;
    height: $height;
    min-height: $height;
    background: $altTextColor;
    padding: 0;
    margin: $topAndBottomMargin $leftAndRightMargin;
    display: none;
    @include for-iphone-8plus-portrait-only {
      display: none;
    }
    @include for-tablet-landscape-up {
      display: block;
    }
  }
  a:hover + .#{$className} {
    visibility: visible;
  }
}

/* ====================== */
/* ====================== */
/* ====================== */

body {
  //letter-spacing: .03em;
}

p {
  font-size: 2.1rem;
  line-height: 3.2rem;
  @include for-phone-only {
    font-size: $fontSizeSmall;
    line-height: 2.2rem;
  }
}


@import 'utils';
@import 'header';
@import 'burger';
@import 'subnav';
@import 'section-page-header';
@import 'breadcrumbs';
@import 'home-splash';
@import 'home-pictorial-menu';
@import 'index';
@import 'lists';
@import 'single';
@import 'updates';
@import 'footer';

