.bar-chart {
  --c1: #e24000;
  --c2: #434878;
  --c3: #2c897f;
  --c4: #94aabd;
  --chart-frame: #fff;
  --grid-lines: #fff;
  --text-secondary: #7d7d7d;
  --primary: var(--c1);
  --secondary: var(--c2);
  --font-family-sans-serif: Akkurat-Regular, sans-serif;
  --body-font: var(--font-family-sans-serif);
  --body-font-bold: Akkurat-Bold, sans-serif;
  --body-font-italic: Akkurat-Italic, sans-serif;
  --heading-font: GT-Eesti-Display-Bold, sans-serif;
  --heading-font-med: GT-Eesti-Display-Medium, sans-serif;
  --number-font: Gotham A, Gotham B, GT-Eesti-Display-Bold, sans-serif;
  font-family: var(--body-font);
  position: relative;
  margin: 24px 0;
}

.bar-chart h3.bar-chart__title,
.bar-chart h3.bar-chart__title > span,
.bar-chart h3.bar-chart__title > p {
  font-family: GT-Eesti-Display-Medium, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .45px;
  text-align: center;
  margin: 40px auto 24px;
  padding: 0 24px;
  line-height: 1.5;
  text-transform: none;
  color: #212529;
}

.bar-chart #autoComplete_list {
  top: auto;
}

.bar-chart__search-group {
  width: 80%;
  margin: 0 auto 2rem;
  position: relative;
}

.bar-chart__search-group .bar-chart__search {
  /* width: auto; */
  display: block;
  margin: auto 0;
  text-align: left;
  background: transparent;
  border: 0;
  border-bottom: 2px solid;
  padding: 0 24px 0 12px;
}

.bar-chart__search-group .bar-chart__search:focus {
  outline: 0;
}

.bar-chart__search-group #autoComplete_list {
}

.bar-chart__search-group .bi-search {
  position: absolute;
    right: 6px;
    height: 16px;
    width: 16px;
    top: 4px;
}

.bar-chart .chart {
  height: 326px;
}
.bar-chart .chart__frame {
  fill: none;
  stroke: #fff;
  stroke: var(--chart-frame);
  stroke-width: 3;
}
.bar-chart .chart__root {
  /* increasing svg height to account for extended lines dropping down from graph */
  height: 326px;
}

/** Axis */
  .bar-chart .chart__axis .domain,
  .bar-chart .chart__axis .tick line {
    stroke: #fff;
  }
  .bar-chart .chart__axis .tick text {
    fill: var(--text-secondary);
    font-family: var(--number-font);
    font-size: 12px;
    font-weight: 500;
  }
  .bar-chart .chart__axis--time .domain,
  .bar-chart .chart__axis--time .tick line {
    stroke-width: 3;
    stroke: #fff;
  }
  .bar-chart .chart__axis--y .domain {
    stroke: none;
  }
  .bar-chart .chart__axis--y .tick line {
    stroke-width: 1;
    stroke: #fff;
  }
/** End Axis */

/* .bar-chart .chart__line {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 0;
  stroke: rgba(0,0,0,0.075);
}
.bar-chart .chart__line--hovered {
  stroke: var(--c4);
  stroke-width: 5;
} */
/* .bar-chart .chart__line--0 {
  stroke: var(--c1);
}
.bar-chart .chart__line--1 {
  stroke: var(--c2);
}
.bar-chart .chart__line--2 {
  stroke: var(--c3);
} */

.bar-chart .chart__bar.renters {
  fill: var(--c1);
}
.bar-chart .chart__bar.defendant {
  fill: var(--c2);
}
.bar-chart .chart__bar.judgment {
  fill: var(--c3);
}

/* .bar-chart .chart__bar .renters {
  stroke: var(--c1);
} */

.chart__voronoi path {
  fill: none;
  pointer-events: all;
}
.chart__tooltip {
  position: absolute;
  background: rgba(0,0,0,0.87);
  color: #fff;
  padding: 12px;
  pointer-events: none;
  opacity:0;
  transition: opacity 0.2s ease-in-out;
  transform: translate(-50%, calc(-100% - 12px));
}
.chart__tooltip.chart__tooltip--show {
  opacity:1;
}

.chart__tooltip .tooltip__title {
  font-size: 14px;
  font-family: GT-Eesti-Display-Bold, sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.07em;
  white-space: nowrap;
}
.chart__tooltip .tooltip__item {
  font-size: 12px;
  white-space: nowrap;
}
.chart__tooltip .tooltip__item span:first-child {
  font-weight: bold;
}

.chart__hover-line {
  stroke-width: 1;
  stroke: rgba(0,0,0,0.1)
}
.chart__hover-dot {
  fill: var(--c4);
}
.chart__hover-dot.chart__hover-dot--0 {
  fill: var(--c1);
}
.chart__hover-dot.chart__hover-dot--1 {
  fill: var(--c2);
}
.chart__hover-dot.chart__hover-dot--2 {
  fill: var(--c3);
}







.legend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.legend > * + * {
  margin-left: 16px;
}
.legend-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

/** colors */
.legend-item__color {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: #999;
}
.legend-item--0 .legend-item__color {
  background: var(--c1);
}
.legend-item--1 .legend-item__color {
  background: var(--c2);
}
.legend-item--2 .legend-item__color {
  background: var(--c3);
}
.legend-item--3 .legend-item__color {
  background: var(--c4);
}

.legend-item__label {
  line-height: 1;
  font-family: var(--heading-font);
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}
.legend-item__label {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .legend-item__label {
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
  }
}

/** INDIVIDUAL CHART OVERRIDES **/
@media(max-width: 540px) {
  #summed .chart__axis--time .tick text {
    font-size: 11px;
  }
}
@media(min-width: 768px) {
  .bar-chart.bar-chart--summed {
    width: 124%;
    margin-left: -12%;
  }
}
