
/** MAPBOX SHORTCODE STYLES */

.visual__mapbox {
  position: relative;
  min-height: 400px;
}
.visual__mapbox .map {
  position: absolute;
  height:100%;
  width: 100%;
}

.visual__tooltip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 8px;
}

.visual__tooltip h1 {
  font-size: 12px;
  margin: 0;
}

.visual__tooltip p {
  margin: 0;
}

.visual--mapbox {
  display: flex;
  flex-direction: column;
}

.visual--mapbox .legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  max-width: 280px;
  align-self: center;
}
.visual--mapbox .legend > * + * {
  margin-left:0;
}
/** need high specificity here in order to override high specificity rules in single.scss */
.center-content-post.updates-post .page-content .visual--mapbox .legend__title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
}
.visual--mapbox .legend__gradient {
  width: 100%;
  height: 16px;
}

.visual--mapbox .legend__gradient .legend__gradient-label--tick {
  font-size: 1.16rem;
}

.visual--mapbox .legend__gradient-labels {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  min-height: 24px;
}
.visual--mapbox .legend__gradient-labels span {
  font-size: 1.2rem;
  color: var(--text-secondary);
  width: 48px;
  text-align: center;
}
.visual--mapbox .legend__gradient-labels .legend__gradient-label:first-child {
  position: relative;
  left: -4px;
  text-align: left;
}
.visual--mapbox .legend__gradient-labels .legend__gradient-label:last-child {
  position: relative;
  left: 4px;
  text-align: right;
}

/** SVG MAP SHORTCODE STYLES */
.svg-map {
  margin: 2em auto;
}

/** break out from margins */
@media (min-width: 960px) {
  .svg-map {
    margin-left: -12%;
    margin-right: -12%;
    width: calc(100% + 24%);
  }
}

.svg-map__tooltip {
  position: fixed;
  pointer-events: none;
  background: rgba(0,0,0,0.87);
  color: #fff;
  padding: 12px;
  opacity:0;
  font-size: 14px;
  transition: opacity 0.2s ease-in-out;
  transform: translate(-50%, calc(-100% - 12px));
}
.svg-map__tooltip--show {
  opacity: 1;
}
.svg-map__tooltip span {
  display: block;
  line-height: 1.5;
}
.svg-map__tooltip span:first-child {
  font-size: 14px;
  font-family: GT-Eesti-Display-Bold, sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.07em;
  white-space: nowrap;
}
.svg-map__tooltip span:nth-child(2) {
  font-size: 12px;
}

.svg-map__title {
  font-family: GT-Eesti-Display-Medium,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .45px;
    text-align: center;
    margin: 40px auto 24px;
    padding: 0 24px;
    line-height: 1.5;
    text-transform: none;
    color: #212529;
}

.svg-map__body {
  position: relative;
  height: 1px;
  padding-top: 66.666%;
}

/** add margin when scale is below map */
@media(max-width: 768px) {
  .svg-map__body {
    margin-bottom: 64px;
  }
}

.svg-map__map {
  position: absolute;
  top: 0;
}


.svg-map__shape {
  stroke: #fff;
  stroke-width: 1;
}

.svg-map__shape--hovered {
  stroke: #2c897f;
  fill: none;
  stroke-width: 2;
}

.svg-map__legend {
  position: absolute;
  pointer-events: none;
  top: 64px;
  left: -64px;

}

.svg-map__legend--horizontal {
  top: auto;
  bottom: -50px;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

.svg-map__legend path,
.svg-map__legend line {
  stroke: #fff;
  stroke-width: 2;
}

.svg-map__legend rect {
  stroke-width: 2;
  stroke: #fff;
}

.svg-map__legend text {
  fill: #7d7d7d;
  font-family: Gotham A, Gotham B, GT-Eesti-Display-Bold, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/** need high specificity here due to other styles in single.scss */
.center-content-post.updates-post .page-content .svg-map .svg-map__caption {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 2em;
  color: #7d7d7d;
}

.chart {
  --c1: #e24000;
  --c2: #434878;
  --c3: #2c897f;
  --c4: #94aabd;
  --chart-frame: #fff;
  --grid-lines: #fff;
  --text-secondary: #7d7d7d;
  --primary: var(--c1);
  --secondary: var(--c2);
  --font-family-sans-serif: Akkurat-Regular, sans-serif;
  --body-font: var(--font-family-sans-serif);
  --body-font-bold: Akkurat-Bold, sans-serif;
  --body-font-italic: Akkurat-Italic, sans-serif;
  --heading-font: GT-Eesti-Display-Bold, sans-serif;
  --heading-font-med: GT-Eesti-Display-Medium, sans-serif;
  --number-font: Gotham A, Gotham B, GT-Eesti-Display-Bold, sans-serif;
  font-family: var(--body-font);
  position: relative;
  margin: 24px 0;
}



@media(max-width: 480px) {
  .chart, .visual {
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
  }
}

/** Breakout of margin when space is available */
@media(min-width: 768px) {
  .chart, .visual {
    width: 124%;
    margin-left: -12%;
  }
}

/** 
  Need a high level of specificity here, 
  as several of the page level CSS definitions
  override this
*/

body .chart .chart__title, body .chart .chart__title > *,
body .visual .visual__title, body .visual .visual__title > * {
  font-family: GT-Eesti-Display-Medium, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .45px;
  text-align: center;
  margin: 40px auto 24px;
  padding: 0 24px;
  line-height: 1.5;
  text-transform: none;
  color: #212529;
}

.chart__body {
  height: 326px;
}
.chart__frame {
  fill: none;
  stroke: #fff;
  stroke: var(--chart-frame);
  stroke-width: 3;
}
.chart__root {
  /* increasing svg height to account for extended lines dropping down from graph */
  height: 326px;
}

/** Axis */
  .chart__axis .domain,
  .chart__axis .tick line {
    stroke: #fff;
  }
  .chart__axis .tick text {
    fill: var(--text-secondary);
    font-family: var(--number-font);
    font-size: 12px;
    font-weight: 500;
  }
  .chart__axis--time .domain,
  .chart__axis--time .tick line {
    stroke-width: 3;
    stroke: #fff;
  }
  .chart__axis--y .domain {
    stroke: none;
  }
  .chart__axis--y .tick line {
    stroke-width: 1;
    stroke: #fff;
  }

  .chart__axis-label {
    /* font-family: var(--heading-font); */
    font-size: 14px;
    font-weight: 400;
  }
  .chart__axis-label--x {
    
  }
  .chart__axis-label--y {
    
  }
/** End Axis */

.chart__line {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 0;
  stroke: rgba(0,0,0,0.075);
}
.chart__line--hovered {
  stroke: var(--c4);
  stroke-width: 5;
}

.chart__body--highlight1 .chart__line--0,
.chart__body--highlight2 .chart__line--0,
.chart__body--highlight3 .chart__line--0,
.chart__body--highlight4 .chart__line--0,
.chart__body--highlight5 .chart__line--0 {
  stroke: var(--c1);
  stroke: #e24000
}

.chart__body--highlight2 .chart__line--1,
.chart__body--highlight3 .chart__line--1,
.chart__body--highlight4 .chart__line--1,
.chart__body--highlight5 .chart__line--1 {
  stroke: var(--c2);
  stroke: #434878
}

.chart__body--highlight2 .chart__line--2,
.chart__body--highlight3 .chart__line--2,
.chart__body--highlight4 .chart__line--2,
.chart__body--highlight5 .chart__line--2 {
  stroke: var(--c3);
  stroke: #2c897f;
}

.chart__body--highlight4 .chart__line--3,
.chart__body--highlight5 .chart__line--3 {
  stroke: var(--c4);
  stroke: #94aabd;
}

.chart__body--highlight5 .chart__line--4 {
  stroke: #f781bf;
}

.chart__voronoi path {
  fill: none;
  pointer-events: all;
}
.chart__tooltip {
  position: absolute;
  background: rgba(0,0,0,0.87);
  color: #fff;
  padding: 12px;
  pointer-events: none;
  opacity:0;
  transition: opacity 0.2s ease-in-out;
  transform: translate(-50%, calc(-100% - 12px));
}
.chart__tooltip.chart__tooltip--show {
  opacity:1;
}

.chart__tooltip .tooltip__title {
  font-size: 14px;
  font-family: GT-Eesti-Display-Bold, sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.07em;
  white-space: nowrap;
}
.chart__tooltip .tooltip__item {
  font-size: 12px;
  white-space: nowrap;
}
.chart__tooltip .tooltip__item span:first-child {
  font-weight: bold;
}

.chart__hover-line {
  stroke-width: 1;
  stroke: rgba(0,0,0,0.1)
}
.chart__hover-dot {
  fill: var(--c4);
}
.chart__hover-dot.chart__hover-dot--0 {
  fill: var(--c1);
  fill: #e24000
}
.chart__hover-dot.chart__hover-dot--1 {
  fill: var(--c2);
  fill: #434878;
}
.chart__hover-dot.chart__hover-dot--2 {
  fill: var(--c3);
  fill: #2c897f
}




/** STACK CHARTS */

.chart--stack .chart__area {
  fill-opacity:0.25;
  stroke: none;
}

.chart--stack .chart__area--0 {
  fill: var(--c1);
  fill: #e24000
}

.chart--stack .chart__area--1 {
  fill: var(--c2);
  fill: #434878
}

.chart--stack .chart__area--2 {
  fill: var(--c3);
  fill: #2c897f;
}

.chart--stack .chart__line--0 {
  stroke: var(--c1);
  stroke: #e24000
}

.chart--stack .chart__line--1 {
  stroke: var(--c2);
  stroke: #434878
}

.chart--stack .chart__line--2 {
  stroke: var(--c3);
  stroke: #2c897f;
}

.legend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.legend > * + * {
  margin-left: 16px;
}
.legend-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

/** colors */
.legend-item__color {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: #999;
}
.legend-item--0 .legend-item__color {
  background: var(--c1);
  background: #e24000
}
.legend-item--1 .legend-item__color {
  background: var(--c2);
  background: #434878
}
.legend-item--2 .legend-item__color {
  background: var(--c3);
  background: #2c897f
}
.legend-item--3 .legend-item__color {
  background: var(--c4);
}
.legend-item--4 .legend-item__color {
  background: #f781bf
}

.legend-item__label {
  line-height: 1;
  font-family: var(--heading-font);
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}
.legend-item__label {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .legend-item__label {
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
  }
}


/** INDIVIDUAL LINE CHART OVERRIDES **/
@media(max-width: 540px) {
  .chart--summed .chart__axis--time .tick text {
    font-size: 11px;
  }
}
@media(min-width: 768px) {
  .chart--summed.chart--line {
    width: 124%;
    margin-left: -12%;
  }
}

/** ONE YEAR OF MORATORIA LINE CHART OVERRIDES **/
.chart--oneyear .chart__line { stroke-opacity: 0.9;}
.chart--oneyear .chart__line.chart__line--hovered { stroke-opacity: 1;}
.chart--oneyear .chart__line--0 { stroke: #e24000 }
.chart--oneyear .chart__line--1 { stroke: #434878 }
.chart--oneyear .chart__line--2 { stroke: #2c897f }
.chart--oneyear .chart__line--3 { stroke: #94aabd }
.chart--oneyear .chart__line--4 { stroke: #ff7f00 }
.chart--oneyear .chart__line--5 { stroke: #9c9c1f }
.chart--oneyear .chart__line--6 { stroke: #a65628 }
.chart--oneyear .chart__line--7 { stroke: #f781bf }
.chart--oneyear .chart__line--8 { stroke: #984ea3 }

.chart--oneyear .chart__hover-dot--0 { fill: #e24000 }
.chart--oneyear .chart__hover-dot--1 { fill: #434878 }
.chart--oneyear .chart__hover-dot--2 { fill: #2c897f }
.chart--oneyear .chart__hover-dot--3 { fill: #94aabd }
.chart--oneyear .chart__hover-dot--4 { fill: #ff7f00 }
.chart--oneyear .chart__hover-dot--5 { fill: #9c9c1f }
.chart--oneyear .chart__hover-dot--6 { fill: #a65628 }
.chart--oneyear .chart__hover-dot--7 { fill: #f781bf }
.chart--oneyear .chart__hover-dot--8 { fill: #984ea3 }

.chart--oneyear .legend-item--0 .legend-item__color { background: #e24000 }
.chart--oneyear .legend-item--1 .legend-item__color { background: #434878 }
.chart--oneyear .legend-item--2 .legend-item__color { background: #2c897f }
.chart--oneyear .legend-item--3 .legend-item__color { background: #94aabd }
.chart--oneyear .legend-item--4 .legend-item__color { background: #ff7f00 }
.chart--oneyear .legend-item--5 .legend-item__color { background: #9c9c1f }
.chart--oneyear .legend-item--6 .legend-item__color { background: #a65628 }
.chart--oneyear .legend-item--7 .legend-item__color { background: #f781bf }
.chart--oneyear .legend-item--8 .legend-item__color { background: #984ea3 }

/** ROUTINE VS INFREQUENT OVERRIDES */

/** legend items */
.chart--routine1 .legend-item__label span + span,
.chart--routine2 .legend-item__label span + span,
.chart--routine3 .legend-item__label span + span {
  font-family: Akkurat-Regular, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 4px;
  color: #7d7d7d;
  display: block;
}

.chart__tooltip--routine1 .tooltip__item span + span,
.chart__tooltip--routine2 .tooltip__item span + span,
.chart__tooltip--routine3 .tooltip__item span + span {
  display: none;
}

.chart__tooltip--routine1 .tooltip__item span,
.chart__tooltip--routine2 .tooltip__item span,
.chart__tooltip--routine3 .tooltip__item span {
  color: #fff
}

.chart__tooltip--routine1 .tooltip__item,
.chart__tooltip--routine2 .tooltip__item,
.chart__tooltip--routine3 .tooltip__item {
  margin-top: 8px;
  color: #ccc
}


/** BANDED BAR CHART OVERRIDES **/

.chart.chart--bar .chart__body,
.chart.chart--bar .chart__root {
  height: 480px
}
.chart.chart--bar .chart__bar {
  fill: #434878
}
.chart.chart--bar .chart__bar:hover {
  fill: #e24000
}
@media(max-width: 480px) {
  .chart.chart--bar .tick text {
    font-size: 10px
  }
}

/** HISTOGRAM CHART OVERRIDES **/

.chart.chart--histogram .chart__body,
.chart.chart--histogram .chart__root {
  height: 480px
}
.chart.chart--histogram .chart__bar {
  fill: #434878
}
.chart.chart--histogram .chart__bar:hover {
  fill: #e24000
}



/** GROUPED BAR CHART + SEARCH OVERRIDES */

.chart #autoComplete_list {
  top: auto;
}

.chart__search-group {
  width: 80%;
  margin: 0 auto 2rem;
  position: relative;
}

.chart__search {
  /* width: auto; */
  display: block;
  margin: auto 0;
  text-align: left;
  background: transparent;
  border: 0;
  border-bottom: 2px solid;
  padding: 0 24px 0 12px;
}

.chart__search:focus {
  outline: 0;
}

.chart__search-group .bi-search {
  position: absolute;
    right: 6px;
    height: 16px;
    width: 16px;
    top: 4px;
}

.chart .chart__bar.renters {
  fill: var(--c1);
}
.chart .chart__bar.defendant {
  fill: var(--c2);
}
.chart .chart__bar.judgment {
  fill: var(--c3);
}

/** WEEKLY EVICTION % CHART */

/** Highlight bars */
.chart--fig1 .chart__bars .chart__bar:nth-child(35),
.chart--fig1 .chart__bars .chart__bar:nth-child(36) {
  fill: #e24000;
  fill: var(--c1);
}

.chart__mark {
  stroke: #e24000;
  stroke: var(--c1);
  stroke-dasharray: 2 2;
  transform: translateX(1px);
  pointer-events: none;
}