<!--
<code>{{/* printf "%#v" $.Site */}}</code>
<hr>
<code>{{/* printf "%#v" $.Page */}}</code>
-->

<!-- back to section link -->
{{ if not .IsHome }}
<div class="fl w-100 pa blog-bg-color">
    <h1 class="mh2 mv3 fw3 ttu tracked f7">
      <a class="no-underline link dim white" href="{{ .Site.BaseURL }}{{ .Section }}">
        <i class="fa fa-chevron-left"></i> back to {{ humanize .Section }}
      </a>
    </h1>
</div>
{{ end }}

<!-- footer -->
<div class="fl w-100 pt6 pb6" style="background: url('/img/footer-bg.png') #393939;">

<div class="fl w-100 fw3">
  <!-- footer left -->
  <div class="fl w-100 w-33-l tc">
    <img src="/img/logo-footer.png" style="position: relative; top: -37px;"/>
  </div>

<!-- footer middle -->
  <div class="fl w-100 w-33-l tc tl-l pl5-l">

    <div class="fl w-100 w-50-l">
      <ul>
        <li class="mb3"><a href="#" class="link dim white">Home</a></li>
        <li class="mb3"><a href="#" class="link dim white">About Us</a></li>
        <li class="mb3"><a href="#" class="link dim white">Methods</a></li>
        <li class="mb3"><a href="#" class="link dim white">Help & FAQ</a></li>
      </ul>
    </div>
    <div class="fl w-100 w-50-l">
      <ul>
        <li class="mb3"><a href="#" class="link dim white">City Rankings</a></li>
        <li class="mb3"><a href="#" class="link dim white">Updates</a></li>
        <li class="mb3"><a href="#" class="link dim white">Learn More</a></li>
        <li class="mb3"><a href="#" class="link dim white">Did You Know?</a></li>
      </ul>
      <p class="mt5 mb5 white">&copy; {{ now.Format "2006" }} Eviction Lab</p>
    </div>

  </div>

<!-- footer right -->
  <div class="fl w-100 w-33-l tc">

    <div class="fl w-100 mb3 tc white">
      <p>Connect with us</p>
    </div>


    <div class="fl w-25">&nbsp;</div>
    <div class="fl w-25">
      <a href="#"><img src="/img/social-fb-icon.png"/></a>
    </div>

    <div class="fl w-25">
      <a href="#"><img src="/img/social-twitter-icon.png"/></a>
    </div>
    <div class="fl w-25">&nbsp;</div>

  </div>

</div>

</div>

<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
