<!--
<code>{{/* printf "%#v" $.Site */}}</code>
<hr>
<code>{{/* printf "%#v" $.Page */}}</code>
-->

<!-- footer -->
<div class="fl w-100 pt6 pb6" style="background: url('/img/footer-bg.png') #393939;">

<div class="fl w-100 fw3">
  <!-- footer left -->
  <div class="fl w-100 w-33-l pb4 tc">
    <img src="/img/logo-footer.png" />
    <div class="footer-divider dn db-l"></div>
  </div>

<!-- footer middle -->
  <div class="fl w-100 w-33-l tc tl-l pl5-l font2">


    <div class="w-100 w-90-l cf">

      <div class="fl w-100 w-50-l">
        <ul class="f6">
          <li class="mb3"><a href="#" class="link dim white">Home</a></li>
          <li class="mb3"><a href="#" class="link dim white">About Us</a></li>
          <li class="mb3"><a href="#" class="link dim white">Methods</a></li>
          <li class="mb3"><a href="#" class="link dim white">Help & FAQ</a></li>
        </ul>
      </div>

      <div class="fl w-100 w-50-l">
        <ul class="f6">
          <li class="mb3"><a href="#" class="link dim white">City Rankings</a></li>
          <li class="mb3"><a href="#" class="link dim white">Updates</a></li>
          <li class="mb3"><a href="#" class="link dim white">Learn More</a></li>
        </ul>
      </div>

    </div>

    <div class="w-100 w-90-l fl">
      <p class="mb5 mt3 moon-gray f7">&copy; {{ now.Format "2006" }} Eviction Lab</p>
    </div>



  </div>

<!-- footer right -->
  <div class="fl w-100 w-33-l tc font2">
      <div class="footer-divider footer-divider-right dn db-l"></div>
      <p class="white f7 flex items-center">
        <span class="ph4 db fl">Connect with us</span>
        <a href="#" class="db fr ba bw2 b--white-10 mr4"><img src="/img/social-fb-icon.png"/></a>
        <a href="#" class="db fr ba bw2 b--white-10 mr4"><img src="/img/social-twitter-icon.png"/></a>
      </p>
  </div>

</div>

</div>

<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
