<!doctype html>
<html lang="en-US">
	<head>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M955JVB');</script>
		<!-- End Google Tag Manager -->

		<title>Eviction Lab</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6135894/6199192/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/hamburger-menu.css"/>
		<link rel="stylesheet" type="text/css" href="/css/main-sass.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

		<script src="/js/modernizr.js"></script>
    <base href="{{ $.Site.BaseURL }}">
  </head>

  <body class="debug-grid-16x helvetica tracked">

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M955JVB"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

    <div class="fl w-100 pv4 ph4 bg-white">

			<div class="fl w-three-quarters w-third-l">
				<a href="/"><img class="mw-100" src="/img/el-logo.png" /></a>
			</div>

      <div class="fl w-one-quarter w-two-thirds-l tr">

        <!-- +++++++++ start hamburger nav +++++++++ -->

        <div class="db dn-l"> <!-- show/hide based on media query -->
					<a href="#cd-nav" class="cd-nav-trigger">Menu
						<span class="cd-nav-icon"></span>

						<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
							<circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
						</svg>
					</a>

					<div id="cd-nav" class="cd-nav">
						<div class="cd-navigation-wrapper">

									<ul class="cd-primary-nav">
										<li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/about-us/">about</a></li>
					          <li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/city-rankings/">rankings</a></li>
					          <li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/help-faq/">faq</a></li>
					          <li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/learn-more-tell-your-story/">read/share stories</a></li>
					          <li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/maps-and-data/">maps &amp; data</a></li>
					          <li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/methods/">methods</a></li>
					          <li class="pl3 ttu tracked f7"><a class="no-underline link dim white" href="/updates/">updates</a></li>
									</ul>


						</div> <!-- .cd-navigation-wrapper -->
					</div> <!-- .cd-nav -->
			  </div> <!-- end show/hide based on media query -->

        <!-- +++++++++ end hamburger nav +++++++++ -->

				<ul class="dn db-l">
					<li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/about-us/">about</a></li>
          <li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/city-rankings/">rankings</a></li>
          <li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/help-faq/">faq</a></li>
          <li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/learn-more-tell-your-story/">read/share stories</a></li>
          <li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/maps-and-data/">maps &amp; data</a></li>
          <li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/methods/">methods</a></li>
          <li class="fr pl3 ttu tracked f7"><a class="no-underline link dim black" href="/updates/">updates</a></li>

					<!-- I don't know why but this is not working on the home page when deployed, so I commented it out -->
					{{/* range .Site.Sections }}
            <li class="fr ph3 ttu tracked f7"><a class="no-underline link dim black" href="/{{ .Section }}/">{{ humanize .Section }}</a></li>
					{{ end */}}
        </ul>
      </div>

    </div>
