<table class="table table--cities">
  <thead class="table__head">
    <tr class="table__row">
      <th class="table__cell table__cell--name">{{ .nameHeading | safeHTML }}</th>
      <th class="table__cell table__cell--number">
        {{ .filingsWeekHeading | safeHTML }}
      </th>
      <th class="table__cell table__cell--number">
        {{ .filingsTotalHeading | safeHTML }}
      </th>
      <th class="table__cell table__cell--visual" data-sorter="false">
        {{ .trendHeading | safeHTML }}
      </th>
      <th class="table__cell table__cell--button" data-sorter="false"></th>
    </tr>
  </thead>
  <tbody class="table__body" aria-live="polite">
    <tr class="table__row">
      <td colspan="4" class="loading" style="text-align: center;">
        <div class="spinner">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
