{{ partial "header" . }}

<div class="fl w-100">
  {{ partial "subnav" . }}
  {{/* partial "section-header" . */}}
  <!-- section header -->
  <div class="fl w-100 pa {{ urlize (lower .Title) }}-bg-color">
    <h1 class="mh3 mv4 white fw3 ttu tracked f4">{{ .Title }}</h1>
  </div>

</div>

<!--
<div class="fl w-100 pa3 mb1 bg-white">
    {{/* .Content */}}
</div>
-->

<!--
  I'd really rather use a seperate template for each collection,
  but I just can't get that to work, following the "documentation",
  so I'm just doing it with a bunch of else/if statement ...
  it's not pretty, but it works.
-->

<div class="fl w-100 alt-rows">
{{ range where .Site.RegularPages "Params.childof" (lower .Title) }}
  {{ if eq .Params.childof "blog" }}
  <div class="pv4 ph2 bg-white white">
    <i class="fl fa fa-chevron-right orange pa1 relative top-1"></i>
    <a class="no-underline link dim black f4 pl2" href="{{ .Permalink }}">{{ .Title }}</a>
    <br>
    <small class="moon-gray ttu tracked fw3 f7 pl2 relative top-1">{{ .Date.Format "January 2, 2006" }}</small>
  </div>

  {{ else if eq .Params.researchtype "el-research" }}
  <span class="db fl w-100 moon-gray ttu tracked fw3 f6 pa2 bg-white">research from eviction lab</span>
  <div class="pv4 ph2 bg-white white">
    <i class="fl fa fa-chevron-right orange pa1 relative top-1"></i>
    <a class="no-underline link dim black f4 pl2" href="{{ .Permalink }}">{{ .Title }}mmm</a>
    <br>
    <small class="moon-gray ttu tracked fw3 f7 pl2 relative top-1">{{ .Date.Format "January 2, 2006" }}</small>
  </div>

  {{ else if eq .Params.researchtype "outside-research" }}
  <span class="db fl w-100 moon-gray ttu tracked fw3 f6 pa2 bg-white">research from outside researchers</span>
  <div class="pv4 ph2 bg-white white">
    <i class="fl fa fa-chevron-right orange pa1 relative top-1"></i>
    <a class="no-underline link dim black f4 pl2" href="{{ .Permalink }}">{{ .Title }}mmm</a>
    <br>
    <small class="moon-gray ttu tracked fw3 f7 pl2 relative top-1">{{ .Date.Format "January 2, 2006" }}</small>
  </div>

  {{ end }}
{{ end }}

</div>

{{ partial "debug" . }}
<span class="debug-visability">rendered by = themes/THEMENAME/layouts/updates/list.html</span>

{{ partial "footer" . }}
