{{ partial "header" . }}

<div>
  {{ partial "subnav" . }}
  <!-- section header -->
  <div class="{{ urlize (lower .Title) }}-bg-color inset-shadow-top">
    <h1 class="page-header">{{ .Title }}</h1>
  </div>

  {{ partial "breadcrumb" . }}
</div>

<!--
<div class="fl w-100 pa3 mb1 bg-white">
    {{/* .Content */}}
</div>
-->

<!--
  I'd really rather use a seperate template for each collection,
  but I just can't get that to work, following the "documentation",
  so I'm just doing it with a bunch of if statement ... it works.
-->

<!-- ******************** -->
<!-- ******************** -->
<!-- ******* BLOG ******* -->

{{ if eq .Title "Blog"}} <!-- if we are on the Blog page, do stuff -->

  {{ $blog := where .Site.RegularPages "Params.childof" "blog" }}
  {{ if isset $blog 0 }} <!-- if there are Blog articles, list them -->
    <div class="alt-rows">
    {{ range where .Site.RegularPages "Params.childof" (lower .Title) }}
      {{ if eq .Params.childof "blog" }}
        <div class="list-item">

          <div class="chevron">
            <i class="fa fa-chevron-right"></i>
          </div>

          <div class="img">
            <a href="{{ .Permalink }}">
              <img class="list-thumb" src="{{ .Params.image }}">
            </a>
          </div>

            <div class="details">
              <div class="title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </div>
              <div class="date">
                <small>{{ .Date.Format "January 2, 2006" }}</small>
              </div>
            </div>

        </div>
      {{ end }}
    {{ end }}
    </div>
  {{ end }} <!-- end Blog listings -->

{{ end }} <!-- end Blog page stuff -->

<!-- ******* MEDIA ******* -->

{{ if eq .Title "Media"}} <!-- if we are on the Media page, do stuff -->

  {{ $media := where .Site.RegularPages "Params.childof" "media" }}
  {{ if isset $media 0 }} <!-- if there are Media articles, list them -->
    <div class="alt-rows">
    {{ range where .Site.RegularPages "Params.childof" (lower .Title) }}
      {{ if eq .Params.childof "media" }}
      <div class="list-item d-flex flex-column flex-md-row flex-lg-row">

        <div class="chevron">
          <i class="fa fa-chevron-right"></i>
        </div>

        <div class="img">
          <a href="{{ .Permalink }}">
            <img class="list-thumb" src="{{ .Params.image }}">
          </a>
        </div>

        <div class="d-flex flex-column flex-md-row flex-lg-row">
          <div class="align-self-center">
            <div class="title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            <div class="date">
              <small>{{ .Date.Format "January 2, 2006" }}</small>
            </div>
          </div>
        </div>

      </div>
      {{ end }}
    {{ end }}
    </div>
  {{ end }} <!-- end Media listings -->

{{ end }} <!-- end Media page stuff -->

<!-- ******* RESEARCH ******* -->

{{ if eq .Title "Research"}} <!-- if we are on the Research page, do stuff -->

  {{ $elresearch := where .Site.RegularPages "Params.researchtype" "el-research" }} <!-- count EL Research articles -->
  {{ if isset $elresearch 0 }} <!-- if there are EL Research articles, list them -->
    <div class="alt-rows-research">
      <span class="research-type">more research from the eviction lab</span>
      {{ range where .Site.RegularPages "Params.childof" (lower .Title) }}
        {{ if eq .Params.researchtype "el-research" }}
        <div class="research-article">
          <i class="fa fa-chevron-right"></i>
          <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
          <br>
          <span>Helper text will go here when it does.</span>
        </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }} <!-- end EL Research listings -->

  {{ $outsideresearch := where .Site.RegularPages "Params.researchtype" "outside-research" }} <!-- count Outside Research articles -->
  {{ if isset $outsideresearch 0 }} <!-- if there are Outside Research articles, list them -->
    <div class="alt-rows-research">
      <span class="research-type">research from outside researchers</span>
      {{ range where .Site.RegularPages "Params.childof" (lower .Title) }}
        {{ if eq .Params.researchtype "outside-research" }}
        <div class="research-article">
          <i class="fa fa-chevron-right"></i>
          <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
          <br>
          <span>Helper text will go here when it does.</span>
        </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }} <!-- end Outside Research listings -->

{{ end }} <!-- end Research page stuff -->

<!-- ******* EVENTS ******* -->

{{ if eq .Title "Events"}} <!-- if we are on the Events page, do stuff -->

  {{ $events := where .Site.RegularPages "Params.childof" "events" }}
  {{ if isset $events 0 }} <!-- if there are Events articles, list them -->
    <div class="fl w-100 flex-l justify-center-l">
    {{ range where .Site.RegularPages "Params.childof" (lower .Title) }}
      {{ if eq .Params.childof "events" }}

        <div class="fl w-20 w-40-l">
          <div class="fr w3 ml3 mt3 pa2 bg-near-white tc">
            {{ with .Params.edate }}
                <p class="f2 fw4 mb2">{{ dateFormat "3" . }}</p>
                <p class="ttu f6">{{ dateFormat "Jan" . }}</p>
            {{ end }}
          </div>
        </div>

        <div class="fl w-80 w-60-l pa3">
          <h3 class="f3 mb2"><a class="no-underline link dim black" href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <h4 class="f4 mb3">{{ .Params.subtitle }}</h4>
          <p class="f6 moon-gray mb3 fw3 lh-copy">{{ markdownify .Params.address }}</p>
          <p class="">
            <i class="fa fa-clock-o moon-gray"></i>
            {{ with .Params.edate }}
              <span class="ttu f6 pr3">{{ dateFormat "3:04pm" . }}</span>
            {{ end }}
            <a class="no-underline link dim blue" href="{{ .Params.website }}">
              <i class="fa fa-bookmark"></i>
              <span class="f6">Website</span>
            </a>
          </p>
        </div>

      {{ end }}
    {{ end }}
    </div>
  {{ end }} <!-- end Events listings -->

{{ end }} <!-- end Events page stuff -->

<!-- ************** -->
<!-- ************** -->
<!-- ************** -->

{{ partial "debug" . }}
<span class="debug-visability">rendered by = themes/THEMENAME/layouts/updates/list.html</span>

{{ partial "footer" . }}
