{{ partial "header" . }}
{{ partial "subnav" . }}
{{ partial "breadcrumb" . }}

<div class="center-page-wrapper-content">
	<div class="center-content-post">

    <figure class="article-image">
      <img src="{{ .Param "image" }}"/>
      <figcaption>
        <p class="title">{{ .Title }}</p>
        <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
      </figcaption>
    </figure>

    <div class="page-content">
      {{ .Content }}
    </div>

  </div>
</div>


{{ partial "debug" . }}
<span class="debug-visability">rendered by = themes/THEMENAME/layouts/updates/single.html</span>

{{ partial "footer" . }}
