{{ partial "header" . }}

<!-- ********** splash section ********** -->
<div class="superheader text-center  d-flex align-items-center justify-content-center" style="">
  <div class="super-content d-block">{{ i18n "superhead" | safeHTML }}</div>
</div>
<div class="new-splash fill-height">
  <div class="section section-split">

    <!-- ********* slider *********** -->

    <div class="section-image">

      <div id="hero-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <!--<img class="d-block w-100" src="/images/assets/hero/american-flag-evicted-woman.jpg" alt="First slide">-->
          </div>

          <!--<div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-2.jpg" alt="Second slide">
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="/images/assets/hero/girl-looking-out-window2.jpg" alt="Third slide">
          </div>-->

        </div>
      </div>

    </div>

    <!-- ********* copy *********** -->

    <div class="section-content">
      <div class="hero">

      <h1>
          {{ i18n "splashHeader" }}
      </h1>

      <p>{{ i18n "splashBody" }}</p>

      <a class="btn smoothScroll " href="#home-menu">{{ i18n "cta" }}</a>

      <div class="hero-social">
          <a href="https://www.facebook.com/evictionlab/" aria-label="Eviction Lab on Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/evictionlab" aria-label="Eviction Lab on Twitter"><i class="fa fa-twitter"></i></a>
      </div>

      </div>
    </div>

    <!-- ******************** -->

  </div>
</div>

<!-- ********** end splash section ******************************** -->

<!-- ********** pictorial menu section ********** -->

  <div id="sub-splash-gateway"><a id="home-menu"></a>
<!--- Main features row ------------------------------------------>    
    <div id="main-features" class="row mx-0 feature-panel"> 
      <div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto my-5 my-md-5 my-lg-8 px-3 px-md-2">
        <h2 class="policies-intro text-center mb-2">Interactive Tools</h2>
        <p class="text-center mb-0">Explore nationwide eviction data spanning the years 2000-2016. View maps and charts, download reports, and more.</p>
      </div>
      <div class="w-100"></div>
        <div id="feature-map" class="col-12 col-md-6 feature main-feature px-0 d-flex justify-content-end">
            <a class="wraplink" href="/map/"></a>  
            <div class="col-12 col-md-11 col-lg-10 d-flex flex-column justify-content-center px-lg-4 pl-md-0 pr-md-4">
                <!--<a class="wraplink" href="/map/"></a> --> 
                    <div class="wrapper">
                        <h3>MAP & DATA</h3>
                        <p>Learn about the American housing crisis by interacting with a customizable map.</p>
                        <a class="sublink" href="/map/">GO TO THE MAP <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div> 
                
            </div>     
        </div>
        <div id="feature-rankings" class="col-12 col-md-6 feature main-feature px-0 d-flex justify-content-start">
          <a class="wraplink" href="/rankings/"></a>  
            <div class="col-12 col-md-10 offset-md-1 d-flex flex-column justify-content-center px-4 pl-md-0 pr-md-2 px-lg-2">
                    <div class="wrapper">
                        <h3>EVICTION RANKINGS</h3>
                        <p>See which cities rank the highest in evictions in the US.</p>
                        <a class="sublink" href="/rankings/">GO TO RANKINGS <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div> 
                
            </div>  
        </div>
    </div>
<!--- COVID features rows ------------------------------------------>    
    <div id="covid-gateway">
      <div class="row mx-0 subfeature-panel mb-5">
        <div class="col-11 col-md-12 col-lg-10 mx-auto mt-10 mt-md-9 mt-lg-11 mb-5 mb-md-5 mb-lg-5 mb-xl-5 px-3 px-md-5 px-lg-2 d-flex">
          <img class="mr-2" alt="COVID-19 icon" src="/images/icons/covid-mask.svg"><h2 class="policies-intro">COVID-19 Resources</h2>
        </div>
        <div class="col-11 col-md-12 col-lg-10 mx-auto d-md-flex col-2-wrap">
            <div class="feature d-flex flex-column justify-content-center px-0 mb-6 mb-md-0 mr-md-1 mr-lg-2">
                <a class="wraplink" href="/eviction-tracking/"></a>
                <div class="bg-wrapper-1">
                  <!--<div class="gradient-overlay"></div>-->
                    <div class="text-wrapper mt-md-20 mt-xl-25">
                      <!--<a class="subwrap-link" href="/eviction-tracking"></a>-->
                        <h3>Eviction Tracking System</h3>
                        <p>See up-to-date maps, charts and data on eviction filings in select cities.</p>
                        <a class="sublink" href="/eviction-tracking/">GO TO ETS <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>  
                </div>       
            </div>
            <div class="feature d-flex flex-column justify-content-center px-0 ml-md-1 ml-lg-2">
                <a class="wraplink" href="/covid-policy-scorecard" target="_blank"></a>
                <div class="bg-wrapper-2">
                  <!--<div class="gradient-overlay2"></div>-->
                    <div class="text-wrapper mt-md-20 mt-xl-25">
                        <h3>Housing Policy Scorecard</h3>
                        <p>See the protections your state provides, and how it ranks nationally.</p>
                        <a class="sublink" href="/covid-policy-scorecard" target="_blank">GO TO SCORECARD <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>
                </div>
            </div>
        </div>  
      </div>
      <div class="row mx-0 subfeature-panel mb-md-10 mb-lg-14">
        <div class="col-11 col-md-12 col-lg-10 mx-auto d-md-flex col-2-wrap">
            <div class="feature d-flex flex-column justify-content-center px-0 mb-6 mb-md-0 mr-md-1 mr-lg-2">
                <a class="wraplink" href="/covid-eviction-policies/"></a> 
                <div class="bg-wrapper-3">
                 
                    <div class="text-wrapper mt-md-20 mt-xl-25">
                        <h3>Policies Database</h3>
                        <p>Use our interactive table to get the latest on local, state, and federal policies.</p>
                        <a class="sublink" href="/covid-eviction-policies/">GO TO POLICIES DATABASE <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>  
                </div>       
            </div>
            <div class="feature d-flex flex-column justify-content-center px-0 ml-md-1 ml-lg-2">
                <a class="wraplink" href="https://justshelter.org" target="_blank"></a> 
                <div class="bg-wrapper-4">
                 
                    <div class="text-wrapper mt-md-20 mt-xl-25">
                        <h3>Just Shelter</h3>
                        <p>See our list of over 700 organizations that offer housing assistance, legal aid, and more.</p>
                        <a class="sublink" href="https://justshelter.org" target="_blank">GO TO JUST SHELTER WEBSITE <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>
                </div>
            </div>
        </div>  
      </div>
    </div>
<!-- Other pages links -------------->
    <div id="other-pages">
      <div class="row mx-0 subfeature-panel mb-md-7 mb-lg-12">
        <div class="col-11 col-md-12 col-lg-10 mx-auto d-md-flex col-2-wrap pl-md-3 pl-lg-3">
          <div class="col-12 col-md-4">
            <h2>Learn more <br>about us</h2>
            <div class="red-underbar mt-3"></div>
          </div>
          <div class="col-12 col-md-8">
            <ul>
              <li><a class="sublink aboutus" href="/about">About the Eviction Lab <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
              <li><a class="sublink aboutus" href="/why-eviction-matters">Why Eviction Matters <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
              <li><a class="sublink aboutus" href="/help-faq">Help and FAQ <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
              <li><a class="sublink aboutus" href="/methods">Methods <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
            </ul>
              
          </div>
        </div>
      </div>    
    </div>
<!-- Update section -->
  <div id="updates-section">
    <div class="row mx-0 subfeature-panel py-md-8 py-lg-10 pl-md-1 pl-lg-0">
      <div class="col-11 col-md-12 col-lg-8 mx-auto d-md-flex col-2-wrap">
        <div class="col-12 col-md-7 col-lg-8 col-xl-7">
          <h2 class="mb-3">Follow research, events, and news coverage</h2>
          <a class="sublink" href="/updates" target="_blank">GO TO UPDATES <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
        </div>
        
      </div>
    </div>    
  </div>


<!-- / gateway section ID --> 

  </div>  

{{ partial "footer" . }}
