{{ partial "header" . }}

<!-- ********** splash section ********** -->
<div class="superheader text-center  d-flex align-items-center justify-content-center" style="">
  <div class="super-content d-block">{{ i18n "superhead" | safeHTML }}</div>
</div>
<div class="new-splash fill-height">
  <div class="section section-split">

    <!-- ********* slider *********** -->

    <div class="section-image">

      <div id="hero-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <!--<img class="d-block w-100" src="/images/assets/hero/american-flag-evicted-woman.jpg" alt="First slide">-->
          </div>

          <!--<div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-2.jpg" alt="Second slide">
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="/images/assets/hero/girl-looking-out-window2.jpg" alt="Third slide">
          </div>-->

        </div>
      </div>

    </div>

    <!-- ********* copy *********** -->

    <div class="section-content">
      <div class="hero">

      <h1>
          {{ i18n "splashHeader" }}
      </h1>

      <p>{{ i18n "splashBody" }}</p>

      <a class="btn smoothScroll " href="#home-menu">{{ i18n "cta" }}</a>

      <div class="hero-social">
          <a href="https://www.facebook.com/evictionlab/" aria-label="Eviction Lab on Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/evictionlab" aria-label="Eviction Lab on Twitter"><i class="fa fa-twitter"></i></a>
      </div>

      </div>
    </div>

    <!-- ******************** -->

  </div>
</div>

<!-- ********** end splash section ******************************** -->

<!-- ********** pictorial menu section ********** -->

  <div id="sub-splash-gateway">
<!--- Main features row ------------------------------------------>    
    <div id="main-features" class="row mx-0 feature-panel"> 
      <div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto my-5 my-md-6 my-lg-9 my-xl-9 px-3 px-md-2">
        <h2 class="policies-intro text-center">Interactive Tools</h2>
        <p class="text-center">Learn about the American housing crisis by interacting with a customizable map.</p>
      </div>
      <div class="w-100"></div>
        <div id="feature-map" class="col-12 col-md-6 feature main-feature px-0 d-flex justify-content-end">
            <a class="wraplink" href="/map/"></a>  
            <div class="col-12 col-md-10 d-flex flex-column justify-content-center px-4 px-md-0s">
                <a class="wraplink" href="/map/"></a>  
                    <div class="wrapper">
                        <h2>MAP & DATA</h2>
                        <p>Learn about the American housing crisis by interacting with a customizable map.</p>
                        <a class="sublink" href="/covid-policy-scorecard/">GO TO SCORECARD <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div> 
                
            </div>     
        </div>
        <div id="feature-rankings" class="col-12 col-md-6 feature main-feature px-0 d-flex justify-content-start">
          <a class="wraplink" href="/map/"></a>  
            <div class="col-12 col-md-10 offset-md-1 d-flex flex-column justify-content-center px-4 px-md-2">
                <a class="wraplink" href="/map/"></a>  
                    <div class="wrapper">
                        <h2>RANKINGS</h2>
                        <p>Learn about the American housing crisis by interacting with a customizable map.</p>
                        <a class="sublink" href="/covid-policy-scorecard/">GO TO SCORECARD <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div> 
                
            </div>  
        </div>
    </div>
<!--- COVID features rows ------------------------------------------>    
    <div id="covid-gateway">
      <div class="row mx-0 subfeature-panel mb-5">
        <div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto my-8 my-md-8 my-lg-10 my-xl-12 px-3 px-md-2">
            <h2 class="policies-intro">Learn about the policies that affect you, and find organizations that can help.</h2>
        </div>
        <div class="col-11 col-md-12 col-lg-11 mx-auto d-md-flex col-2-wrap">
            <div class="col-12 col-md-5 feature d-flex flex-column justify-content-center px-0 mb-6 mb-md-0">
                <a class="wraplink" href="/covid-eviction-policies/"></a> 
                <div class="bg-wrapper-1">
                    <div class="text-wrapper mt-20">
                        <h2>POLICIES</h2>
                        <p>Use our interactive table to get the latest on local, state, and federal policies.</p>
                        <a class="sublink" href="/covid-eviction-policies/">GO TO POLICIES LIST <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>  
                </div>       
            </div>
            <div class="col-12 col-md-5 feature d-flex flex-column justify-content-center px-0">
                <a class="wraplink" href="https://justshelter.org" target="_blank"></a> 
                <div class="bg-wrapper-2">
                    <div class="text-wrapper mt-20">
                        <h2>RESOURCES</h2>
                        <p>See our list of over 700 organizations that offer housing assistance, legal aid, and more.</p>
                        <a class="sublink" href="https://justshelter.org" target="_blank">GO TO JUST SHELTER WEBSITE <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>
                </div>
            </div>
        </div>  
      </div>
      <div class="row mx-0 subfeature-panel mb-12">
        <div class="col-11 col-md-12 col-lg-11 mx-auto d-md-flex col-2-wrap">
            <div class="col-12 col-md-5 feature d-flex flex-column justify-content-center px-0 mb-6 mb-md-0">
                <a class="wraplink" href="/covid-eviction-policies/"></a> 
                <div class="bg-wrapper-1">
                    <div class="text-wrapper mt-20">
                        <h2>POLICIES</h2>
                        <p>Use our interactive table to get the latest on local, state, and federal policies.</p>
                        <a class="sublink" href="/covid-eviction-policies/">GO TO POLICIES LIST <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>  
                </div>       
            </div>
            <div class="col-12 col-md-5 feature d-flex flex-column justify-content-center px-0">
                <a class="wraplink" href="https://justshelter.org" target="_blank"></a> 
                <div class="bg-wrapper-2">
                    <div class="text-wrapper mt-20">
                        <h2>RESOURCES</h2>
                        <p>See our list of over 700 organizations that offer housing assistance, legal aid, and more.</p>
                        <a class="sublink" href="https://justshelter.org" target="_blank">GO TO JUST SHELTER WEBSITE <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
                    </div>
                </div>
            </div>
        </div>  
      </div>
    </div>
<!-- Other pages links -------------->
    <div id="other-pages">
      <div class="row mx-0 subfeature-panel mb-12">
        <div class="col-11 col-md-12 col-lg-10 mx-auto d-md-flex col-2-wrap">
          <div class="col-12 col-md-3">
            <h2>Learn more about us</h2>
          </div>
          <div class="col-12 col-md-9">
            <ul>
              <li><a href="/about">About the Eviction Lab <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
              <li><a href="/why-eviction-matters">Why Eviction Matters <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
              <li><a href="/help-faq">Help and FAQ <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
              <li><a href="/methods">Methods <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
            </ul>
              
          </div>
        </div>
      </div>    
    </div>
<!-- Update section -->
  <div id="updates-section">
    <div class="row mx-0 subfeature-panel py-10">
      <div class="col-11 col-md-12 col-lg-8 mx-auto d-md-flex col-2-wrap">
        <div class="col-12 col-md-6">
          <h2>Follow research, events, and news coverage</h2>
          <a class="sublink" href="https://justshelter.org" target="_blank">GO TO JUST SHELTER WEBSITE <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
        </div>
        
      </div>
    </div>    
  </div>


<!-- / gateway section ID --> 

  </div>  

{{ partial "footer" . }}
