{{ partial "header" . }}

{{ partial "relative-position-header" . }}


<!-- ********** hero section ********** -->

<div id="home-hero">
  <div id="hero-overlay">
    <div class="row mx-3 align-items-end h-100">
      <div class="col-12 col-xxl-11 mx-auto px-0">
        <div class="col-12 col-lg-7 mb-12">
          <h1 class="mb-3">In a typical year, landlords file 3.7 million eviction cases.</h1>
          <p>The Eviction Lab at Princeton University creates data, interactive tools, and research to help neighbors and policymakers understand the eviction crisis.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ********** featured updates block ******************* -->

{{ partial "homepage-featured-updates" . }}


<!-- ********** pictorial menu section ********** -->

{{ partial "homepage-interactives-block" . }}

{{ partial "homepage-resources-block" . }}

{{/* partial "homepage-reporting-block" . */}}

  <!-- Other pages links -------------->
  <div id="other-pages">
    <div class="row mx-0 subfeature-panel">
     
        <div id="hp-eviction-image" class="col-12 col-md-6">
          
        </div>
        <div class="col-11 offset-1 offset-md-0 col-md-6 pl-md-8 pl-lg-10 pt-6 pt-md-7 pt-lg-8 pb-5 pb-md-6 pb-lg-10">
          <h2>{{ i18n "learnMoreHead1" }} <br>{{ i18n "learnMoreHead2" }}</h2>
          <div class="red-underbar mt-3 mb-4"></div>
          <ul>
            <li><a class="sublink aboutus" href="/about">{{ i18n "aboutHead" }} <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
            <li><a class="sublink aboutus" href="/why-eviction-matters">{{ i18n "whyHead" }} <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
            <li><a class="sublink aboutus" href="/help-faq">{{ i18n "helpHead" }} <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
            <li><a class="sublink aboutus" href="/methods">{{ i18n "methodsHead" }} <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a></li>
          </ul>
            
        </div>
      
    </div>    
  </div>


<!-- / gateway section ID --> 

  </div>  

{{ partial "footer" . }}
