{{ partial "header" . }}

{{ range (where .Site.RegularPages "Params.childof" ("datamerge")) }}
    {{ if eq .Params.pagename "datamerge" }} 
    <div class="graphic-header data-merge-hero center-page-wrapper">
            <div class="center-page">
              <h1 class="graphic-page-header">{{ .Title }}</h1>
              <div class="underbar"></div>
            </div>
          </div>   
    {{ end }}
    {{ end }}
<!-- section header -->
<div class="data-merge">
            <div class="center-page-wrapper">
                <div class="center-content-post page-list text-li">
<ul class="nav nav-tabs anchor-links" role="tablist">
        <li class="only-larger-screens" role="presentation">Choose an option</li>
        <li role="presentation" class="active"><a href="#option1" aria-controls="home" role="tab" data-toggle="tab">Data Merge</a></li>
        <li role="presentation"><a href="#option2" aria-controls="profile" role="tab" data-toggle="tab">Custom Request</a></li>
    </ul>
     
    <div class="tab-content">
      <!-- ************* Research Team Bios ***************** -->
      <div role="tabpanel" class="tab-pane active" id="option1">    
       
                
            Test1
         
      
      </div> <!-- End Research Team tab-pane -->
      <div role="tabpanel" class="tab-pane" id="option2">    
          
               Test 2    
          

          </div> <!-- End Research Team tab-pane -->
    </div>  
</div>  
</div>
</div>  

{{ partial "footer" . }}
