{{ partial "header" . }}

{{ range (where .Site.RegularPages "Params.childof" ("contact")) }}
    {{ if eq .Params.type "form1" }} 
    <div class="graphic-header contact-hero center-page-wrapper">
            <div class="center-page">
              <h1 class="graphic-page-header">{{ .Title }}</h1>
              <div class="underbar"></div>
            </div>
          </div>   
    {{ end }}
<!-- section header -->
<div class="contact-us">
{{ if eq .Params.type "form1" }} 
    <div class="center-page-wrapper">
        <div class="center-content-post page-list text-li">
            <p>{{ .Content }} </p>

        </div>
    </div>
    {{ end }}    
{{ end }}    
    <div class="alt-bg"> 
        <div class="center-content-post page-list text-li"> 
{{ range (where .Site.RegularPages "Params.childof" ("contact")) }}                
{{ if eq .Params.type "form2" }} 
<form name="contact" method="POST" id="contactform" action="#">
    <p>{{ .Params.select1 }}</p>
    <div class="radio-row">
      <input class="contact-radio" data-email="help@evictionlab.org" type="radio" id="help" name="routing" value="help" checked="checked">
      <label for="help">{{ .Params.mail1 }}</label>
    </div>
    <div class="radio-row">
    <input class="contact-radio" data-email="research@evictionlab.org" type="radio" id="research" name="routing" value="research">
    <label for="research">{{ .Params.mail2 }}</label>
  </div>
  <div class="radio-row">
    <input class="contact-radio" data-email="press@evictionlab.org" type="radio" id="press" name="routing" value="press">
    <label for="press">{{ .Params.mail3 }}</label>
  </div>
  <div class="radio-row">
    <input class="contact-radio" data-email="info@evictionlab.org" type="radio" id="general" name="routing" value="general">
    <label for="general">{{ .Params.mail4 }}</label>
  </div>
    <input class="form-control" type="email" name="email" placeholder="{{ .Params.form1 }}" required>
    <textarea class="form-control" name="message" rows="6" placeholder="{{ .Params.form2 }}"></textarea>            
    <div class="button-wrap">
        <button type="submit" class="btn-primary">{{ .Params.submit }}</button>
    </div>    
</form>
        </div>  
    </div>  
    <div class="center-page-wrapper">
        <div class="test"></div>
        <div class="center-content-post page-list text-li form2">      
            {{ .Content }} 
        </div>
    </div>        
{{ end }}
{{ end }}<!-- range statement -->
</div><!-- contact us -->
</div>

{{ partial "footer" . }}
