{{ partial "header" . }}

{{ range (where .Site.RegularPages "Params.childof" ("contact")) }}
    {{ if eq .Params.type "form1" }} 
    <div class="graphic-header contact-hero center-page-wrapper">
            <div class="center-page">
              <h1 class="graphic-page-header">{{ .Title }}</h1>
              <div class="underbar"></div>
            </div>
          </div>   
    {{ end }}
<!-- section header -->
<div class="contact-us">
{{ if eq .Params.type "form1" }} 
    <div class="center-page-wrapper">
        <div class="center-content-post page-list text-li">
            <p>{{ .Content }} </p>

        </div>
    </div>
    {{ end }}    
{{ end }}    
    <div class="alt-bg"> 
        <div class="center-content-post page-list text-li"> 
{{ range (where .Site.RegularPages "Params.childof" ("contact")) }}                
{{ if eq .Params.type "form2" }} 
<form name="contact" method="POST" id="contactform" action="#">
    <select id="contact-select" name="routing" required>
        <option selected="selected" disabled="disabled">{{ .Params.select1 }}</option>
        <option value="help" class="mail-options" id="help" data-email="help@evictionlab.org">{{ .Params.mail1 }}</option>
        <option value="research" class="mail-options" id="research" data-email="research@evictionlab.org">{{ .Params.mail2 }}</option>
        <option value="press" class="mail-options" id="press" data-email="press@evictionlab.org">{{ .Params.mail3 }}</option>
        <option value="general" class="mail-options" id="general" data-email="info@evictionlab.org">{{ .Params.mail4 }}</option>
    </select>
    <input type="email" name="email" placeholder="{{ .Params.form1 }}">
    <textarea name="message" rows="6" placeholder="{{ .Params.form2 }}"></textarea>            
        <div class="button-wrap">
            <button type="submit" class="btn-primary">{{ .Params.submit }}</button>
        </div>    
</form>
        </div>  
    </div>  
    <div class="center-page-wrapper">
        <div class="test"></div>
        <div class="center-content-post page-list text-li form2">      
            {{ .Content }} 
        </div>
    </div>        
{{ end }}
{{ end }}<!-- range statement -->
</div><!-- contact us -->
</div>
{{ partial "footer" . }}
