{{/* 
  Shortcode for rendering flexible arrow charts.
  Be sure to include:
  scripts:
    - arrow-chart2
*/}}
{{ $title := .Get "title" }}
<div class="chart chart--arrow2 chart--{{ .Get `id` }}">
  {{ if $title }}
  <h3 class="chart__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}">
    <svg></svg>
  </div>
  <script>
    window.addEventListener('load', function () {
      console.log({
        id: {{ .Get `id` }},
        data: {{ .Get `data` }},
        xMin: {{ .Get `xMin` }},
        xMax: {{ .Get `xMax` }},
        axisLabelText: {{ .Get `axisLabelText` }},
        highlightLabel: {{ .Get `highlightLabel` }},
        xTicks: {{ .Get `xTicks` }},
        nameCol: {{ .Get `nameCol` }} || "metro",
        beforeCol: {{ .Get `beforeCol` }} || "before",
        afterCol: {{ .Get `afterCol` }} || "after",
        highlightCol: {{ .Get `highlightCol` }},
        highlightStartCol: {{ .Get `highlightStartCol` }},
        valueType: {{ .Get `valueType` }},
        legendDecArrowText: {{ .Get `legendDecArrowText` }},
        legendIncArrowText: {{ .Get `legendIncArrowText` }},
        legendLabelText: {{ .Get `legendLabelText` }},
        legItemsPerCol: {{ .Get `legItemsPerCol` }},
        groupCol: {{ .Get `groupCol` }}
      })
      Elab.ArrowChart2.init(document.getElementById({{ .Get `id` }}), {
        id: {{ .Get `id` }},
        data: {{ .Get `data` }},
        xMin: {{ .Get `xMin` }},
        xMax: {{ .Get `xMax` }},
        axisLabelText: {{ .Get `axisLabelText` }},
        highlightLabel: {{ .Get `highlightLabel` }},
        xTicks: {{ .Get `xTicks` }},
        nameCol: {{ .Get `nameCol` }} || "metro",
        beforeCol: {{ .Get `beforeCol` }} || "before",
        afterCol: {{ .Get `afterCol` }} || "after",
        highlightCol: {{ .Get `highlightCol` }},
        highlightStartCol: {{ .Get `highlightStartCol` }},
        highlightEndCol: {{ .Get `highlightEndCol` }},
        valueType: {{ .Get `valueType` }},
        format: {{ .Get `format` }},
        tooltipFormat: {{ .Get `tooltipFormat` }},
        hideTooltip: {{ .Get `hideTooltip` }},
        legendDecArrowText: {{ .Get `legendDecArrowText` }},
        legendIncArrowText: {{ .Get `legendIncArrowText` }},
        legendLabelText: {{ .Get `legendLabelText` }},
        legColWidth: {{ .Get `legColWidth` }},
        legItemsPerCol: {{ .Get `legItemsPerCol` }},
        simpleLegend: {{ .Get `simpleLegend` }},
        nameWidth: {{ .Get `nameWidth` }},
        rowHeight: {{ .Get `rowHeight` }},
        width: {{ .Get `width` }},
        xTicks: {{ .Get `xTicks` }},
        customSort: {{ .Get `customSort` }},
        groupCol: {{ .Get `groupCol` }}
      });
    });
  </script>
</div>