{{/**

  This shortcode is for adding a grouped bar chart to markdown.

  Parameters for the shortcode are as follows:

  id: id to be assigned to chart element
  titlePrefix: first half of the chart title (when search is enabled an input is placed in between)
  titleSuffix: second half of the chart title (when search is enabled an input is placed in between)
  data: path to data csv, ex: "/uploads/county_prop_lookup.csv"
  yTicks: number of ticks for y-axis
  yFormat: d3 format, ex: ".0%"
  xTicks: semicolon-delineated list of ticks for x-axis (bar groups), ex: "Asian;Black;Latinx;White"
  columns: columns to pass from csv to chart, ex:  "cofips,state,county,year_string,renters_prop_a,defendant_prop_a,judgment_prop_a,renters_prop_b,defendant_prop_b,judgment_prop_b,"
  xBars: comma- and semicolon-delineated array of arrays indicating how column values are grouped on bars in bar groups, ex: "renters_prop_a,defendant_prop_a,judgment_prop_a;renters_prop_b,defendant_prop_b,judgment_prop_b;renters_prop_l,defendant_prop_l,judgment_prop_l;renters_prop_w,defendant_prop_w,judgment_prop_w" highlight: semicolon-delineated list of bar types (in each group), ex: "renters;defendant;judgment"
  active: ID of active item in data, ex: "0"
  searchId: column to use to identify active item in data, ex: "cofips"
  type: type of chart, ex: "barGroup"
  legendItems: semicolon-delineated list of legend labels, same count as xTicks, ex: "Share of renters;Share of defendants;Share of judgments"
  search: Is search enabled? ex: "true" or "false"
*/}}


{{ $titlePrefix := .Get "titlePrefix" }}
{{ $titleSuffix := .Get "titleSuffix" }}
{{ $legend := .Get "highlight" }}
{{ $legendItems := split (.Get "legendItems") ";" }}
{{ $search := .Get "search" }}

<div
  class="bar-chart bar-chart--{{ .Get `id` }}"
>
  <h3 class="bar-chart__title">
  {{ if eq $search "true" }}
  {{ $titlePrefix }} in
  <span id="searchLocation"></span>
  {{ $titleSuffix }}
  {{ else }}
  <span>{{ (printf "%s%s%s" $titlePrefix " " $titleSuffix) }}</span>
  {{ end }}
  </h3>
  <div class="bar-chart__search-group">
  <input class="bar-chart__search search" type="text" id="chart_autocomplete" value="Search by county... " />{{ partial "searchbutton" }}
  </div>
  <div id="{{ .Get `id` }}" class="bar-chart__chart chart">
    <svg></svg>
  </div>
  {{ if $legend }}
  <div class="bar-chart__legend legend">
  {{ range $index, $element := $legendItems }}
  <div class="legend-item legend-item--{{ $index }}">
  <div class="legend-item__color"></div>
  <div class="legend-item__label">{{ $element }}</div>
  </div>
  {{ end }}
  </div>
  {{ end }}
  <script>
    var id = {{ .Get "id" }}
    var csv = {{ .Get "data" }}
    var x = {{ .Get "x" }}
    var y = {{ .Get "y" }}
    var searchId = {{ .Get "searchId" }} // ID to use to find search candidates.
    var searchLabel = {{ .Get "searchLabel" }} // Label to show when autosuggesting.
    var columns = {{ .Get "columns" }} // Columsn to fetch from data csv.
    var groupBy = {{ .Get "groupBy" }}
    var yTicks = {{ .Get "yTicks" }}
    var yFormat = {{ .Get "yFormat" }}
    var xTicks = {{ .Get "xTicks" }}
    var xBars = {{ .Get "xBars" }}
    var xFormat = {{ .Get "xFormat" }}
    var highlight = {{ .Get "highlight" }}
    var active = {{ .Get "active" }}
    var rootEl = document.getElementById(id);
    /**
     * Initializes chart with whatever values currently are set to.
     */
    var initChart = function() {
      // Init chart with default data.
      Elab.BarChart.init(rootEl, { data: csv, x: x, y: y, groupBy: groupBy, yTicks: yTicks, yFormat: yFormat, xTicks: xTicks, xBars: xBars, xFormat: xFormat, highlight: highlight, active: active, columns: columns, searchId: searchId, searchLabel: searchLabel })
    }
    /**
     * Sets site name in title
     */
    var setSiteName = function() {
      // console.log('setSiteName')
      var target = document.getElementById('searchLocation');
      var str = data[active];
      target.innerHTML = str;
    }
    var data = [];
    window.addEventListener('load', function() {
      console.log('load')
      // Store selector for search input.
      var searchInput = document.getElementById('chart_autocomplete');
      searchInput.addEventListener('click', function() {
        searchInput.value = '';
      })
      // Parse and store csv data for autosuggest.
      Papa.parse(csv, {
        header: true,
      	download: true,
      	step: function(row) {
          if (row.data.cofips === "") { return; }
          data[`${row.data.cofips}`] = row.data.state ? `${row.data.county}, ${row.data.state}` : row.data.county;
      	},
      	complete: function() {
          console.log('papaparse complete')
          // Set value in title.
          setSiteName();
          // Init autocomplete.
          var barChartAutoComplete = new autoComplete({
            data: {
              src: Object.values(data),
              cache: false,
            },
            selector: '#chart_autocomplete',
            threshold: 2,
            debounce: 100,
            searchEngine: "strict",
            // resultsList: {
            //   destination: document.querySelector('.bar-chart__title'),
            // },
            feedback: function(data) {
              console.log('feedback, ', data)
            },
            onSelection: function(feedback) {
              console.log('onSelection, ', feedback)
              var val = feedback.selection.value;
              // Reset the input,
              searchInput.value = val;
              // reset the active item,
              var ind = Object.values(data).indexOf(val);
              active = String(Number(Object.keys(data)[ind]));
              // Set site name in title.
              setSiteName();
              // console.log(`From ${val}, active reset to ${active}.`)
              // reset the chart,
              var svg = document.querySelector('svg.chart__root');
              svg.innerHTML = '';
              // re-init the chart.
              initChart()
            },
            onInit: function() {
              console.log('init of autocomplete')
            }
          })
          console.log('barChartAutoComplete, ', barChartAutoComplete);
      	}
      });
      // Init chart on page load.
      initChart()
    });
  </script>
</div>
