{{ $title := .Get "title" }}
{{ $legend := .Get "highlight" }}
{{ $legendItems := split (.Get "legendItems") ";" }}

<div
  class="bar-chart bar-chart--{{ .Get `id` }}"
>
  {{ if $title }}
  <h3 class="bar-chart__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}" class="bar-chart__chart chart">
    <svg></svg>
  </div>
  {{ if $legend }}
  <div class="bar-chart__legend legend">
  {{ range $index, $element := $legendItems }}
  <div class="legend-item legend-item--{{ $index }}">
  <div class="legend-item__color"></div>
  <div class="legend-item__label">{{ $element }}</div>
  </div>
  {{ end }}
  </div>
  {{ end }}
  <script>
    window.addEventListener('load', function() {
      var id = {{ .Get "id" }}
      console.log('id = ', id)
      var csv = {{ .Get "data" }}
      var x = {{ .Get "x" }}
      var y = {{ .Get "y" }}
      var searchId = {{ .Get "searchId" }} // ID to use to find search candidates.
      var searchLabel = {{ .Get "searchLabel" }} // Label to show when autosuggesting.
      var columns = {{ .Get "columns" }} // Columsn to fetch from data csv.
      var groupBy = {{ .Get "groupBy" }}
      var yTicks = {{ .Get "yTicks" }}
      var yFormat = {{ .Get "yFormat" }}
      var xTicks = {{ .Get "xTicks" }}
      var xBars = {{ .Get "xBars" }}
      var xFormat = {{ .Get "xFormat" }}
      var highlight = {{ .Get "highlight" }}
      var curve = {{ .Get "curve" }}
      var active = {{ .Get "active" }}
      var rootEl = document.getElementById(id);
      Elab.BarChart.init(rootEl, { data: csv, x: x, y: y, groupBy: groupBy, yTicks: yTicks, yFormat: yFormat, xTicks: xTicks, xBars: xBars, xFormat: xFormat, highlight: highlight, curve: curve, active: active, columns: columns, searchId: searchId, searchLabel: searchLabel })
    });
  </script>
</div>
