<br>
<hr />

<div class="footnotes">
<ol>
<li>Hamilton County, OH</li>

<li>Harris County, TX</li> 

<li>Maricopa County, AZ</li> 

<li>New York, Richmond, Kings, Queens, and Bronx Counties, NY</li>

<li>Missing months in Phoenix are due to data unavailability. Monthly median claim amounts in New York City for April, May, and June were omitted due to low case counts (3, 4, and 10 respectively), a function of a strict state-level eviction moratorium. </li>

<li>These block groups contain 31.4% of renter households and 17.3% of the overall population in Harris County.</li>

<li> Eviction filings in these block groups made up 43% of all Harris County filings in November.</li>
</ol>
</div>
