{{ $title := .Get "title" }}
{{ $legend := .Get "highlight" }}
{{ $legendItems := split $legend ";" }}

<div
  class="chart chart--line chart--{{ .Get `id` }}"
>
  {{ if $title }}
  <h3 class="chart__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}" class="chart__body">
    <svg></svg>
  </div>
  {{ if $legend }}
  <div class="legend">
  {{ range $index, $element := $legendItems }}
  <div class="legend-item legend-item--{{ $index }}">
  <div class="legend-item__color"></div>
  <div class="legend-item__label">{{ $element }}</div>
  </div>
  {{ end }}
  </div>
  {{ end }}
  <script>
    window.addEventListener('load', function() {
      Elab.LineChart.init(document.getElementById({{ .Get `id` }}), {
        data: {{ .Get `data` }},
        x: {{ .Get `x` }},
        y: {{ .Get `y` }},
        yMin: {{ .Get `yMin` }},
        yMax: {{ .Get `yMax` }},
        groupBy: {{ .Get `groupBy` }},
        yTicks: {{ .Get `yTicks` }},
        yFormat: {{ .Get `yFormat` }},
        yLabel: {{ .Get `yLabel` }},
        xTicks: {{ .Get `xTicks` }},
        maxTicks: {{ .Get `maxTicks` }},
        xFormat: {{ .Get `xFormat` }},
        highlight: {{ .Get `highlight` }},
        curve: {{ .Get `curve` }},
        xAsNameInTooltip: {{ .Get `xAsNameInTooltip` }},
        xTooltipFormat: {{ .Get `xTooltipFormat` }},
        yTooltipFormat: {{ .Get `yTooltipFormat` }},
        yTransform: {{ .Get `yTransform` }},
        avgLines: {{ .Get `avgLines` }},
        margin: {{ .Get `margin` }},
        mark: {{ .Get `mark` }}
      });
    });
  </script>
</div>
