{{ $title := .Get "title" }}
{{ $legend := .Get "highlight" }}
{{ $legendItems := split $legend ";" }}

<div
  class="line-chart line-chart--{{ .Get `id` }}"
>
  {{ if $title }}
  <h3 class="line-chart__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}" class="line-chart__chart chart">
    <svg></svg>
  </div>
  {{ if $legend }}
  <div class="line-chart__legend legend">
  {{ range $index, $element := $legendItems }}
  <div class="legend-item legend-item--{{ $index }}">
  <div class="legend-item__color"></div>
  <div class="legend-item__label">{{ $element }}</div>
  </div>
  {{ end }}
  </div>
  {{ end }}
  <script>
    window.addEventListener('load', function() {
      // identifier for chart (must be unique on page)
      var id = {{ .Get "id" }}
      // url to csv file
      var csv = {{ .Get "data" }}
      // column name to use for x values
      var x = {{ .Get "x" }}
      // column name to use for y values
      var y = {{ .Get "y" }}
      // column name to group entries by
      var groupBy = {{ .Get "groupBy" }}
      // number of y ticks to show
      var yTicks = {{ .Get "yTicks" }}
      // d3 formatting string for y values
      var yFormat = {{ .Get "yFormat" }}
      // frequency of x ticks (e.g. week, month)
      var xTicks = {{ .Get "xTicks" }}
      // d3 formatting string for x values
      var xFormat = {{ .Get "xFormat" }}
      // semi-colon separated string of data groups to highlight
      var highlight = {{ .Get "highlight" }}
      // true if lines should be curved
      var curve = {{ .Get "curve" }}
      // formatter for x values on tooltip
      var xTooltipFormat = {{ .Get "xTooltipFormat" }}
      var rootEl = document.getElementById(id);
      Elab.LineChart.init(rootEl, { data: csv, x: x, y: y, groupBy: groupBy, yTicks: yTicks, yFormat: yFormat, xTicks: xTicks, xFormat: xFormat, highlight: highlight, curve: curve, xTooltipFormat: xTooltipFormat })
    });
  </script>
</div>
