<section
  id="{{ .Get `id` }}"
  class="section section--flex section--ranking section--{{ .Get `id` }}"
>
<div class="section__content">
<div class="details">
{{ .Inner }}
<em>Data is current through <time class="end-date"></time></em>
<div class="button-group"></div>
<div class="footnote"></div>
</div>
<div class="visual">
<ul id="rankingList" class="ranking">
</ul>
</div>
</div>
<script>
  window.addEventListener('load', function() {
    var id = {{ .Get "id" }}
    var csv = {{ .Get "data" }}
    var rootEl = '#'+id
    Elab.Section.init('ranking', rootEl, { csv: csv, id: id})
  });
</script>
</section>

