<section
  id="{{ .Get `id` }}"
  class="section section--chart section--median section--{{ .Get `id` }}"
>
<div class="section__content">
<div class="details">
{{ .Inner }}
</div>
<div class="callout stat-block-wrapper">
  <p>
    Over the past year, of all eviction claims,
  </p>
  <div class="claims-stats"></div>
</div>
<div class="visual">
<div class="visual__header">
<h3 class="visual__title">Median Claim Amount by Month</h3>
</div>
<div id="medianChart" class="visual__chart">
<svg></svg>
</div>
</div>
<div class="legend"></div>
<div class="footnote"></div>
</div>
<script>
window.addEventListener('load', function() {
  var id = {{ .Get "id" }}
  var csv = {{ .Get "data" }}
  var yCol = "median_claim"
  var xCol = "month_date"
  var rootEl = '#'+id
  var statFiles = [
    { id: "claims", url: csv },
  ]
  var stats = [
    {
      file: 'claims',
      field: 'sub1000',
      display: 'were for less than $1000',
      formatter: d3.format('.0%'),
    },
    {
      file: 'claims',
      field: 'sub_med_rent',
      display: 'were for less than the median monthly rent',
      formatter: d3.format('.0%'),
    },
    {
      file: 'claims',
      field: 'over_six_months_rent',
      display: 'were for more than 6 months rent',
      formatter: d3.format('.0%'),
    },
  ]
  var getVal = (fileData, s) => {
    var row = fileData.findLast((d) => d[s.field] !== undefined);
    return row ? row[s.field] : null;
  }
  Elab.Utils.createStatBlock('.claims-stats', statFiles, stats, getVal)
  Elab.Section.init('median_filings', rootEl, { id: id, csv: csv, yCol: yCol, xCol: xCol })
});
</script>
</section>
