{{ $rentersSite := .Page.Params.rentersSite }}
{{ $h1 := .Page.Params.h1 }}
{{ $cleanedH1 := replaceRE "^.*?,\\s*" "" $h1 }}
{{ $processedH1 := replaceRE "\\s+" "-" $cleanedH1 }}
{{ $anchor := lower $processedH1 }}
<div class="intro">
  <div class="layout">
    <div class="intro__content">
      <h1 class="intro__heading">
        <a id="top">{{ $h1 }}</a>
      </h1>
      <!-- {{ range $index, $element := .Site.Data.renter_hhs_by_state }}
        {{ if eq $rentersSite $element.site }}
          <h3 class="intro__renter-population mx-auto">RENTER HOUSEHOLDS: {{ $element.estimate }}</h3>
        {{ end }}
      {{ end }}
      {{ range $index, $element := .Site.Data.renter_hhs_by_city }}
        {{ if eq $rentersSite $element.site }}
          <h3 class="intro__renter-population mx-auto">RENTER HOUSEHOLDS: {{ $element.estimate }}</h3>
        {{ end }}
      {{ end }} -->
      <div id="summaryStats" class="intro__text"></div>
      <div id="introText" class="intro__text">
        <p>{{ .Inner | markdownify }}</p>
      </div>
         
          <div class="intro__acknowledgements">
            <i></i>
            <div>
              <a href="/eviction-tracking/acknowledgements#{{ $anchor }}">See our partner organizations and
                more resources</a>
            </div>
            </div>
          <div class="share">
            <span class="share__title">Share on</span>
            <a class="share__link share__link--twitter">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span>
            </a>
            <a class="share__link share__link--facebook">
              <i class="fa fa-facebook"></i>
              <span>Facebook</span>
            </a>
          </div>
          <div class="intro__acknowledgements">
            <div>
              <span class="footnote">
                <ol>
                  <li>
                    Data on renter population and median rent drawn from the American Community Survey (ACS). Details of the eviction
                    process from <a
                      href="https://www.lsc.gov/initiatives/effect-state-local-laws-evictions/lsc-eviction-laws-database">the LSC
                      Eviction Laws Database</a>.
                  </li>
                </ol>
              </span>
            </div>
        </div>
    </div>
    <div class="intro__stats-wrapper">
      <h3>
        Filing Counts
        <span id="latestUpdate">Last updated: </span>
      </h3>
      <div id="filingCounts" class="stat-block-wrapper">
      </div>
      <h3>Filing Rates Over the Past Year</h3>
      <div id="filingRates" class="stat-block-wrapper">
      </div>
    </div>
  </div>

  <script>

          var site_id = {{ .Get "site_id" }}
          var renterssite = {{ .Page.Params.renterssite }};
          window.addEventListener('load', function () {

          var percentChange = function (d) {
            var v = d3.format('.0%')(d - 1)
            return v[0] === '-' ? `${v}` : `+${v}`
          }
          
      var statFiles = [
        { id: "filing", url: "/uploads/filing_data_by_site.csv" },
        { id: "basic", url: "/uploads/basic_data_by_site.csv" },
      ]
      var filingCounts = [
        {
          file: 'filing',
          field: 'filings_pandemic',
          display: 'filings since 3/15/2020',
          formatter: d3.format(','),
          subStat: {
            file: 'filing',
            field: 'filings_pandemic_pct_hist',
            display: 'vs. average',
            tooltip: 'Compared to filings over the same time frame before the COVID-19 pandemic',
            formatter: percentChange,
          }
        },
        {
          file: 'filing',
          field: 'filings_past_year',
          display: 'filings in the past year',
          formatter: d3.format(','),
          subStat: {
            file: 'filing',
            field: 'filings_past_year_pct_hist',
            display: 'vs. average',
            tooltip: 'Compared to filings over an average year before the COVID-19 pandemic',
            formatter: percentChange,
          }
        },
        {
          file: 'filing',
          field: 'filings_past_month',
          display: 'filings in the past month',
          formatter: d3.format(','),
          subStat: {
            file: 'filing',
            field: 'filings_past_month_pct_hist',
            display: 'vs. average',
            tooltip: 'Compared to filings over the same month before the COVID-19 pandemic',
            formatter: percentChange,
          }
        },
      ]
      var filingRates = [
        {
          file: 'filing',
          field: 'eviction_filing_rate',
          display: 'eviction filing rate',
          tooltip: 'The number of evictions filed per 100 renter households over the last 12 months',
          formatter: d3.format('.0%'),
        },
        {
          file: 'filing',
          field: 'hhs_threatened_rate',
          display: 'households threatened rate',
          tooltip: 'The percentage of unique households that received an eviction filing, regardless of how many evictions were filed against the same household',
          tooltipMissingValue: `The percentage of unique households that received an eviction filing, regardless of how many evictions were filed against the same household.<br/><br/>Address data are currently insufficient to calculate this rate.`,
          formatter: d3.format('.0%'),
          default: 'Unavailable'
        },
        {
          file: 'filing',
          field: 'serial_share',
          display: 'serial filing rate',
          tooltip: 'Of unique households filed against in the last 12 months, the share filed against repeatedly at the same address within the last two years',
          tooltipMissingValue: `Of unique households filed against in the last 12 months, the share filed against repeatedly at the same address within the last two years.<br/><br/>Address data are currently insufficient to calculate this rate.`,
          formatter: d3.format('.0%'),
          default: 'Unavailable'
        },
      ]
      var paragraphStats = [
        {
          file: 'filing',
          field: 'renter_hh',
          placeholder: 'households',
          formatter: d3.format(',')
        },
        {
          file: 'filing',
          field: 'median_rent',
          placeholder: 'rent',
          formatter: d3.format('$,')
        },
        {
          file: 'basic',
          field: 'notice_requirement',
          placeholder: 'days',
        },
        {
          file: 'basic',
          field: 'avg_filing_fee',
          placeholder: 'fee',
          // formatter: d3.format('$,')
        },
        {
          file: 'basic',
          field: 'borders',
          placeholder: 'county',
        },
      ]

            var getVal = (fileData, stat) => {
        if (!fileData) {
          console.error("No filedata found ", fileData, stat);
          return null;
        }
        var row = fileData.find((d) => d.site_id === site_id);
        if (!row || !row[stat.field]) console.log("missing for ", row, stat.field);
        return row ? row[stat.field] : null;
      }

      var otherBlockLoaded = false;
      var displayStatBlock = () => {
        if (otherBlockLoaded) {
          $(".intro .intro__stats-wrapper").css("opacity", 1);
        } else {
          otherBlockLoaded = true
        }
      }
      Elab.Utils.createStatBlock('#filingCounts', statFiles, filingCounts, getVal, displayStatBlock)
      Elab.Utils.createStatBlock('#filingRates', statFiles, filingRates, getVal, displayStatBlock)

      var siteText = site_id.length === 2 ? '' : ` (${renterssite})`;
      var paragraphText = "There are %{households} renter households in %{county}%{site}, paying a typical rent of %{rent} per month. If a landlord chooses to file an eviction, they need to provide their tenants with %{days} and pay a %{fee} to the courts.<sup>1</sup>".replace('%{site}', siteText)
      Elab.Utils.createStatParagraph({ el: '#summaryStats', text: paragraphText, statFiles, stats: paragraphStats, getVal });

      Elab.Utils.addLatestUpdateDate("#latestUpdate", "/uploads/filing_data_by_site.csv", site_id);

      Elab.Utils.createTwitterLink('.share__link--twitter')
      Elab.Utils.createFacebookLink('.share__link--facebook')

      var dateFormat = d3.timeFormat("%b %e, %Y")


      var cdcMoratorium = Elab.Utils.getCdcMoratoriumRange().map(function(d) {
        return dateFormat(d)
      }).join(' - ')
      $('#cdcGuidelines').text(cdcMoratorium)

            // move footnotes into proper container
            var rootEl = $('.intro .layout');
            var contentEl = rootEl.find(".intro__text");
            var footnoteEl = rootEl.find(".footnote ol");
            window.cc = contentEl;
            footnoteEl.append(contentEl.find("ol li"));
    })
  </script>
</div>
