<div class="intro">

  <div class="layout">
    <div class="intro__content">
      <h1 class="intro__heading"><a id="top">{{ .Page.Params.h1 }}</a></h1>
      <div class="intro__text">{{ .Inner }}</div>
    </div>
    <div class="callout">
      <h2 id="reportDate" class="callout__heading">Loading...</h2>
      <ul class="stats">
        <li class="stats-item stats-item--week">
          <strong class="stats-item__label">Filings Last Week</strong>
          <span class="stats-item__value">
            <span class="stats-item__count"></span>
            <span class="stats-item__diff"></span>
          </span>
        </li>
        <li class="stats-item stats-item--month">
          <strong class="stats-item__label">Filings Last 4 Weeks</strong>
          <span class="stats-item__value">
            <span class="stats-item__count"></span>
            <span class="stats-item__diff"></span>
          </span>
        </li>
        <li class="stats-item stats-item--moratorium">
          <strong class="stats-item__label">Eviction Moratorium</strong>
          <span class="stats-item__value"></span>
        </li>
      </ul>
      <div class="callout__footnote">
        <span>Filings in the last week may be undercounted as a result of processing delays. These counts will be revised in the following week.</span>
      </div>
    </div>
  </div>
  <div class="share">
    <a class="share__link share__link--twitter">
      <i class="fa fa-twitter"></i>
      <span>Share on Twitter</span>
    </a>
    <a class="share__link share__link--facebook">
      <i class="fa fa-facebook"></i>
      <span>Share on Facebook</span>
    </a>
  </div>
  <script>
    var tableUrl = {{ .Get "data" }}
    var fips = {{ .Get "id" }}
    window.addEventListener('load', function() {
      Elab.Utils.createTwitterLink('.share__link--twitter')
      Elab.Utils.createFacebookLink('.share__link--facebook')
      // Elab.ListPage.createIntroTable(fips, tableUrl)
    })
  </script>
</div>
