<div class="section section--map">
  <div class="section__content">
    <div class="details">
      <p class="description">{{ .Inner }}</p>
    </div>
    <div class="visual">
      <div id="map" class="map"></div>
    </div>
    <div class="legend legend--choropleth">
      <div class="legend-item">
        <div class="legend-item__label">
          Eviction Filings <span id="mapDate">last 30 days</span>
        </div>
      </div>
      <div class="legend__gradient"></div>
      <div class="legend__gradient-labels">
        <span class="legend__gradient-label legend__gradient-label--min"
          >-100%</span
        >
        <span class="legend__gradient-label legend__gradient-label--mid"
          >average</span
        >
        <span class="legend__gradient-label legend__gradient-label--max"
          >+100%</span
        >
      </div>
    </div>
    <p class="footnote"></p>
  </div>
  <script>
    window.addEventListener("load", function () {
      var geojson = {{ .Get "shapes" }};
      var csv = {{ .Get "data" }};
      var rootEl = '.section--map'
      Elab.Section.init('map', rootEl, { geojson: geojson, csv: csv })
    })
  </script>
</div>
