{{ if eq (.Get `id`) "avg" }}
{{ $.Scratch.Set "ariaLabel" "Bar chart showing average filings and filing counts by month" }}
{{ end }}
{{ if eq (.Get `id`) "race" }}
{{ $.Scratch.Set "ariaLabel" "Bar chart showing average filings and filing counts by month grouped by neighborhood demographics" }}
{{ end }}
<section
  id="{{ .Get `id` }}"
  class="section section--chart section--{{ .Get `id` }}"
>
  <div class="section__content">
    <div class="details">{{ .Inner }}</div>
    <div class="visual">
      <div class="visual__header">
        <h3 class="visual__title"></h3>
      </div>
      <svg class="chart" role="img" aria-label="{{ $.Scratch.Get `ariaLabel` }}"></svg>
      <div class="visual__toggle">
        <div class="button-group">
          <button class="toggle toggle--count">
            Filing Counts
          </button>
          <button class="toggle toggle--avg">
            Vs. Average
          </button>
        </div>
        <div class="button-group time-span"></div>
      </div>
    </div>
    <div class="legend"></div>
    <div class="visual__note-wrapper">
      <div class="legend-item">
        <svg
        class="legend-item__visual"
              role="img"
              aria-labelledby="patternLegend"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <title id="patternLegend">Striped pattern legend indicator</title>
              <pattern
                id="redStripesLegend"
                x="0"
                y="0"
                width="8"
                height="8"
                fill="#e24000"
                patternUnits="userSpaceOnUse"
                patternTransform="rotate(45)"
              >
                <rect
                  class="legend-item__pattern legend-item__pattern--localLegend"
                  x="0"
                  y="0"
                  width="4"
                  height="8"
                ></rect>
              </pattern>
              <rect
                x="0"
                y="0"
                width="16"
                height="16"
                fill="url(#redStripesLegend)"
              ></rect>
            </svg>
          </div>
          <div class="visual__note legend-item__label">
      </div>
    </div>
    <div id="imputedStats--{{ .Get `id` }}" class="callout stat-block-wrapper">
      <p>
        Across all neighborhoods over the past year, we estimate that renters being filed against were
      </p>
    </div>
    <p class="footnote">
      <span class="data-download"><a href="{{ .Get `data` }}">Get the data</a> for this figure</span>
    </p>
  </div>
  <script>
    window.addEventListener('load', function() {
      var id = {{ .Get "id" }}
      var csv = {{ .Get "data" }}
      var rootEl = '#'+id
      var statFiles = [
        { id: "imputed", url: csv },
      ]
      var stats = [
        {
          file: 'imputed',
          field: 'month_filings_imputed',
          display: 'Black',
          group: 'Black',
          formatter: d3.format('.0%'),
        },
        {
          file: 'imputed',
          field: 'month_filings_imputed',
          display: 'Latinx',
          group: 'Latinx',
          formatter: d3.format('.0%'),
        },
        {
          file: 'imputed',
          field: 'month_filings_imputed',
          display: 'White',
          group: 'White',
          formatter: d3.format('.0%'),
        },
        {
          file: 'imputed',
          field: 'month_filings_imputed',
          display: 'Female',
          group: 'Other',
          formatter: d3.format('.0%'),
        },
      ]
      var getVal = (fileData, s) => {
        var row = fileData.findLast((d) => d.group === s.group);
        return row ? row[s.field] : null;
      }
      if (id === "race") {
        Elab.Utils.createStatBlock('#imputedStats--race', statFiles, stats, getVal)
    }
      Elab.Section.init('chart', rootEl, { id: id, csv: csv })
    });
  </script>
</section>
