{{ if .Site.BuildDrafts}}
<section
  id="{{ .Get `id` }}"
  class="section section--chart section--median section--{{ .Get `id` }}"
>
<div class="section__content">
<div class="details">
{{ .Inner }}
</div>
<div class="visual">
<div class="visual__header">
<h3 class="visual__title">Median Claim Amount by Month</h3>
</div>
<div id="medianChart" class="visual__chart">
<svg></svg>
</div>
</div>
<div class="legend"></div>
<div class="footnote"></div>
</div>
<script>
window.addEventListener('load', function() {
  var id = {{ .Get "id" }}
  var csv = {{ .Get "data" }}
  var yCol = "median_claim"
  var xCol = "month_date"
  var rootEl = '#'+id
  Elab.Section.init('median_filings', rootEl, { id: id, csv: csv, yCol: yCol, xCol: xCol })
});
</script>
</section>
{{end}}