<div class="breakout breakout--table">
  <div class="breakout__content">
    <div class="legend legend--table">
      <div class="legend-item">
        <img class="icon icon--moratorium" src="/img/el-moratorium-icon5.svg" alt="active moratorium icon" />
        <span> = Additional Protections</span>
      </div>
      <div class="legend-item">
        <svg role="img" aria-labelledby="moratoriumEndMarker" width="16" height="16" viewBox="0 0 16 16"  style="margin-right: 4px;">
          <title id="moratoriumEndMarker">No moratorium area</title>
          <line x1="0" x2="16" y1="4" y2="2" class="trend-line__path"></line>
          <path d="M 0 4 L 16 2 L 16 16 L 0 16 Z" class="trend-line__area"></path>
        </svg>
        <span> = No Moratorium</span>
      </div>
      <div class="legend-item">
        <svg role="img" aria-labelledby="moratoriumEndMarker" width="16" height="16" viewBox="0 0 16 16" style="margin-right: 4px;">
          <title id="moratoriumEndMarker">Active moratorium area</title>
          <line x1="0" x2="16" y1="4" y2="2" class="trend-line__path trend-line__path--moratorium"></line>
          <path d="M 0 4 L 16 2 L 16 16 L 0 16 Z" class="trend-line__area trend-line__area--moratorium"></path>
        </svg>
        <span> = Active Moratorium</span>
      </div>
    </div>
    <table class="table table--cities">
      <thead class="table__head">
        <tr class="table__row">
          <th class="table__cell table__cell--name">City</th>
          <th class="table__cell table__cell--number">
            <span>Filings</span> Last<br />Week<sup>1</sup>
          </th>
          <th class="table__cell table__cell--number">
            <span>Filings</span> Since <br/>03/15
          </th>
          <th class="table__cell table__cell--visual" data-sorter="false">
            Trend <br />Since 03/15
          </th>
          <th class="table__cell table__cell--button" data-sorter="false"></th>
        </tr>
      </thead>
      <tbody class="table__body" aria-live="polite">
        <tr class="table__row">
          <td colspan="4" class="loading" style="text-align: center;">
            <div class="spinner">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footnote"></div>
  </div>
</div>

<script>
  window.addEventListener('load', function () {
    var dataUrl = {{ .Get "data" }}
    var buttonLabel = {{ .Get "buttonLabel" }}
    var tooltip = {{ .Get "tooltip" }}
    var tooltipNoDate = {{ .Get "tooltipNoDate" }}
    var options = {
      tooltip: tooltip,
      tooltipNoDate: tooltipNoDate,
      buttonLabel: buttonLabel
    }
    var tableEl = document.querySelector('.table--cities')
    if (!dataUrl)
      throw new Error('no tabledata specified in front matter')
    if (tableEl && dataUrl)
      Elab.ListPage.initListPage(tableEl, dataUrl, options)
  })
</script>
