{{ if eq (.Get `id`) "avg" }}
{{ $.Scratch.Set "ariaLabel" "Bar chart showing average filings and filing counts by month" }}
{{ end }}
{{ if eq (.Get `id`) "race" }}
{{ $.Scratch.Set "ariaLabel" "Bar chart showing average filings and filing counts by month grouped by neighborhood demographics" }}
{{ end }}
<section
  id="{{ .Get `id` }}"
  class="section section--chart section--{{ .Get `id` }}"
>
  <div class="section__content">
    <div class="details">{{ .Inner }}</div>
    <div class="visual">
      <div class="visual__header">
        <h3 class="visual__title"></h3>
      </div>
      <svg class="chart" role="img" aria-label="{{ $.Scratch.Get `ariaLabel` }}"></svg>
      <div class="visual__toggle">
        <div class="button-group">
          <button class="toggle toggle--count">
            Filing Counts
          </button>
          <button class="toggle toggle--avg">
            Vs. Average
          </button>
        </div>
        <div class="button-group time-span"></div>
      </div>
    </div>
    <div class="legend"></div>
        <div id="imputedComps--{{ .Get `id` }}" class="callout comparison-block-wrapper">
          <p>
            <strong>Eviction filings by defendant race/ethnicity and gender</strong>
            There are often large <a href="https://evictionlab.org/demographics-of-eviction/">racial/ethnic and gender
              disparities
              in eviction risk</a>. Here, we estimate the demographic
            characteristics of those filed against for eviction over the last year. We compare to data from the ACS that show
            the
            share of renters in the same categories.<sup>{{ .Get `imputedNoteNumber`
              }}</sup>
            </p>
            <div class="comparison-legend">
              <div><span class="color-chip chip-a"></span>
                <p class="caption">Share of eviction filings</p>
              </div>
              <div><span class="color-chip chip-b"></span>
                <p class="caption">Share of renters</p>
              </div>
            </div>
          </div>
    <p class="footnote">
      <span class="data-download"><a href="{{ .Get `data` }}">Get the data</a> for this figure</span>
    </p>
  </div>
  <script>
    window.addEventListener('load', function() {
      var id = {{ .Get "id" }}
      var csv = {{ .Get "data" }}
      var rootEl = '#'+id
      var comparisonFiles = [
        { id: "imputed", url: csv },
      ]
      var comparisons = [
        {
          file: 'imputed',
          fieldA: 'month_filings_imputed',
          fieldB: 'baseline_share',
          display: 'Black',
          group: 'Black',
          formatter: d3.format('.0%'),
        },
        {
          file: 'imputed',
          fieldA: 'month_filings_imputed',
          fieldB: 'baseline_share',
          display: 'Latinx',
          group: 'Latinx',
          formatter: d3.format('.0%'),
        },
        {
          file: 'imputed',
          fieldA: 'month_filings_imputed',
          fieldB: 'baseline_share',
          display: 'White',
          group: 'White',
          formatter: d3.format('.0%'),
        },
        {
          file: 'imputed',
          fieldA: 'month_filings_imputed',
          fieldB: 'baseline_share',
          display: 'Female',
          group: 'Female',
          formatter: d3.format('.0%'),
        },
      ]
                    var getVals = (fileData, s) => {
        var row = fileData.findLast((d) => d.group === s.group);
                    return row ? [row[s.fieldA], row[s.fieldB]] : [];
      }
      if (id === "race") {
        Elab.Utils.createComparisonBlock('#imputedComps--race', comparisonFiles, comparisons, getVals)
    }
      Elab.Section.init('chart', rootEl, { id: id, csv: csv })
    });
  </script>
</section>
