<hr style="border-top-color: #2c897f; margin: 4rem 0 2.4rem;">
<div class="d-flex flex-wrap flex-md-nowrap align-items-center mw-100 mt-2 mb-3">
    <div class="pr-12 pr-md-0">
        <a href='{{ index .Params 1 }}' target="_blank" rel="noreferrer noopener"><img class="journal-image mb-3 mb-md-0" src='{{ index .Params 3 }}' /></a>
    </div>
    <div class="ml-md-3"><p class="green gt-eesti journal-subheading">READ THE ARTICLE:</p>
        <p><a class="green gt-eesti journal-heading" href='{{ index .Params 1 }}' target="_blank" rel="noreferrer noopener">{{ index .Params 0 }}</a></p>
        <a class="green font2" href='{{ index .Params 5 }}' target="_blank" rel="noreferrer noopener">{{ index .Params 4 }}</a>
        <p class="mt-3" style="font-size: 1.6rem;">{{ index .Params 2 }}</p>
    </div>
</div>
<hr style="border-top-color: #2c897f; margin: 2.4rem 0 2.4rem;">