{{ $title := .Get "title" }}
{{ $legend := .Get "stackLabels" }}
{{ $legendItems := split $legend ";" }}

<div
  class="chart chart--stack chart--{{ .Get `id` }}"
>
  {{ if $title }}
  <h3 class="chart__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}" class="chart__body">
    <svg></svg>
  </div>
  {{ if $legend }}
  <div class="legend">
  {{ range $index, $element := $legendItems }}
  <div class="legend-item legend-item--{{ $index }}">
  <div class="legend-item__color"></div>
  <div class="legend-item__label">{{ $element | safeHTML }}</div>
  </div>
  {{ end }}
  </div>
  {{ end }}
  <script>
    window.addEventListener('load', function() {
      // identifier for chart (must be unique on page)
      var id = {{ .Get "id" }}
      // url to csv file
      var csv = {{ .Get "data" }}
      // column name to use for x values
      var x = {{ .Get "x" }}
      // column name to group entries by
      var groups = {{ .Get "stacks" }}
      // group labels
      var groupLabels = {{ .Get "stackLabels" }}
      // number of y ticks to show
      var yTicks = {{ .Get "yTicks" }}
      // d3 formatting string for y values
      var yFormat = {{ .Get "yFormat" }}
      // frequency of x ticks (e.g. week, month)
      var xTicks = {{ .Get "xTicks" }}
      // d3 formatting string for x values
      var xFormat = {{ .Get "xFormat" }}
      // formatter for x values on tooltip
      var xTooltipFormat = {{ .Get "xTooltipFormat" }}
      // formatter for x values on tooltip
      var yTooltipFormat = {{ .Get "yTooltipFormat" }}
      // override y extent
      var yMin = {{ .Get "yMin" }}
      // override x extent
      var yMax = {{ .Get "yMax" }}
      // template for tooltip items
      var tooltipTemplate = {{ .Get "tooltipTemplate" }}
      var rootEl = document.getElementById(id);
      Elab.StackAreaChart.init(rootEl, { tooltipTemplate: tooltipTemplate, data: csv, groups: groups, groupLabels: groupLabels.split(";"), x: x, yTooltipFormat: yTooltipFormat, yTicks: yTicks, yFormat: yFormat,  yMin: yMin, yMax: yMax, xTicks: xTicks, xFormat: xFormat, xTooltipFormat: xTooltipFormat })
    });
  </script>
</div>
