{{/**
  Shortcode for rendering basic state maps, see shortcode docs for usage
*/}}

{{ $title := .Get "title" }}
{{ $caption := .Get "caption" }}

<div
  class="svg-map svg-map--states svg-map--{{ .Get `id` }}"
>
  {{ if $title }}
  <h3 class="svg-map__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}" class="svg-map__body"></div>
  {{ if $caption }}
  <p class="svg-map__caption">{{ $caption | safeHTML }}</p>
  {{ end }}
  
  <script>
    window.addEventListener('load', function() {
      var id = {{ .Get "id" }}
      var csv = {{ .Get "data" }}
      var idColumn = {{ .Get "idColumn" }}
      var valueColumn = {{ .Get "valueColumn" }}
      var colors = {{ .Get "colors" }}
      var minVal = {{ .Get "minVal" }}
      var maxVal = {{ .Get "maxVal" }}
      var ticks = {{ .Get "ticks" }}
      var valueTemplate = {{ .Get "valueTemplate" }}
      var valueFormat = {{ .Get "valueFormat" }}
      var rootEl = document.getElementById(id)
      Elab.StateMap.init(rootEl, { id:id, data: csv, valueTemplate: valueTemplate, valueFormat: valueFormat, ticks: ticks, minVal: minVal, maxVal: maxVal, colors: colors, idColumn: idColumn, valueColumn: valueColumn })
    });
  </script>
</div>
