{{/**
  Shortcode for rendering basic state maps, see shortcode docs for usage
*/}}

{{ $title := .Get "title" }}
{{ $caption := .Get "caption" }}

<div
  class="svg-map svg-map--states svg-map--{{ .Get `id` }}"
>
  {{ if $title }}
  <h3 class="svg-map__title">{{ $title }}</h3>
  {{ end }}
  <div id="{{ .Get `id` }}" class="svg-map__body"></div>
  {{ if $caption }}
  <p class="svg-map__caption">{{ $caption | safeHTML }}</p>
  {{ end }}
  
  <script>
    window.addEventListener('load', function () {
      Elab.StateMap.init(document.getElementById("{{ .Get `id` }}"), {
        id: {{ .Get `id` }},
        data: {{ .Get `data` }},
        markerData: {{ .Get `markerData` }},
        idColumn: {{ .Get `idColumn` }},
        valueColumn: {{ .Get `valueColumn` }},
        colors: {{ .Get `colors` }},
        minVal: {{ .Get `minVal` }},
        maxVal: {{ .Get `maxVal` }},
        ticks: {{ .Get `ticks` }},
        valueTemplate: {{ .Get `valueTemplate` }},
        scaleValueTemplate: {{ .Get `scaleValueTemplate` }},
        valueFormat: {{ .Get `valueFormat` }},
        binValues: {{ .Get `binValues` }},
        zeroPattern: {{ .Get `zeroPattern` }},
        zeroValNoteColumn: {{ .Get `zeroValNoteColumn` }},
        simpleDisplay: {{ .Get `simpleDisplay` }},
        cssHover: {{ .Get `cssHover` }}
      });
    });
  </script>
</div>
