{{ if eq (.Get `id`) "avg" }}
{{ $.Scratch.Set "ariaLabel" "Bar chart showing average filings and filing counts by month" }}
{{ end }}
{{ if eq (.Get `id`) "race" }}
{{ $.Scratch.Set "ariaLabel" "Bar chart showing average filings and filing counts by month grouped by neighborhood demographics" }}
{{ end }}
{{ $imputedNoteNumber := .Get `imputedNoteNumber` }}
<section
  id="{{ .Get `id` }}"
  class="section section--chart section--trends"
>
  <div class="section__content">
    <div class="details">{{ .Inner }}</div>
    <div class="visual">
      <div class="visual__header">
        <h3 class="visual__title"></h3>
      </div>
      <div id="filing-trends" class="visual__chart"><svg></svg></div>
      <div class="visual__toggle d-flex">
        <div class="button-group metric"></div>
        <div class="button-group time-span"></div>
      </div>
    </div>
    <div class="legend"></div>
    <p class="footnote">
      <span class="callout data-download"><a href="{{ .Get `data` }}">Get the data</a> for this figure</sp>
    </p>
  </div>
  <script>
    window.addEventListener('load', function() {
      var id = {{ .Get "id" }}
      var csv = {{ .Get "data" }}
      var rootEl = '#'+id
      Elab.Section.init('trends', rootEl, { id, csv })
    });
  </script>
</section>
