{{ partial "header" . }}
<!-- {{ partial "breadcrumb" . }} -->

<div class="row">
  <div class="col-10 offset-1 col-lg-8 offset-lg-2 rankings-intro">
    {{ .Content | markdownify }}
  </div>
</div>

<div class="row">
  <div class="mobile-filters col-10 offset-1 d-md-none">
    <button id="mobile_filter" class="btn mobile-filter">Filter Results</button>
  </div>
  <div id="filters_panel" class="inline-panel filters col-10 offset-1 col-md-10 offset-md-1 col-lg-2 offset-lg-2 offset-xl-2 col-xl-2 d-none d-sm-none d-md-block">
    <div class="filters">
      <h4>Filter:</h4>
      <div class="filters-list">
        <label class="filter-label">
          <input id="plcnonpbool" type="checkbox">No nonpayment
        </label>
        <label class="filter-label">
          <input id="plcnofilbool" type="checkbox" >No new filings
        </label>
        <label class="filter-label">
          <input id="plcnonewbool" type="checkbox">No new evictions
        </label>
        <label class="filter-label">
          <input id="plcnoenfbool" type="checkbox">No enforcement
        </label>
        <label class="filter-label">
          <input id="plcnohearbool" type="checkbox">No hearings
        </label>
        <label class="filter-label">
          <input id="plctldbool" type="checkbox">Tolled
        </label>
        <label class="filter-label">
          <input id="plclatfbool" type="checkbox">No late fees
        </label>
        <label class="filter-label">
          <input id="plcarsbool" type="checkbox">Arrears
        </label>
        <label class="filter-label">
          <input id="plcnoshbool" type="checkbox">No shutoffs, free reconnect
        </label>
        <label class="filter-label">
          <input id="plcnofcbool" type="checkbox">No foreclosures
        </label>
        <button id="clear_filters" class="btn d-md-none d-lg-block clear-filters">Clear filters</button>
      </div>
    </div>
    <div class="details"></div>
  </div>
  <div id="states_panel" class="inline-panel states col-12 offset-0 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-0">
    <table id="states_table" class="states-table">
      <caption class="sr-only">List of states, sortable by state name, TODO, TODO, and ranking</caption>
      <thead>
        <tr>
          <!-- data-filter changes to asc or desc when selected -->
          <td id="stname" class="state-name" data-filter="asc">
            <div class="col-title">
                State
            </div>
          </td>
          <td id="evstat1" class="stat-one" data-filter="false">
            <div class="col-title">
                Renting pop.
            </div>
          </td>
          <td id="evstat2" class="stat-two" data-filter="false">
            <div class="col-title">
              Filings per day*
            </div>
          </td>
          <td id="stars" class="stars" data-filter="false">
            <div class="col-title">
              Rating
            </div>
          </td>
        </tr>
      </thead>
      <tbody class="states-list"></tbody>
      <caption>*Filings per day based on data collected before the COVID-19 pandemic.</caption>
    </table>
  </div>
</div>

<div id="mobile_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
