{{ partial "header" . }}
<!-- {{ partial "breadcrumb" . }} -->

<div class="graphic-header covid-policy center-page-wrapper align-items-center d-flex">
  <div class="center-page">
    <h1 class="graphic-page-header">{{ .Params.h1 | safeHTML }}</h1>
    <div class="underbar"></div>
  </div>
</div>

<div class="row alt-bg ml-0 mr-0">
  <div class="col-10 offset-1 col-lg-9 mx-lg-auto col-xl-8 px-0 px-lg-3 px-xl-4">
    <div class="bordertop"></div>
  </div>
  <div class="col-md-10 offset-md-1 col-lg-9 mx-lg-auto col-xl-8 rankings-intro d-mm-flex d-mm-block px-md-0 px-lg-3 px-xl-4">
    <div class="col-12 col-mm-6 pl-mm-0 pr-mm-3">{{ .Params.intro1 | safeHTML }}</div>
    <div class="col-12 col-mm-6 pr-mm-1">{{ .Params.intro2 | safeHTML }}</div>
  </div>
</div>

<div id="filters_panel" class="row ml-0 mr-0 filters-panel">
  <div  class="filters-panel col-12 offset-0 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 pt-3 pb-3 px-md-4">
    <button id="mobile_filter" class="btn mobile-filter show-filters" tabindex="0" aria-live="polite">Show Filters</button>
    <div class="filters" style="max-height:0;">
      <!-- <h4 id="filters_heading">Filter:</h4> -->
      <div class="filters-list hide" style="display:none;"></div>
      <button id="clear_filters" class="btn clear-filters" tabindex="-1">Uncheck all filters</button>
    </div>
  </div>
</div>

<div class="row ml-0 mr-0">
  <!-- <div class="mobile-filters col-10 offset-1 d-lg-none">
    <button id="mobile_filter" class="btn mobile-filter show-filters">Show Filters</button>
  </div> -->
  <div id="states_panel" class="inline-panel states col-12 offset-0 offset-lg-1 col-lg-10 col-xl-8 offset-xl-2">
    <div class="col-12 d-smm-none text-center mb-3"><p><i>Scroll right within table to see ratings.</i></p></div>
    <table id="states_table" class="states-table table-responsive-sm">
      <caption class="sr-only">List of states, sortable by state name, renting population, pre-COVID-19 filings, and ranking</caption>
      <thead>
        <tr>
          <!-- data-filter changes to asc or desc when selected -->
          <th id="stname" class="state-name" data-filter="false">
            <div class="col-title">
                State
            </div>
          </th>
          <th id="evstat1" class="stat-one" data-filter="false">
            <div class="col-title">
                Renting population
            </div>
          </th>
          <th id="stars" class="stars" data-filter="desc">
            <div class="col-title">
              Rating
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="states-list">
        <tr>
          <td colspan="3" class="spinner-parent">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button id="scroll_to_filters" class="scroll-to-filters" style="display:none;">
  <span>SCROLL TO FILTERS</span><i class="fa fa-chevron-right"></i>
</button>

{{/* partial "covid-acknowledgements" . */}}
{{ partial "covid-disclaimer" . }}

<script type="text/javascript">
  var page_state_abbrev = null;
  var page_page_type = {{ .Params.layout }};
</script>
<a id="newsletter"></a>
{{ partial "footer" . }}
