{{ partial "header" . }}
<!-- {{ partial "breadcrumb" . }} -->
{{ partial "agnosticbreadcrumb" . }} 

<div class="row alt-bg ml-0 mr-0">
  <div class="col-10 offset-1 col-lg-6 mx-lg-auto col-xl-8 offset-lg-2 rankings-intro">
    <h2>{{ .Title }}</h2>
  </div>
</div>

<span class="insert-after"></span>

{{ partial "covid-acknowledgements" . }}

<script type="text/javascript">
  var page_state_abbrev = {{ .Params.state_abbrev }};
  var page_page_type = {{ .Params.layout }};
</script>

{{ partial "footer" . }}
