<div class="bio-thumb-wrapper">
    <a data-toggle="modal" data-target="#modal-{{ .Params.abbrev }}" data-bio="mdes" href="#">
      <div class="bio-container">
        <picture>
          <!--<source media="(max-width: 799px)" srcset='/images/bios/grayscale{{/* strings.TrimPrefix "/images/bios" .Params.thumb */}}'>-->
          {{ if in .Params.thumb "images/" }}
          <source media="(min-width: 800px)" srcset="{{ .Params.thumb }}">
          <img alt="{{ .Params.title }} photo" class="bio-thumb" src="{{ .Params.thumb }}" />
          {{ else }}
          <source media="(min-width: 800px)" srcset="{{.RelPermalink}}{{ .Params.thumb }}">
          <img alt="{{ .Params.title }} photo" class="bio-thumb" src="{{.RelPermalink}}{{ .Params.thumb }}" />
          {{ end }}
        </picture>
        
        <svg class="arrow-bio" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect x="0" y="0" width="40" height="40"></rect>
          <g transform="translate(16.000000, 13.000000)">
              <polyline transform="translate(4.497020, 7.500000) rotate(-90.000000) translate(-4.497020, -7.500000) " points="-3.00297955 4 4.26235188 11 6.17724963 9.26710977 11.9970205 4.00049748"></polyline>
          </g>
        </svg>
        <h3>{{ .Params.title }}</h3>
        <p class="bio-position">{{ .Params.position }}</p>
      </div>
    </a> 
  </div>