<div class="modal fade" id="buy-book-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{ .Params.button1 }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="options">
                    <a class="btn btn-primary" href="https://www.amazon.com/gp/product/0553447432" target="_blank">Amazon.com</a>
                    <a class="btn btn-primary" href="https://www.barnesandnoble.com/w/evicted-matthew-desmond/1122252579" target="_blank">Barnes &amp; Noble</a>
                    <a class="btn btn-primary" href="https://www.walmart.com/ip/Evicted-Poverty-and-Profit-in-the-American-City/55391271" target="_blank">Wal-Mart</a>
                    <a class="btn btn-primary" href="http://www.booksamillion.com/p/9780553447453" target="_blank">Books a Million</a>
                    <a class="btn btn-primary" href="https://www.indiebound.org/book/9780553447453" target="_blank">IndieBound</a>
                    <a class="btn btn-primary" href="http://www.powells.com/book/-9780553447453" target="_blank">Powell's</a>
                    <a class="btn btn-primary" href="https://www.target.com/p/evicted-poverty-and-profit-in-the-american-city-readers-guide-edition-reprint-paperback-matthew/-/A-52197443" target="_blank">Target</a>
                    <a class="btn btn-primary" href="https://itunes.apple.com/us/book/id1025575041" target="_blank">iBooks</a>
                    <a class="btn btn-primary" href="https://www.kobo.com/us/en/ebook/evicted-1" target="_blank">Kobo</a>
                    <a class="btn btn-primary" href="https://play.google.com/store/books/details/Matthew_Desmond_Evicted?id=-QYZCgAAQBAJ" target="_blank">Google Play</a>
                    <a class="btn btn-primary" href="https://www.audiobooks.com/audiobook/9780147526793" target="_blank">Audible</a>
                </div>
            </div>
        </div>
    </div>
</div>
