<!-- back to section link -->
{{ if not .IsHome }}
 
  {{ if eq .Params.homepage "updates" }}
  <!-- do nothing -->
  {{ else }}
    <div class="breadcrumbs bc-{{ if .Params.childof }}{{.Params.childof}}{{ else }}{{.Params.type}}{{ end }} center-page-wrapper">
      <div class="center-page">

          <a href="{{ .Site.BaseURL }}{{ .Section }}">
            <span class="dim">{{ humanize .Section }}</span>
          </a>

          {{ $childOf := title .Params.childof }}
          {{ if eq .Title $childOf }}
            <!-- do nothing -->
            {{ else }}
            <i class="fa fa-chevron-right"></i>
            {{ if eq .Params.childof "blog" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/blog/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
            {{ if eq .Params.childof "reporting" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/reporting/">
              <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
            {{ if eq .Params.childof "research" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/research/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
            {{ if eq .Params.childof "events" }}
              <a href="{{ .Site.BaseURL }}{{ .Section }}/events/">
                <span class="dim">{{ humanize .Params.childof }}</span>
              </a>
            {{ end }}
          {{ end }}

            <i class="fa fa-chevron-right"></i>
            <a>
              {{ if eq .Params.type "covid-policy-rankings" }}
                <span class="current-crumb">{{ .Params.state_title }}</span>
              {{ else }}
                <span class="current-crumb">{{ .Title }}</span>
              {{ end }}
            </a>
      </div>
    </div>
  {{ end }}
{{ end }}
