<meta name="citation_title" content="Estimating Eviction Prevalence across the United States">
<meta name="citation_authors" content="Ashley Gromis; Ian Fellows; James R. Hendrickson; Lavar Edmonds; Lillian Leung; Adam Porton; Matthew Desmond">
<meta name="citation_publisher" content="Princeton University Eviction Lab">
<meta name="citation_public_url" content="https://data-downloads.evictionlab.org/#estimating-eviction-prevalance-across-us/">
<meta name="citation_date" content="Deposited May 13, 2022">