<div class="row ml-0 mr-0 pt-md-2 pb-7 disclaimer">
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <div class="bordertop"></div>
    <h3 class="mt-1 mb-2">Legal Disclaimer</h3>
  </div>
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2">
    <p>This website is intended to provide general information about emergency policies and does not constitute legal advice. Please consult an attorney barred in your state for advice about a specific legal matter. A list of legal aid resources is available at <a href="https://justshelter.org" target="_blank">justshelter.org</a>.</p>
  </div>
</div>
