<div id="scorecard-resources" class="row ml-0 mr-0 pt-1 pt-md-4 pt-lg-2 disclaimer scorecard">
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <div class="bordertop"></div>
    <h3 class="mt-1 mb-4">Additional info</h3>
  </div>
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 d-flex flex-wrap">
    <div class="col-12 col-mm-6 pl-mm-0 pr-mm-3"><ul>{{ .Params.intro2 | safeHTML }}</ul></div>
    <div class="col-12 col-mm-6 pr-mm-1"><ul>{{ .Params.intro2_2 | safeHTML }}</ul></div>
  </div>  
</div>
