{{ if .Site.IsServer }}
  <!-- If site is being served (ostensibly dev) don't compress and minify -->
  <!-- Development version -->
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script type="text/javascript" src="/js/covid-policy-rankings/handlebars-v4.7.3.js"></script>
{{ else }}
  <!-- Production version -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script type="text/javascript" src="/js/covid-policy-rankings/handlebars.min-v4.7.3.js"></script>
{{ end }}
<script type="text/javascript" src="/js/covid-policy-rankings/covid-policy-rankings.js"></script>
