<div class="row ml-0 mr-0 acknowledgements">
  <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 mb-3 px-3">
    <h3>Acknowledgements</h3>
  </div>
  <div class="col-12 col-md-5 offset-md-1 col-xl-4 offset-xl-2 px-3 px-md-0">
    <p>We are grateful for the support of the following partners for their guidance in crafting the methodology of the scorecard:</p>
    <ul>
      <li>Xavier Briggs, New York University</li>
      <li>Tara Raghuveer, People’s Action</li>
      <li>Susanna Blankley, Right to Counsel Coalition</li>
      <li>Peggy Bailey, Center for Budget and Policy Priorities</li>
      <li>Alicia Mazzara, Center for Budget and Policy Priorities</li>
      <li>Diane Yentel, National Low Income Housing Coalition</li>
    </ul>
  </div>
  <div class="col-12 col-md-5 offset-0 col-xl-4 offset-xl-0 px-3 px-md-0">
    <p>
      The renting population statistic on the tool comes from the United States Census Bureau.
    </p>
    <p>
      U.S. Census Bureau. Total Population in Renter Occupied Housing Units by Units in Structure, ACS 2018 (5-Year Estimates). Prepared by Social Explorer. (accessed Apr 16 10:37:03 EST 2020).
    </p>
  </div>
</div>
