<div class="row alt-bg ml-0 mr-0">
  <div class="col-10 offset-1 col-lg-8 offset-lg-2 mx-lg-auto col-xl-8 acknowledgements">
    <h3>Acknowledgements</h3>
    <p>We are grateful for the support of the following partners for their guidance in crafting the methodology of the scorecard:</p>
    <ul>
      <li>Xavier Briggs, New York University</li>
      <li>Tara Raghuveer, People’s Action</li>
      <li>Susanna Blankley, Right to Counsel Coalition</li>
      <li>Peggy Bailey, Center for Budget and Policy Priorities</li>
      <li>Alicia Mazzara, Center for Budget and Policy Priorities</li>
      <li>Diane Yentel, National Low Income Housing Coalition</li>
    </ul>
    <p>
      The renting population statistic on the tool comes from the United States Census Bureau.
    </p>
    <p>
      U.S. Census Bureau. Total Population in Renter Occupied Housing Units by Units in Structure, ACS 2018 (5-Year Estimates). Prepared by Social Explorer. (accessed Apr 16 10:37:03 EST 2020).
    </p>
    <p>
      <a href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vTH8dUIbfnt3X52TrY3dEHQCAm60e5nqo0Rn1rNCf15dPGeXxM9QN9UdxUfEjxwvfTKzbCbZxJMdR7X/pubhtml#">See a full list of executive, legislative, and court orders.</a>
    </p>
  </div>
</div>
