<div id="sub-splash-gateway">
    <div id="main-features" class="row mx-0 feature-panel"> 
        <div class="col-12 col-xxl-11 col-x4l-10 d-flex flex-wrap mx-auto px-0 py-2">
            <div class="col-12 col-md-8 col-lg-6 pl-0 pr-3 px-md-2">
                <a id="feature-map" class="d-block feature main-feature px-0 ml-3 my-3 mt-lg-4" href="/map"></a>
               
            </div>
            <div class="col-12 col-md-9 col-lg-6  px-3 px-md-2">
                <div id="feature-map-title" class="px-0 ml-md-3 mt-1 mt-md-3 my-md-3">
                    <div class="bordered-header border-0 pt-0 blue mb-1 mb-lg-2">
                        {{ i18n "toolsHeading" }}
                    </div>
                    <a href="/map" class="title title-large mb-1 mb-lg-0 d-flex">{{ i18n "mapData" }} <img src="/images/icons/v2icon.svg" alt="2.0" class="v2icon" /></a>
                    <p>{{ i18n "mapSub" | safeHTML }}</p>
                </div>  
            </div> 
        </div>       
    </div>  
</div>

   