<!-- Other pages links -------------->
<div id="other-pages" class="pt-2 pb-3">
    <div class="row mx-3 mx-md-5 mx-xxl-6">
      <div class="col-12 col-xxl-11 col-xxxl-10 col-x4l-9 d-flex d-md-none flex-wrap mx-auto px-0">
          <div class="bordered-header pt-3 w-100 blue mb-3">
              Learn more
          </div>
      </div>    
   </div>
    <div class="row mx-3 mx-md-5 mx-xxxl-6 mt-md-3 mt-lg-0 subfeature-panel">
       <div class="col-12 col-xxl-11 col-xxxl-10 col-x4l-9 d-flex flex-wrap mx-auto px-0">
            <div id="hp-eviction-image" class="col-12 col-md-6 order-1 order-md-0 mt-1 mb-5 mt-md-0 my-lg-5 px-0 fade-in-element">
                <img class="mw-100" src="/images/assets/Evicted_Video8.jpg" />
            </div>
            <div class="col-12 col-md-6 px-0 pl-md-4 pl-lg-8 mb-md-5 mb-lg-10 mt-lg-5 fade-in-element delay1">
                <div class="d-none d-md-flex flex-wrap mx-auto px-0">
                    <div class="bordered-header pt-3 w-100 blue mb-3">
                        {{ i18n "learnMoreHead1" }}
                    </div>
                </div>    
                <ul>
                    <li><a class="sublink aboutus title mb-3" href="/about">{{ i18n "aboutHead" }} </a></li>
                    <li><a class="sublink aboutus title mb-3" href="/why-eviction-matters">{{ i18n "whyHead" }} </a></li>
                    <li><a class="sublink aboutus title mb-3" href="/help-faq">{{ i18n "helpHead" }} </a></li>
                    <li><a class="sublink aboutus title mb-3" href="/methods">{{ i18n "methodsHead" }} </a></li>
                </ul>
            </div>
        </div>    
    </div>    
  </div>