<div id="sub-splash-gateway">
    <div id="main-features" class="row mx-0 feature-panel"> 
        <div class="col-12 col-xxl-11 col-x4l-10 d-flex flex-wrap mx-auto px-0">
            <div class="col-12 col-md-6 pl-0 pr-3 px-md-2">
                <a id="feature-map" class="d-block feature main-feature px-0 ml-3 my-3" href="/map"></a>
                <div id="feature-map-title" class="px-0 ml-3 mt-3 my-md-3">
                    <div class="bordered-header border-0 pt-0 blue mb-1">
                        interactive tools
                    </div>
                    <a href="/map" class="title">{{/* i18n "mapData" */}}National Map & Data</a>
                    <p>{{ i18n "mapSub" }}</p>
                </div>
            </div>
            <div class="col-12 col-md-6  px-3 px-md-2">
                <a id="feature-rankings" class="d-block feature main-feature px-0 mr-md-3 my-3" href="/rankings"></a>
                <div id="feature-rankings-title" class="px-0 mr-3 my-3">
                    <div class="bordered-header border-0 pt-0 blue mb-1">
                        interactive tools
                    </div> 
                    <a href="/rankings" class="title">{{ i18n "rankingsHead" }}</a>
                    <p>{{ i18n "rankingsSubhead" }}</p>
                </div>    
            </div> 
        </div>       
    </div>  
</div>

   