<div id="hp-hero" class="row mx-auto mt-0 mt-md-4 mt-lg-5  mb-lg-7 hp-hero">
    <div class="col-12 col-md-11 col-md-12 px-0 px-md-5 px-xxxl-2 col-xxxl-10 mx-auto d-block d-lg-flex flex-column flex-lg-row">
        <div class="col-12 col-lg-6 col-xl-7 hp-hero__img"></div>
        <div class="col-12 col-lg-6 col-xl-5 px-2 px-md-0 pl-lg-4 pl-xl-5 hp-hero__copy d-flex flex-column justify-content-lg-center justify-content-xl-end">
          <h1 class="mt-3 mb-3 mt-md-3 mb-md-0 mt-lg-2 mt-xl-5 mb-md-2 mb-lg-2 mb-xl-3">
           {{ i18n "splashHeader1" }} <br class="d-none d-lg-block"/> {{ i18n "splashHeader2" }} <br class="d-none d-lg-block"/> {{ i18n "splashHeader3" }}
          </h1>
          <p class="mb-3 mb-md-4 mb-lg-3 mb-xl-6">{{ i18n "splashBody" }}</p>
          <div class="d-block d-smm-flex flex-wrap align-items-start mb-5 mb-lg-0">   
            <a class="btn smoothScroll mb-2 mb-mm-0 mb-lg-2 mb-xl-0 mr-1 mr-md-2 mr-lg-1 mr-xl-2" href="#home-menu">{{ i18n "cta" }}</a>
            <a class="btn" href="/updates">{{ i18n "cta2" }}</a>
          </div>       
        </div>
    </div>
  </div>