<!-- Other pages links -------------->
<div id="other-pages">
    <div class="row mx-3 mx-md-5">
      <div class="col-12 col-xxl-11 col-x4l-10 d-flex d-md-none flex-wrap mx-auto px-0">
          <div class="bordered-header pt-3 w-100 blue mb-3">
              Learn more
          </div>
      </div>    
   </div>
    <div class="row mx-3 ml-md-0 mr-md-5 mx-lg-0 subfeature-panel">
       <div class="col-12 d-flex flex-wrap mx-auto px-0">
            <div id="hp-eviction-image" class="col-12 col-md-6 order-1 order-md-0 mb-5 mb-md-0">
            </div>
            <div class="col-12 col-md-6 col-lg-5 px-0 pl-md-4 pl-lg-8 mb-md-5 mb-lg-10 mt-lg-5">
                <div class="d-none d-md-flex flex-wrap mx-auto px-0">
                    <div class="bordered-header pt-3 w-100 blue mb-3">
                        Learn more
                    </div>
                </div>    
                <ul>
                    <li><a class="sublink aboutus title mb-3" href="/about">{{ i18n "aboutHead" }} </a></li>
                    <li><a class="sublink aboutus title mb-3" href="/why-eviction-matters">{{ i18n "whyHead" }} </a></li>
                    <li><a class="sublink aboutus title mb-3" href="/help-faq">{{ i18n "helpHead" }} </a></li>
                    <li><a class="sublink aboutus title mb-3" href="/methods">{{ i18n "methodsHead" }} </a></li>
                </ul>
            </div>
        </div>    
    </div>    
  </div>