<div class="fade-in-element">
    <div class="bordered-header d-block blue mb-3 mx-1 mx-md-2 mx-lg-3 px-0 pl-lg-0">
      {{ i18n "toolsHeading" }}
    </div>
    <div class="row mx-0 feature-panel">
        <div class="ets-homepage col-12 d-flex flex-wrap mb-md-5 px-0 pl-lg-1">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-xxxl-4 px-1 px-md-2">
                <a id="feature-map" class="feature main-feature px-0 xxxxxmt-lg-4" href="/map">
                    {{ partial "map-circles.svg" }}
                </a>

            </div>
            <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8 col-xxxl-8 px-1 px-md-2">
                <div id="feature-map-title">
                <!-- <div id="feature-map-title" class="px-0 ml-md-3 xxxxxmt-1 xxxxxmt-md-3 xxxxxmy-md-3"> -->
                    <!-- <div class="bordered-header border-0 pt-0 blue mb-1 mb-lg-2">
                    </div> -->
                    <a href="/map" class="title title-large mb-2 d-flex">{{ i18n "mapData" }} <img src="/images/icons/v2icon.svg" alt="2.0" class="v2icon" /></a>
                    <p>{{ i18n "mapSubMini" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

