 <!--- COVID features rows ------------------------------------------>    
 <div id="covid-gateway" class="alt-bg pt-3 pb-4">
     <div class="row mx-5">
         <div class="bordered-header w-100 blue mb-3">
             covid-19 resources
         </div>
     </div>
    <div class="row mx-5">
        <div class="col-12 col-md-4 pl-0">
            <a href="/covid-policy-scorecard" class="d-block resources-img bg-1 mb-2"></a>
            <a href="/covid-policy-scorecard" class="title mb-1">{{ i18n "scorecardHead" }}</a>
            <p>{{ i18n "scorecardSub" }}</p>
        </div>
        <div class="col-12 col-md-4">
            <a href="/covid-eviction-policies" class="d-block resources-img bg-2 mb-2"></a>
            <a href="/covid-eviction-policies" class="title mb-1">{{ i18n "policiesHead" }}</a>
            <p>{{ i18n "policiesSub" }}</p>
        </div>
        <div class="col-12 col-md-4">
            <a href="https://justshelter.org" class="d-block resources-img bg-3 mb-2" target="_blank" rel="noopener noreferrer"></a>
            <a href="https://justshelter.org" target="_blank" rel="noopener noreferrer" class="title mb-1">{{ i18n "jsHead" }}</a>
                <p>{{ i18n "jsSub" }}</p>
        </div>
    </div>
</div>