<!-- Reporting section -->
<div class="d-block" id="updates-section">
    <div class="row mx-0 subfeature-panel pt-6 pb-4 py-md-8 py-xl-9 pl-md-1 pl-lg-0">
      <div class="col-12 col-md-10  col-lg-12 px-lg-5 col-xl-10 px-xl-2 col-xxxl-9 mx-auto mx-auto d-flex flex-wrap">
        <div class="col-12 px-0 mb-4 mb-lg-5 d-flex flex-column flex-md-row align-items-center">
          <img class="mr-1 mr-md-2 mt-1 mt-md-0 header-icon mb-2 mb-md-0" alt="" src="/images/icons/reporting-icon.svg">
          <h2 class="text-center text-md-left">Reporting From Our Partners</h2>
        </div>
        {{ if eq .Site.Language.LanguageName "Español" }}
          {{ range .Translations }}
            {{ partial "reporting" . }}
          {{ end}}  
        {{ end }} 
        {{ if eq .Site.Language.LanguageName "English" }}
            {{ partial "reporting" . }}
        {{ end }}   
          <div class="col-12 px-0 px-lg-2">
            <a class="sublink mw-100 d-block d-md-none text-center text-md-left mb-2 mb-md-0 mt-4 mt-lg-5  px-0" href="/updates/reporting">SEE ALL ARTICLES <i class="fa fa-chevron-right"></i><div class="hoverbar"></div></a>
          </div> 
        </div>         
      </div>
    </div>    
  </div>