 <!--- COVID features rows ------------------------------------------>    
 <div id="covid-gateway" class="alt-bg pt-3 pb-4">
     <div class="row mx-3 mx-md-5">
        <div class="col-12 col-xxl-11 col-x4l-10 d-flex flex-wrap mx-auto px-0">
            <div class="bordered-header pt-3 w-100 blue mb-3 mr-lg-2">
                covid-19 resources
            </div>
        </div>    
     </div>
    <div class="row mx-3 mx-md-5">
        <div class="col-12 col-xxl-11 col-x4l-10 d-flex flex-wrap mx-auto px-0">
            <div class="col-12 col-lg-4 d-md-flex flex-wrap d-lg-block pl-0">
                <a href="/covid-policy-scorecard" class="col-12 col-md-3 col-lg-12 d-none d-md-block resources-img bg-1 mb-3"></a>
                <div class="col-12 col-md-7 col-lg-12 px-0 px-md-3 px-lg-0">
                    <a href="/covid-policy-scorecard" class="title mb-1">{{ i18n "scorecardHead" }}</a>
                    <p>{{ i18n "scorecardSub" }}</p>
                    <hr class="d-md-none" />
                </div>    
            </div>
            <div class="col-12 col-lg-4 d-md-flex flex-wrap d-lg-block pl-0 pl-lg-2">
                <a href="/covid-eviction-policies" class="col-12 col-md-3 col-lg-12 d-none d-md-block resources-img bg-2 mb-3"></a>
                <div class="col-12 col-md-7 col-lg-12 px-0 px-md-3 px-lg-0">
                    <a href="/covid-eviction-policies" class="title mb-1">{{ i18n "policiesHead" }}</a>
                    <p>{{ i18n "policiesSub" }}</p>
                    <hr class="d-md-none" />
                </div>    
            </div>
            <div class="col-12 col-lg-4 d-md-flex flex-wrap d-lg-block pl-0 pl-lg-2">
                <a href="https://justshelter.org" class="col-12 col-md-3 col-lg-12 d-none d-md-block resources-img bg-3 mb-lg-3" target="_blank" rel="noopener noreferrer"></a>
                <div class="col-12 col-md-7 col-lg-12 px-0 px-md-3 px-lg-0">
                    <a href="https://justshelter.org" target="_blank" rel="noopener noreferrer" class="title mb-1">{{ i18n "jsHead" }}</a>
                    <p>{{ i18n "jsSub" }}</p>
                </div>    
            </div>
        </div>    
    </div>
</div>