<div class="subnav center-page-wrapper shadow-bottom" role="navigation">
  <div class="center-page">
    <ul class="updates-nav anchor-links">
     {{ $currentTitle := .Params.childof }}
     {{ $section := .Section }}
     {{ $menus := index .Site.Menus $section }}
      <li class="nav-item only-larger-screens">Categories</li>
        {{ range $menus }}
          {{ $currentName := .Name }} <!-- get the name of the current menu item, ie one of Blog, Media, Research, Events -->
          {{ $currentTitle := title $currentTitle }} 
          <li class="nav-item"><a class="{{ if eq $currentName $currentTitle }}subnav-active{{ else }}subnav-link{{ end }}" href="{{.URL}}">{{ .Name }}</a></li>
        {{ end }}
  </div>
</div>
