/* set the header gradient background colours for the various sections of the site */

.blog-bg-color {
  background: rgba(242,117,54,1);
  background: -moz-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,117,54,1)), color-stop(100%, rgba(224,64,25,1)));
  background: -webkit-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: -o-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: linear-gradient(to bottom, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27536', endColorstr='#e04019', GradientType=0 );
}

.media-bg-color {
  background: rgba(120,126,176,1);
  background: -moz-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,126,176,1)), color-stop(100%, rgba(67,72,120,1)));
  background: -webkit-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: -o-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: -ms-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: linear-gradient(to bottom, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787eb0', endColorstr='#434878', GradientType=0 );
}

.events-bg-color, /* keep this one here, everything else was put here temporarily */
.about-us-bg-color,
.city-rankings-bg-color,
.learn-more-tell-your-story-bg-color,
.help-faq-bg-color,
.methods-bg-color,
.maps-and-data-bg-color,
.other-studies-from-eviction-lab-bg-color,
.studies-from-outside-election-lab-bg-color,
.updates-bg-color,
.whats-new-bg-color {
  background: rgba(223,228,231,1);
  background: -moz-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,228,231,1)), color-stop(100%, rgba(177,185,190,1)));
  background: -webkit-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: -o-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: -ms-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: linear-gradient(to bottom, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe4e7', endColorstr='#b1b9be', GradientType=0 );
}

.research-bg-color {
  background: rgba(87,190,181,1);
  background: -moz-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,190,181,1)), color-stop(100%, rgba(44,137,128,1)));
  background: -webkit-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: -o-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: -ms-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: linear-gradient(to bottom, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57beb5', endColorstr='#2c8980', GradientType=0 );
}

.alt-rows > div:nth-of-type(odd) {
    background: #F4F7F9;
}

/* do stuff to things inside a rendered content block */
.page-content p {
  margin: 2em 0;
  font-family: "Gotham A", "Gotham B", sans-serif;
}

.page-content em {
  font-style: italic;
}

/* debugging helpers */

.debug-visability {
  display: none;
}

/* start hamburger menu */
/* ******************** */

/* --------------------------------

Main Components

-------------------------------- */


.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  right: 10px;
  top: 0px;
  height: 54px;
  width: 54px;
  background-color: transparent;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 24px;
  height: 3px;
  background-color: #E1441C;
}
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}
.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
  display: none;
}
.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s;
  -moz-transition: -moz-transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0;
}
.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  -moz-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s;
}
@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    top: 40px;
  }
}

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/img/footer-bg.png') #393939;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
}
.cd-nav .cd-navigation-wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 40px 5% 40px calc(5% + 80px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.cd-nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.3rem;
  font-weight: 800;
  color: #080b0f;
  text-transform: uppercase;
}
.cd-nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}
.cd-nav .cd-primary-nav {
  margin-top: 60px;
}
.cd-nav .cd-primary-nav li {
  margin: 1.6em 0;
}
.cd-nav .cd-primary-nav a {
  display: inline-block;
}
.cd-nav .cd-primary-nav a.selected {
  color: #ffffff;
}
.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #ffffff;
}

@media only screen and (min-width: 1170px) {
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%;
  }
  .cd-nav .cd-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-nav .cd-half-block {
    width: 50%;
    float: left;
  }
  .cd-nav .cd-primary-nav {
    margin-top: 0;
  }
  .cd-nav h2 {
    font-size: 1.5rem;
    margin-bottom: 5.6em;
  }
  .cd-nav .cd-primary-nav li {
    margin: 2em 0;
  }
  .cd-nav .cd-primary-nav a {
    font-size: 4.4rem;
  }
  .cd-nav .cd-contact-info {
    margin-top: 120px;
    text-align: right;
  }
  .cd-nav .cd-contact-info li {
    margin-bottom: 2.4em;
  }
  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
    font-size: 2rem;
  }
}

.no-js main {
  height: auto;
  overflow: visible;
}

.no-js .cd-nav {
  position: static;
  visibility: visible;
}
.no-js .cd-nav .cd-navigation-wrapper {
  height: auto;
  overflow: visible;
  padding: 100px 5%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* end hamburger menu */
/* ****************** */
