{{ partial "header" . }}

<div class="breadcrumbs bc-blog center-page-wrapper">
  <div class="center-page">
    <a href="/eviction-tracking">
      <span class="dim">Eviction Tracking</span>
    </a>
    <i class="fa fa-chevron-right"></i>
    <span class="current-crumb">{{ .Params.h1 }}</span>
  </div>
</div>

<div class="layout layout--full">
  <div class="column column--content">
    {{ .Content }}
    {{ if .Params.similar }}
      <a id="similar-resources"></a>
      {{ .Params.similar | markdownify }}
    {{ end }}
    <p id="lastUpdate" class="date">
      Last Updated:
      <span>{{ .Date.Format "January 2, 2006" }}</span>
    </p>
  </div>
</div>

{{ partial "footer" . }}
