{{ partial "header" . }} {{ $pagetype := .Params.childof }}
<!-- {{ partial "subnav" . }} -->

{{ partial "ets/hero" . }}
<div class="list-intro">
  <div class="list-intro__count">
    <p class="counter">
      <span class="counter__context">They filed for</span>
      <span id="counterWeek" class="counter__number">...</span>
      <span class="counter__label">evictions</span>
      <span class="counter__context">last week.</span>
    </p>
  </div>
  <div class="list-intro__content">
    <p id="lastUpdate" class="list-intro__date overline">
      Data current as of <span>...</span>
    </p>
    <p class="list-intro__text">{{ .Params.intro | markdownify }}</p>
  </div>
</div>
<div class="list-table">
  <div class="layout">
    <div class="column column--content">
      {{ .Content }}
    </div>
  </div>
</div>
<div class="list-crisis">
  <div class="layout">
    <div class="column column--content">
      {{ .Params.crisis | markdownify }}
    </div>
  </div>
</div>
<div class="list-additional">
  <div class="layout">
    <div class="column column--content">
      {{ .Params.additional | markdownify }}
      <div class="callout">
        {{ .Params.where | markdownify }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
