{{ partial "header" . }} {{ $pagetype := .Params.childof }}
<!-- {{ partial "subnav" . }} -->

{{ partial "ets/hero" . }}
<div class="list-intro">
  <div class="layout">
    <div class="column column--content">
      <p id="lastUpdate" class="list-intro__date overline">
        Last Updated: <span>{{ .Date.Format "January 2, 2006" }}</span>
      </p>
      <p>{{ .Params.intro | markdownify }}</p>
    </div>
  </div>
</div>
<div class="list-table">
  <div class="layout">
    <div class="column column--content">
      {{ .Content }}
    </div>
  </div>
</div>
<div class="list-crisis">
  <div class="layout">
    <div class="column column--content">
      {{ .Params.crisis | markdownify }}
    </div>
  </div>
</div>
<div class="list-additional">
  <div class="layout">
    <div class="column column--content">
      {{ .Params.additional | markdownify }}
      <div class="callout">
        {{ .Params.where | markdownify }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
