{{ partial "header" . }}

<div class="fl w-100">

  {{ partial "subnav" . }}

  <div class="fl w-100 pa {{ lower .Section }}-bg-color">
    <h1 class="mh3 mv4 white fw3 ttu tracked f4">{{ .Title }}</h1>
  </div>

{{ partial "breadcrumb" . }}

</div>

<div class="fl w-100 pv3 ph3 bg-white">
  <h3 class="f2">{{ .Title }}</h3>
  <small>{{ .Date }}</small>

  {{ if .Content }}
    <p>{{ .Content }}</p>
    {{ else }}
    <p>sorry no content here</p>
  {{ end }}
</div>

{{ partial "debug" . }}
<span class="debug-visability">rendered by = themes/THEMENAME/layouts/_default/single.html</span>

{{ partial "footer" . }}
