{{ partial "header" . }}

<!-- section header -->
<div class="graphic-header methods center-page-wrapper">
  <div class="center-page">
    <h1 class="graphic-page-header">methods</h1>
    <div class="underbar"></div>
  </div>
</div>

<!-- subnav -->
<div class="shadow-bottom center-page-wrapper subnav">
  <div class="center-content-post">
    <ul class="anchor-links">
      <li class="only-larger-screens">CHOOSE A SECTION</li>
      <li><a href="#section-name" class="smoothScroll">Methods FAQ</a></li>
      <li><a href="#"><span class="color1">Download Full Report</span></a></li>
    </ul>
  </div>
</div>

<div class="center-page-wrapper">
  <div class="center-content-post page-list">

    <!-- ************ -->
    <!-- section name -->
    <!-- ************ -->

    <a name="section-name"></a>
    <h2 class="page-section-header">Methods FAQ</h2>

    <div class="accordion">
        {{ range (where .Site.RegularPages "Params.childof" ("methods")) }}
        {{ if eq .Params.childof "methods" }}
        <!-- method item -->
        <div class="accordion-section">
            <a class="collapsed" data-toggle="collapse" href="#{{ .Params.weight }}" aria-expanded="false" aria-controls="collapseExample">
               <span>{{ .Params.Title }}</span>
               <i class="fa fa-chevron-up"></i>
               <div class="clear-float"></div>
             </a>
          <div class="answer collapse" id="{{ .Params.weight }}">
            {{ .Content }}
          </div>
        </div>
        {{ end }}
        {{ end }}
     
    </div> <!-- close accordion -->

  </div>
</div>

{{ partial "debug" . }}
<span class="debug-visibility">rendered by = themes/THEMENAME/layouts/methods/list.html</span>

{{ partial "footer" . }}
