{{ partial "header" . }}

<!-- ********** splash section ********** -->

<div class="new-splash mobile-vh">
  <div class="section section-split">

    <!-- ********* slider *********** -->

    <div class="section-image">

      <div id="hero-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <!--<img class="d-block w-100" src="/images/assets/hero/american-flag-evicted-woman.jpg" alt="First slide">-->
          </div>

          <!--<div class="carousel-item">
            <img class="d-block w-100" src="/img/hero-slide-2.jpg" alt="Second slide">
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="/images/assets/hero/girl-looking-out-window2.jpg" alt="Third slide">
          </div>-->

        </div>
      </div>

    </div>

    <!-- ********* copy *********** -->

    <div class="section-content">
      <div class="hero">

      <h1>
          {{ i18n "splashHeader" }}
      </h1>

      <p>{{ i18n "splashBody" }}</p>

      <a class="btn smoothScroll " href="#pictorial-anchor">{{ i18n "cta" }}</a>

      <div class="hero-social">
          <a href="https://www.facebook.com/evictionlab/" aria-label="Eviction Lab on Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/evictionlab" aria-label="Eviction Lab on Twitter"><i class="fa fa-twitter"></i></a>
      </div>

      </div>
    </div>

    <!-- ******************** -->

  </div>
</div>

<!-- ********** end splash section ******************************** -->

<!-- ********** pictorial menu section ********** -->

<div class="pictorial-wrapper" id="pictorial-anchor">

  <div class="top-row">

    <div class="left tr-block">
      <a href="/map">
        <div class="menu-wrapper">
          <h2 class="break-me">{{ i18n "mapData" }}</h2>
          <p>{{ i18n "mapSub" }}</p>
          <span>{{ i18n "mapCTA" }}</span>
          <div class="hover-bar"></div>
        </div>
      </a>
    </div>
   
    <div class="right tr-block">
      <a href="/rankings">
        <div class="menu-wrapper">
          <h2>{{ i18n "rankingsHead" }}</h2>
          <p>{{ i18n "rankingsSubhead" }}</p>
          <span>{{ i18n "rankingsCTA" }}</span>
          <div class="hover-bar"></div>
        </div>      
      </a>
    </div>

  </div>
  <!-- ********** middle row ********** -->
  <div class="middle-row">

    <div class="left mr-block">
      <a href="{{ "about" | relLangURL }}">
        <div class="menu-wrapper">
          <span class="mobile-off">{{ i18n "aboutHead1" }}<br />{{ i18n "aboutHead2" }}</span>
          <span class="mobile-on">{{ i18n "aboutHead1" }}<br />{{ i18n "aboutHead2" }}</span>
          <div class="hover-bar"></div>
        </div>
      </a>  
  </div>

    <div class="middle-left mr-block">
      <a href="{{ "why-eviction-matters" | relLangURL }}">
        <div class="menu-wrapper">
            <span class="mobile-off">{{ i18n "whyHead1" }}<br />{{ i18n "whyHead2" }}</span>
            <span class="mobile-on">{{ i18n "whyHead1" }}<br />{{ i18n "whyHead2" }}</span>
            <div class="hover-bar"></div>
        </div>  
      </a>
    </div>

    <div class="middle-right mr-block">
      <a href="{{ "methods" | relLangURL }}">
          <div class="menu-wrapper">
              <span class="mobile-off">{{ i18n "methodsHead" }}</span>
              <span class="mobile-on">{{ i18n "methodsHead" }}</span>
              <div class="hover-bar"></div>
          </div>
      </a>
    </div>

    <div class="right mr-block">
      <a href="{{ "help-faq" | relLangURL }}">
        <div class="menu-wrapper">
          <span class="mobile-off">{{ i18n "helpHead" }}</span>
          <span class="mobile-on">{{ i18n "helpHead" }}</span>
          <div class="hover-bar"></div>
        </div>  
      </a>
    </div>

  </div>
  <!-- ******************** -->
  <div class="bottom-row">

    <div class="left br-block ">
      {{ $blog := where .Site.AllPages "Params.featured" "home" }}
      {{ $first := index $blog 0 }}
      <a href="{{ $first.RelPermalink }}">
        <div class="menu-wrapper">
          <div class="left-column pm-ftr">
            <img alt="Bookmark icon" src="/images/icons/pm-bookmark.svg" />
          </div>
          <div class="right-column">
            <p><span class="ak-bold">Featured post:</span> <span>
               
                {{ if isset $blog 0 }}
              {{ $first.Title | truncate 60 }}</span></p>
              {{ end }}
            <span class="br-link">Read the blog post <i class="fa fa-chevron-right"></i></span>
            <div class="hover-bar"></div>
          </div>  
        </div>  
      </a>
    </div>

    <div class="right br-block ">
      <a href="/updates">
        <div class="menu-wrapper">
          <div class="left-column pm-updates">
            <img alt="Research icon" src="/images/icons/pm-research.svg" />
          </div>
          <div class="right-column">
            <p>Follow research, events, and news coverage</p>
            <span class="br-link">Go to Updates <i class="fa fa-chevron-right"></i></span>
            <div class="hover-bar"></div>
          </div>  
        </div>  
      </a>  
    </div>

  </div>

</div>

{{ partial "footer" . }}
