/**
 * EVICTION TRACKING SYSTEM
 * all styles in this file apply to all
 * pages in the `/eviction-tracking` section
 * of the site.
 *
 * Search indices
 * - #BS  (Base Styles)
 * - #LPS (List Page Styles)
 * - #RPS (Report Page Styles
 */

/** Website overrides */
:root {
  --c1: #e24000;
  --c2: #434878;
  --c3: #2c897f;
  --c4: #94aabd;
  --choro1: #434878;
  --choro2: #c1c5ea;
  --choro3: rgba(241, 241, 241, 0.7);
  --choro4: #e99c7e;
  --choro5: #e24000;
  --choroStroke1: #212656;
  --choroStroke2: #a0a3c8;
  --choroStroke3: rgba(155, 155, 155, 0.7);
  --choroStroke4: #c77a5c;
  --choroStroke5: #c02000;
  --table-border: #eee;
  --section-alt: #f4f7f9;
  --row-alt: #f4f7f9;
  --text-secondary: #7d7d7d;
  --primary: var(--c1);
  --secondary: var(--c2);
  --font-family-sans-serif: Akkurat-Regular, sans-serif;
  --body-font: var(--font-family-sans-serif);
  --body-font-bold: Akkurat-Bold, sans-serif;
  --body-font-italic: Akkurat-Italic, sans-serif;
  --heading-font: GT-Eesti-Display-Bold, sans-serif;
  --heading-font-med: GT-Eesti-Display-Medium, sans-serif;
  --number-font: Gotham A, Gotham B, GT-Eesti-Display-Bold,
    sans-serif;
  font-family: var(--body-font);
  overflow-x: hidden;
}

/**
 * ####################
 * (#BS) BASE STYLES
 * ####################
 * These styles are shared across pages in the eviction tracker:
 * - generic content page overrides
 * - layout helper class for consistent layout in sections
 * - breakout styles for breaking out of default content margins
 * - arrow styles
 * - callout styles
 * - button group styles
 * - table styles
 * - stats list styles
 */

/** CONTENT PAGE STYLES */

.intro a,
.section a,
.column--content a {
  color: var(--c1);
}
.intro__content p,
.section p {
  margin-bottom: 1.5em;
}
.column--content {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .column--content {
    font-size: 1rem;
  }
}
.column--content p {
  margin-bottom: 1.5em;
}

.column--content > h1 {
  text-transform: uppercase;
}
.column--content > h1,
.column--content > h2,
.column--content > h3,
.column--content > h4,
.column--content > h5 {
  font-family: var(--heading-font);
  color: var(--c1);
  margin: 3.2rem 0 2.4rem 0;
}

.page-layout-content .column--content p,
.page-layout-content .column--content ul,
.page-layout-downloads .column--content p,
.page-layout-downloads .column--content ul {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.006em;
}

@media (min-width: 768px) {
  .page-layout-content .column--content,
  .page-layout-downloads .column--content {
    margin-bottom: 5.6rem;
  }
  .page-layout-content .column--content p,
  .page-layout-content .column--content ul,
  .page-layout-downloads .column--content p,
  .page-layout-downloads .column--content ul {
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: 0.006em;
  }
  .column--content h2 {
    font-size: 2.2rem;
    margin: 4rem 0 2.4rem;
  }
}
@media (min-width: 1280px) {
  .page-layout-content .column--content p,
  .page-layout-content .column--content ul,
  .page-layout-downloads .column--content p,
  .page-layout-downloads .column--content ul {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  .column--content h2 {
    font-size: 2.3rem;
    margin: 4rem 0 2.4rem;
  }
}
.column--content p,
.column--content ul {
  font-size: 2em;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.column--content ul {
  list-style: disc;
  padding: 0 0 0 16px;
}
.column--content blockquote {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.006em;
  margin-bottom: 16px;
  padding: 0 0 0 16px;
  border-left: 5px solid #e8e8e8;
}
.column--content ul li {
  padding: 4px 8px;
}
.spinner-border {
  color: var(--c2);
}

/** END CONTENT PAGE STYLES */

/** LAYOUT (helper for sections) */

.layout {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  width: 100%;
}

.layout > .column--content {
  /* flex: 1; */
  max-width: 100%;
  width: 100%;
}

/** other content pages */
@media (min-width: 680px) {
  .layout > .column--content {
    max-width: 640px;
  }
}


.layout > .column--content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .layout {
    padding: 24px;
  }
}

/** END LAYOUT */

/** 
*  BREAKOUT SECTION 
*  - breaks a content block out from the
*    content margins so it expands to the
*    edges of the viewport.
*/

.breakout {
  margin: 0;
  position: relative;
  padding: 0;
  left: calc(-1 * (100vw - 100%) / 2);
  width: 100vw;
}

/** only needs to breakout on tablet+ */
@media (min-width: 768px) {
  .breakout {
    padding: 0 24px;
  }
  .breakout.breakout--table .table {
    border: 3px solid var(--table-border);
    box-shadow: 0 0 0 4px #fff;
  }
  .breakout__content {
    max-width: 800px;
    margin: auto;
  }
}

/** END BREAKOUT SECTION */

/** OVERLINE (for headings) */

.overline {
  position: relative;
  padding-top: 16px;
}
.overline:before {
  content: "";
  position: absolute;
  top: 0px;
  height: 5px;
  width: 100%;
  left: 0;
  background: var(--c2);
}

/** END OVERLINE */

/** TOOLTIP (for table) */

.tooltip .tooltip-inner {
  font-size: 1.2rem;
  text-align: left;
  padding: 0.8rem 1.2rem;
}

/** END TOOLTIP */

/** ARROWS */

.arrow {
  position: relative;
}
.arrow.down:before,
.arrow.up:before {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.59em;
  display: block;
  top: 50%;
  left: 0;
  margin-top: -0.25em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.arrow.down:before {
  background-image: url("/img/arrow--down.svg");
}
.arrow.up:before {
  background-image: url("/img/arrow--up.svg");
}

/** END ARROWS */

/** CALLOUT */

.callout {
  position: relative;
  border-left: 0.5em solid var(--c1);
  background: var(--section-alt);
  padding: 3.6em 2.4em;
}
.callout .callout__heading,
.callout h3 {
  font-family: var(--heading-font);
  font-size: 1.8em;
  color: var(--c1);
  margin-bottom: 0.8em;
  text-transform: uppercase;
}

/** END CALLOUT */

/** BUTTON GROUPS */

.button-group {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin: auto;
  width: auto;
  flex-direction: column;
}

.button-group .toggle {
  position: relative;
  z-index: 1;
  background: none;
  line-height: 1;
  padding: 12px 12px;
  border: 1px solid #c6cccf;
  border-radius: 0;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 142%;
  color: var(--text-secondary);
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: -1px;
}
.button-group .toggle:first-child {
  border-radius: 2.5px 2.5px 0 0;
  margin-right: 0;
}
.button-group .toggle:last-child {
  border-radius: 0 0 2.5px 2.5px;
}
@media (min-width: 600px) {
  .button-group {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-group .toggle {
    margin-top: 0;
    margin-right: -1px;
  }
  .button-group .toggle:first-child {
    border-radius: 2.5px 0 0 2.5px;
    margin-right: 0;
  }
  .button-group .toggle:last-child {
    border-radius: 0 2.5px 2.5px 0;
  }
}
.button-group .toggle:hover,
.button-group .toggle:focus {
  text-decoration: underline;
  color: var(--c2);
  outline-color: var(--c1);
}
.button-group .toggle.toggle--active {
  border-color: var(--c1);
  color: var(--c1);
  z-index: 2;
}

/** END BUTTON GROUPS */

/** TABLE */

/** TABLE BASE */
.table {
  position: relative;
  margin-bottom: 24px;
  background: #fff;
  border-collapse: separate;
  font-size: 1rem;
  overflow-x: auto;
  overflow-y: visible;
  table-layout: fixed;
  width: 100%;
}

@media (min-width: 768px) {
  .table {
    table-layout: auto;
  }
}

/** shorter headings on small devices */
@media (max-width: 420px) {
  .table__head .table__cell span:first-child {
    display: none;
  }
}

.table .table__head th,
.table .table__body td {
  border: none;
  padding: 8px;
  vertical-align: middle;
}

/** Override padding first column */
.table .table__head .table__cell--name,
.table .table__body .table__cell--name {
  padding-left: 24px;
  width: 35.8%;
}

/** Make room for sort icon */
.table .table__head .table__cell--number,
.table .table__body .table__cell--number {
  padding-right: 20px;
  width: 19.6%;
}

.table .table__head th {
  border-bottom: 2px solid var(--table-border);
  background: #fff;
}

/** zebra stripe rows */
.table__row:nth-child(2n) {
  background-color: var(--row-alt);
}

/** row hover color */
.table__body .table__row:hover {
  cursor: pointer;
  background: rgba(226, 64, 0, 0.1);
}

@media (min-width: 768px) {
  .table .table__head th,
  .table .table__body td {
    padding: 16px;
  }
}

/** END TABLE BASE */

/** TABLE HEADER */

.table__head {
  text-transform: uppercase;
  color: var(--text-secondary);
  font-family: var(--heading-font);
  font-size: 1.2em;
  text-align: left;
}

.table__head th {
  position: sticky;
  top: 56px;
  z-index: 10;
  background: #fff;
}

.table__head .table__cell--number {
  text-align: right;
}

.table__head .table__cell:hover {
  text-decoration: underline;
  cursor: pointer;
}

.table__head .table__cell:focus {
  outline: none;
  border-bottom-color: var(--c1);
}

/** ignore button column header */
.table__head .table__cell--button {
  pointer-events: none;
}

@media (min-width: 768px) {
  .table__head {
    font-size: 1.5em;
  }
}

.tablesorter-header .tablesorter-header-inner {
  position: relative;
}

.tablesorter-header .tablesorter-header-inner:after,
.tablesorter-header .tablesorter-header-inner:after {
  content: "";
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-image: url("/img/icon--sort.svg");
}
@media (min-width: 768px) {
  .tablesorter-header .tablesorter-header-inner:after,
  .tablesorter-header .tablesorter-header-inner:after {
    margin-top: 6px;
  }
}

.tablesorter-header.tablesorter-headerDesc
  .tablesorter-header-inner:after {
  background-image: url("/img/icon--sort-up.svg");
}

.tablesorter-header.tablesorter-headerAsc
  .tablesorter-header-inner:after {
  background-image: url("/img/icon--sort-down.svg");
}

.tablesorter-header.sorter-false
  .tablesorter-header-inner:after {
  background-image: none;
}

/** END TABLE HEADER */

/** TABLE BODY */

.table__body,
.table__head,
.table__row {
  min-width: 370px;
  white-space: nowrap;
}

/** table name column */

.table__body .table__cell--name {
  font-family: var(--heading-font);
  text-transform: uppercase;
  color: var(--c2);
  font-size: 1.4em;
}

.table__body .table__cell--name .icon {
  margin: 0 -8px 4px 4px;
}

@media(min-width: 420px) {
  .table__body .table__cell--name .icon {
    margin-left: 8px;
  }
}

/** no moratorium, no icon */
.table__row--no-moratorium .icon {
  display: none;
}

@media (min-width: 768px) {
  .table__body .table__cell--name {
    font-size: 2.1em;
  }
}

/** end table name column */

/** table number column */

.table__body .table__cell--number {
  font-family: var(--number-font);
  color: var(--c2);
  font-size: 1.4em;
  font-weight: 500;
  text-align: right;
}

@media (min-width: 768px) {
  .table__body .table__cell--number {
    font-size: 1.8em;
  }
}

/** end table number column */

/** table button column */

.table__cell--button {
  display: none;
  padding: 0;
  width: 176px;
}

.table__cell--button .btn {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 1.4em;
  color: var(--c4);
}

.table__row:hover .table__cell--button .btn {
  color: var(--c1);
}

.table__cell--button .btn .fa {
  margin-left: 8px;
}

@media (min-width: 1024px) {
  .table__cell--button {
    display: table-cell;
  }
}

/** end table button column */

/** END TABLE BODY */

/** TABLE FOOTER */

.table + .footnote {
  max-width: 42em;
  font-size: 1.2rem;
  color: var(--text-secondary);
  padding: 8px 24px;
  margin: auto;
}

@media (min-width: 768px) {
  .table + .footnote {
    font-size: 1.4rem;
  }
}

/** END TABLE FOOTER */

/** END TABLE */

/** STATS LIST */

.stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.stats-item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 24px 0px;
}
.stats-item:last-child {
  padding-bottom: 0;
}
.stats-item__label {
  font-size: 1.6em;
  font-weight: normal;
  color: var(--text-secondary);
}
.stats-item__value {
  font-family: var(--number-font);
  font-size: 2.5em;
  line-height: 1;
  font-weight: 500;
  color: var(--c2);
  position: relative;
  top: 1px;
}
.stats-item__value .stats-item__diff {
  position: relative;
  top: -0.14em;
  left: 0.1em;
  font-size: 0.64em;
  padding-left: 0.75em;
}
.stats-item__diff.down {
  color: var(--c3);
}
.stats-item__diff.up {
  color: var(--c1);
}

/** END STATS LIST */

/** COUNTER */

.counter__context {
  display: block;
  max-width: 18rem;
  font-family: var(--body-font);
  font-size: 1.5rem;
  line-height: 1.5;
}

.counter__number {
  display: inline-block;
  font-family: var(--number-font);
  font-weight: 600;
  color: var(--c1);
  font-size: 8rem;
  letter-spacing: -0.1em;
  letter-spacing: -0.07em;
  line-height: 1;
  margin-left: -4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.counter__label {
  display: block;
  font-family: var(--heading-font);
  font-size: 2em;
  color: var(--c1);
  line-height: 1;
}

.counter__label + .counter__context {
  margin-top: 0.8rem;
}

@media (min-width: 960px) {
  .counter__number {
    font-size: 9.6rem;
  }
  .counter__context {
    max-width: 20rem;
    font-size: 1.65rem;
  }
}

@media (min-width: 1200px) {
  .counter__context {
    max-width: 22rem;
    font-size: 1.8rem;
  }
}

/** END COUNTER */

/**
 * ####################
 * (#LPS) LIST PAGE STYLES
 * ####################
 * - Hero styles for the list page
 * - Section defaults (margins / padding)
 * - Intro section styles
 * - Table section styles
 * - Looming eviction crisis styles
 * - Additional info styles
 */

/** HERO */

/** HERO WRAPPER */
.hero.hero--ets {
  position: relative;
  background-color: #111430;
  background-image: url(/img/ets-hero-lines.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 414px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  overflow: hidden;
}
@media (min-width: 600px) {
  .hero.hero--ets {
    min-height: 280px;
  }
}
@media (min-width: 767px) {
  .hero.hero--ets {
    min-height: 280px;
    justify-content: center;
  }
}
@media (min-width: 960px) {
  .hero.hero--ets {
    min-height: 450px;
    justify-content: center;
    background-size: contain;
  }
}
.hero.hero--ets .counter {
  opacity:1;
  transition: opacity 0.4s ease-in-out;
}
.hero.hero--ets.hero--loading .counter {
  opacity:0;
}

/** END HERO WRAPPER */

.hero__loader {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.hero--loading .hero__loader {
  display: flex;
}

.hero__loader .spinner .spinner-border {
  color: var(--c1);
}

/** HERO BACKGROUND */
.hero.hero--ets svg {
  position: absolute;
  right: 2.4rem;
  bottom: 0;
  width: 28rem;
  max-width: none;
}
@media (min-width: 767px) {
  .hero.hero--ets svg {
    right: 10%;
  }
}
@media (min-width: 960px) {
  .hero.hero--ets svg {
    width: 50rem;
    right: 50%;
    margin-right: -44rem;
  }
}
/** END HERO BACKGROUND **/

/** HERO CONTENT CONTAINER */
.hero__content {
  position: absolute;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 4.8rem 6.4rem 2.4rem 3.2rem;
  overflow: hidden;
}
@media (min-width: 600px) {
  .hero__content {
    align-items: flex-end;
  }
}
@media (min-width: 767px) {
  .hero__content {
    padding: 0 0 2.4rem 0;
    width: 50%;
    left: 10%;
    /* margin-left: -40%; */
  }
}
@media (min-width: 960px) {
  .hero__content {
    padding: 0 0 5.8rem 0;
    left: 50%;
    margin-left: -44em;
  }
}
/** END HERO CONTENT CONTAINER */

/** HERO ANIMATION */

.bars path {
  transform: translateY(100%);
}
.hero--start .bars path {
  animation: slideInUp;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}
.bars path:nth-child(13) {
  animation-delay: 0s;
}
.bars path:nth-child(12) {
  animation-delay: 0.2s;
}
.bars path:nth-child(11) {
  animation-delay: 0.4s;
}
.bars path:nth-child(10) {
  animation-delay: 0.6s;
}
.bars path:nth-child(9) {
  animation-delay: 0.8s;
}
.bars path:nth-child(8) {
  animation-delay: 1s;
}
.bars path:nth-child(7) {
  animation-delay: 1.2s;
}
.bars path:nth-child(6) {
  animation-delay: 1.4s;
}
.bars path:nth-child(5) {
  animation-delay: 1.6s;
}
.bars path:nth-child(4) {
  animation-delay: 1.8s;
}
.bars path:nth-child(3) {
  animation-delay: 2s;
}
.bars path:nth-child(2) {
  animation-delay: 2.2s;
}
.bars path:nth-child(1) {
  animation-delay: 2.4s;
}

.boxes {
  transform: translateY(100%);
}
.hero--start .boxes {
  animation: slideInUp;
  animation-duration: 3.8s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion) {
  .bars path {
    animation: none;
    transform: translateY(0%);
  }
  .boxes {
    animation: none;
    transform: translateY(0%);
  }
}

/** END HERO ANIMATION */

/** END HERO */

/** SECTION MARGINS */

.list-intro .layout,
.list-table .layout,
.list-crisis .layout,
.list-additional .layout {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .list-table .layout,
  .list-crisis .layout,
  .list-additional .layout {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .list-intro .layout {
    padding-top: 80px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1280px) {
  .list-table .layout,
  .list-crisis .layout,
  .list-additional .layout {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .list-intro .layout {
    padding-top: 96px;
    padding-bottom: 88px;
  }
}

/** END SECTION MARGINS */

/** LIST INTRO SECTION */

.list-intro {
  position: relative;
  background: var(--section-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-intro__count {
  padding: 3.2rem 2.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width:50%;

}
.list-intro__content {
  max-width: 42rem;
  padding: 0rem 2.4rem 3.2rem;
}
@media (min-width: 960px) {
  .list-intro {
    flex-direction: row;
    padding: 6.4rem 2.4rem;
  }
  .list-intro__count {
    padding: 0;
    width: 40rem;
    position: absolute;
    left: 50%;
    margin-left: -44rem;
    justify-content: flex-start;
  }
  .list-intro__content {
    max-width: 48rem;
    padding: 0;
    margin-left: 40rem;
  }
}

.list-intro__date {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #434878;
  margin-bottom: 1.6rem;
}
@media (min-width: 1200px) {
  .list-intro__date {
    font-size: 18px;
    margin-bottom: 2.4rem;
  }
}
.list-intro__text {
  font-size: 1.65rem;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .list-intro__text {
    font-size: 1.8rem;
  }
}

/** END LIST INTRO */

/** LIST TABLE SECTION */

.list-table {
  font-size: 1em;
}

.list-table .legend {
  justify-content: center;
}

.list-table .legend-item {
  font-family: Akkurat-Regular, sans-serif;
  font-size: 1.4rem;
  color: #7c7c7c;
  justify-content: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .list-table .legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .list-table .legend-item + .legend-item {
    margin-left: 32px;
  }
  .list-table .legend-item {
    font-size: 1.8rem;
    margin-bottom: 24px;
  }
}

.list-table .legend-item .icon {
  margin-right: 4px;
}

/** icon sizing */
.list-table .icon {
  width: 16px;
}
@media (min-width: 768px) {
  .list-table .icon {
    width: 27px;
  }
}

/** TABLE TREND LINES */

.trend-line__path {
  fill: none;
  stroke: var(--c1);
  stroke-width: 2;
}
.trend-line__area {
  fill-opacity: 0.2;
  fill: var(--c1);
  stroke: none;
}

.trend-line__moratorium-end {
  stroke: var(--c2);
  stroke-width:1;
  stroke-dasharray: 4 2;
  stroke-opacity: 0.87;
}

/** END TABLE TREND LINES */

/** END LIST TABLE SECTION

/** LIST EVICTION CRISIS SECTION */

/** layout */
.list-crisis {
  font-size: 1em;
  background: var(--section-alt);
}
.list-crisis .column {
  position: relative;
  margin: 0 auto;
  column-width: 44.5em;
  column-gap: 4.8em;
  padding-top: 7.2em;
}
@media (min-width: 1024px) {
  .list-crisis .layout > .column {
    max-width: 95em;
    column-gap: 5.6rem;
  }
}
@media (min-width: 1280px) {
  .list-crisis .layout > .column {
    max-width: 100rem;
    column-gap: 8rem;
    padding-top: 8rem;
  }
}

/** heading */
.list-crisis h2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: var(--c3);
  text-transform: none;
}
@media (min-width: 768px) {
  .list-crisis h2 {
    font-size: 3.6em;
  }
}

/** content */
.list-crisis .column p {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .list-crisis .column p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  /** add margin to balance columns */
  .list-crisis .column p:last-child {
  }
}
@media (min-width: 1024px) {
  .list-crisis .column p {
    font-size: 1.65rem;
    line-height: 1.5;
  }
  /** add margin to balance columns */
  .list-crisis .column p:last-child {
    margin-bottom: 8.8em;
  }
}
@media (min-width: 1280px) {
  .list-crisis .column p {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  /** add margin to balance columns */
  .list-crisis .column p:last-child {
    margin-bottom: 8.8em;
  }
}

/** END LIST EVICTION CRISIS SECTION */

/** LIST ADDITIONAL INFORMATION SECTION */

/** layout */
.list-additional {
  font-size: 1em;
}
.list-additional .column {
  position: relative;
  margin: 0 auto;
  padding-top: 7.2em;
}
@media (min-width: 1024px) {
  .list-additional .column {
    max-width: 95em;
  }
}
@media (min-width: 1280px) {
  .list-additional .column {
    max-width: 100em;
  }
}

/** heading */
.list-additional h2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: var(--c1);
  text-transform: none;
}
@media (min-width: 768px) {
  .list-additional h2 {
    font-size: 3.6em;
  }
}

/** content */
.list-additional .column p,
.list-additional .column ul {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Akkurat-Regular, sans-serif;;
}
@media (min-width: 768px) {
  .list-additional .column p,
  .list-additional .column ul {
    font-size: 1.6rem;
  }
  .list-additional .column ul {
    width: 445px;
  }
}
@media (min-width: 1024px) {
  .list-additional .column p,
  .list-additional .column ul {
    font-size: 1.65rem;
  }
}
@media (min-width: 1280px) {
  .list-additional .column p,
  .list-additional .column ul {
    font-size: 1.8rem;
  }
}

/** callout positioning */
.list-additional .callout {
  margin-top: 24px;
}
@media (min-width: 1024px) {
  .list-additional .callout {
    position: absolute;
    margin-top: 0;
    width: 44.5em;
    right: 0;
    top: 8em;
  }
}

/** END LIST ADDITIONAL INFORMATION SECTION */

/**
 * ######################
 * (#RPS) REPORT PAGE STYLES
 * ######################
 * - Breadcrumb styles
 * - Introduction area styles
 * - Visual base styles
 *   - legend
 * - Section base styles
 * - Chart section styles
 * - Map section styles
 * - Bottom link area styles
 *   - card styles
 * - D3 Visualization styles
 */

/** MODIFIED BREADCRUMB */

/** overrides */
.breadcrumbs {
  padding-top: 0;
  padding-bottom: 0;
}
.breadcrumbs .center-page {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.breadcrumbs .center-page > * {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
/** Trim top level breadcrumb on small displays */
@media (max-width: 400px) {
  .breadcrumbs .center-page > a:first-child span {
    max-width: 80px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/** trigger */
.bc-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-right: 16px;
}
.bc-dropdown:before {
  content: "";
  display: block;
  position: absolute;
  right: -4px;
  top: 50%;
  margin-top: -3px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
}

/** menu container */
.bc-dropdown__menu {
  position: absolute;
  left: -16px;
  min-width: 300px;
  top: 50px;
  background: #fff;
  padding: 8px 0px 8px;
  z-index: 100;
  pointer-events: none;
  box-shadow: 0 1px 4px 0 rgba(109, 109, 109, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 480px) {
  .bc-dropdown__menu {
    left: -104px;
  }
}

/** menu links */
.bc-dropdown__menu a {
  height: 40px;
  line-height: 24px;
  padding: 8px 16px;
  color: var(--c1);
  background: #fff;
  display: block;
}
.bc-dropdown__menu a:hover,
.bc-dropdown__menu a:focus {
  background: var(--section-alt);
}

/** show menu on focus and hover */
.bc-dropdown:hover .bc-dropdown__menu,
.bc-dropdown:focus .bc-dropdown__menu,
.bc-dropdown:focus-within .bc-dropdown__menu {
  pointer-events: all;
  opacity: 1;
}

/** END MODIFIED BREADCRUMB */

/** REPORT INTRO */

.intro {
  position: relative;
  margin: auto;
  padding: 48px 24px 72px;
  max-width: 1226px;
}
.intro .layout {
  padding: 0;
  flex-direction: column;
}

@media (min-width: 768px) {
  .intro {
    padding: 64px 40px;
  }
}

@media (min-width: 1024px) {
  .intro .layout {
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

/** INTRO HEADING **/

.intro__heading {
  font-family: var(--heading-font);
  color: var(--c1);
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 142%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 480px;
  margin: 0 auto 24px auto;
}

/** END INTRO HEADING

  /** INTRO LEAD TEXT */

.intro .intro__text {
  margin: auto;
  max-width: 480px;
}
.intro .intro__text p {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .intro .intro__text {
    max-width: 460px;
  }
}

/** END INTRO LEAD TEXT */

/** INTRO FIGURE */

.intro__figure {
  position: relative;
  min-height: 320px;
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 24px auto 224px;
}

@media (min-width: 600px) {
  .intro__figure {
    margin-bottom: 112px;
  }
}

@media (min-width: 1024px) {
  .intro__figure {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 0;
    width: 55%;
  }
}

.intro__figure-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.intro__figure-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.25;
  color: var(--text-secondary);
  text-align: center;
  text-transform: uppercase;
  padding: 0 12px 0 40px;
  letter-spacing: 0.11rem;
}

.intro__figure .chart__frame {
  fill: none;
  stroke: #f4f7f9;
  stroke-width: 3;
}

.intro__figure .chart__root {
  /* increasing svg height to account for extended lines dropping down from graph */
  height: 326px;
}

.intro__figure .chart__axis--time .domain,
.intro__figure .chart__axis--time .tick line {
  stroke-width: 3;
  stroke: #cecfdc;
}

.intro__figure .chart__axis--y .domain {
  stroke: none;
}
.intro__figure .chart__axis--y .tick line {
  stroke-width: 1;
  stroke: #f4f7f9;
}

.intro__figure .chart__bar {
  fill: #d1d2e0;
}

.intro__figure .chart__bar:last-child {
  fill: var(--c2);
}

.intro__figure .chart__line {
  stroke: var(--c1);
  stroke-width: 3;
}

.intro__figure .chart__pattern {
  fill: #cecfdc44;
  stroke: none;
}
.intro__figure .chart__area {
  stroke-width: 1;
  stroke: #f4f7f9;
}

.intro__figure .chart__hover-line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

.intro__figure .chart__span-path {
  stroke-width: 3;
  stroke-linecap: butt;
  stroke: #cecfdc;
  fill: none;
}

.intro__figure .chart__bar-path {
  stroke-width: 3;
  stroke-dasharray: 3;
  stroke: var(--c2);
  fill: none;
}

.chart__tooltip--top .tooltip__item--multi:before {
  display: none;
}
.chart__tooltip--top .tooltip__item.tooltip__item--multi {
  margin-left: 0;
}

/** INTRO FIGURE LEGEND */

.intro__figure-legend {
  position: absolute;
  left: 40px;
  top: calc(100% + 40px);
  margin-top: 8px;
}
@media (min-width: 600px) {
  .intro__figure-legend {
    top: calc(100% - 48px);
    margin-top: 0;
  }
}
.intro__figure .legend-item {
  color: var(--text-secondary);
}
.intro__figure .legend-item__secondary {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
}

/** LEGEND VISUAL REFERENCE */

.intro__figure .legend-item__visual {
  margin-right: 12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .intro__figure .legend-item__visual {
    margin-right: 12px;
  }
}
.intro__figure .legend-item__pattern {
  fill: #cecfdc;
}
.intro__figure .legend-item:nth-child(1) rect {
  fill: #d1d2e0;
}
.intro__figure .legend-item:nth-child(2) path {
  stroke-width: 4;
  stroke: var(--c1);
}
.intro__figure .legend-item:nth-child(3) rect {
  stroke-width: 1;
  stroke: #cecfdc;
}
/** END LEGEND VISUAL REFERENCE */

/** END INTRO FIGURE LEGEND */

.intro__figure-stats {
  position: absolute;
  right: 44px;
  bottom: -24px;
}
.intro__figure-stats > p {
  background: #f7f9fb;
  padding: 8px 12px;
  height: 32px;
  font-size: 1.4rem;
  line-height: 1.3333;
  border-left: 3px solid #cecfdc;
  margin-bottom: 0;
  margin-top: 8px;
}
.intro__figure-stats > p:first-child {
  color: var(--c2);
  border-left-color: var(--c2);
}
.intro__figure-stats > p:last-child {
  color: var(--text-secondary);
}
.intro__figure-stats > p span {
  font-family: var(--number-font);
  font-weight: bold;
}

.intro__figure-footnote {
  margin-top: 160px;
  padding: 0 40px;
  color: var(--text-secondary);
  max-width: 532px;
  /* Aligning this left
  margin-left: auto;
  margin-right: auto;
  */
  font-size: 1.4rem;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .intro__figure-footnote {
    margin-top: 64px;
  }
}

.intro__loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro--loading .intro__figure-wrapper {
  opacity: 0;
}
.intro .spinner {
  display: none;
}
.intro.intro--loading .spinner {
  display: block;
}

/** END INTRO FIGURE */

/** INTRO SHARE */

.share {
  display: flex;
}
.share .share__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  padding: 8px 0;
  margin-right: 16px;
  line-height: 1;
  font-family: var(--heading-font);
  color: var(--text-secondary);
}
.share__link:hover {
  color: var(--c1);
  text-decoration: none;
}
.share__link .fa {
  margin: 0 8px 0 0px;
  font-size: 1.4rem;
  width: 24px;
  height: 24px;
  background: #eee;
  text-align: center;
  padding: 4px;
}

.intro .share {
  flex-direction: column;
}
@media (min-width: 480px) {
  .intro .share {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .intro .share {
    justify-content: flex-start;
  }
}

/** END INTRO SHARE */

/** END INTRO */

/** VISUAL COMPONENTS */

.visual {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-size: 1rem;
  text-align: center;
}

.visual__header {
  position: absolute;
  left: 40px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual .chart,
.visual .map {
  flex: 1;
}

.visual__title {
  position: relative;
  font-size: 1.2em;
  line-height: 1.25;
  color: var(--text-secondary);
  text-align: center;
  padding: 0 0px 0 0px;
  margin-top: -8px;
  margin-left: -32px;
  max-width: 360px;
}

@media (min-width: 768px) {
  .visual__title {
    max-width: 420px;
  }
}

@media (min-width: 1024px) {
  .visual__title {
    max-width: none;
    margin-left: 0;
    padding: 0 32px 0 8px;
  }
}

.visual__note {
  font-family: Akkurat-Regular,sans-serif;
  position: relative;
  margin-top: -32px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-secondary);
}

.visual__toggle {
  margin: 0px auto 32px;
}

.visual__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** LEGEND */

.legend-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.legend-item sup {
  color: var(--text-secondary);
}

/** colors */
.legend-item__color {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background: #999;
}
.legend-item--0 .legend-item__color {
  background: var(--c1);
}
.legend-item--1 .legend-item__color {
  background: var(--c2);
}
.legend-item--2 .legend-item__color {
  background: var(--c3);
}
.legend-item--3 .legend-item__color {
  background: var(--c4);
}

/** keep "filings this year" red on first chart */
.section--avg.section--count-on
  .legend-item--0
  .legend-item__color {
  background: var(--c2);
}
.section--avg.section--count-on
  .legend-item--1
  .legend-item__color {
  background: var(--c1);
}

/** labels */
.legend-item__label,
.legend-choropleth__title {
  line-height: 1;
  font-family: var(--heading-font);
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
.legend-item__label {
  margin-bottom: 0;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .legend-item__label {
    max-width: 192px;
    line-height: 1.14;
  }
  .legend-item {
    margin-bottom: 12px;
  }
}
.legend-choropleth__title span,
.legend-item__label span {
  font-family: var(--body-font);
  font-size: 14px;
  letter-spacing: 0;
  display: block;
  text-transform: none;
  margin-top: 8px;
  color: #646464;
}
.legend-item__label span {
  margin-top: 4px;
}
.section .legend-item {
  min-width: 160px;
}

/** CHOROPLETH LEGEND */

.legend-choropleth {
  min-width: 240px;
}
.legend-choropleth__title {
  margin-bottom: 8px;
  display: block;
}
.legend-choropleth__gradient {
  width: 100%;
  height: 16px;
  background: linear-gradient(
    to right,
    var(--choro1),
    var(--choro2) 25%,
    var(--choro3) 50%,
    var(--choro4) 75%,
    var(--choro5)
  );
}
.legend-choropleth__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.legend-choropleth__labels span {
  font-size: 1.2rem;
  color: var(--text-secondary);
  width: 48px;
  text-align: center;
}
.legend-choropleth__min {
  position: relative;
  left: -4px;
}
.legend-choropleth__max {
  position: relative;
  left: 4px;
}

/** END CHOROPLETH LEGEND */

/** END LEGEND */

/** END VISUAL COMPONENTS */

/** SECTION BASE STYLES */

.section {
  position: relative;
  display: block;
  padding: 40px 24px;
}
.section p.description {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .section {
    padding: 72px 24px;
  }
  .section p.description {
    margin-bottom: 0;
  }
}
.section:nth-child(2n-1) {
  background: var(--section-alt);
}
.section .details {
  min-width: 320px;
  max-width: 480px;
  margin: auto;
  padding: 0;
  margin-bottom: 48px;
}
.section .details h1 {
  font-family: GT-Eesti-Display-Bold, sans-serif;
  font-size: 2.6rem;
  font-weight: normal;
  letter-spacing: 0.07rem;
  line-height: 1.25;
  margin-bottom: 24px;
  color: #272727;
}
.section .details p {
  color: #424242;
  font-size: 16px;
  line-height: 1.5;
}
.section .visual {
  position: relative;
  min-width: 320px;
  margin: auto;
}
.section .legend {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 16px;
  flex-wrap: wrap;
  max-width: 296px;
  justify-content: center;
}
.section .section__content {
  position: relative;
  max-width: 1146px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex: 1;
}

@media (min-width: 1024px) {
  .section {
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 520px;
  }
  .section .details,
  .section .legend,
  .section .footnote {
    margin: 0 0 16px 0;
    width: 40%;
    flex-grow: 0;
  }
  .section .legend {
    width: 100%;
    justify-content: flex-start;
    max-width: 340px;
  }
  .section .details {
    max-width: none;
  }
  .section .visual {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    max-width: none;
  }
}

@media (min-width: 1440px) {
  .section {
    min-height: 560px;
  }
}

/** SECTION FOOTNOTES */

.footnote ol {
  counter-reset: number;
}
.footnote ol li {
  counter-increment: number;
  position: relative;
  line-height: 1.42;
  margin-bottom: 8px;
  padding-left: 1em;
  max-width: 26em;
}
.footnote ol li::before {
  content: counter(number) " ";
  font-size: 0.8em;
  position: absolute;
  top: -0.5em;
  left: 0;
}

.section .footnote {
  font-size: 1.2rem;
  color: var(--text-secondary);
  max-width: 320px;
  margin: auto;
}
.section .footnote span {
  display: block;
}
@media (min-width: 768px) {
  .section .footnote {
    font-size: 1.4rem;
    max-width: 480px;
  }
}
@media (min-width: 1024px) {
  .section .footnote {
    margin-left: 0;
  }
}

/** END SECTION FOOTNOTES */

/** END SECTION BASE STYLES */

/** CHART SECTION */

.section.section--chart .visual {
  max-width: 600px;
}
.section.section--chart .chart {
  min-height: 320px;
}

@media (min-width: 1024px) {
  .section.section--chart .visual {
    top: 24px;
    bottom: 0;
    right: 0;
  }
}

/** END CHART SECTION */

/** MAP SECTION */

/** Mapbox Overrides */
.mapboxgl-ctrl-group.mapboxgl-ctrl button:focus {
  box-shadow: 0 0 2px 2px var(--c1);
}

/** push map to edges */
.section.section--map .visual {
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 24px;
}

.section.section--map .map {
  width: 100%;
  height: 100%;
  min-height: 360px;
  background: #fff;
}

.section.section--map .map .mapboxgl-ctrl-top-right {
  top: 50%;
  right: 0;
  margin-top: -50px;
}

@media (min-width: 1024px) {
  .section.section--map .section__content {
    position: static;
  }

  .section.section--map .visual {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
  }
}

/** END MAP SECTION */

/** BOTTOM LINKS SECTION */

.section.section--links {
  min-height: 1px;
}

/** CARDS **/

/** layout */
.ets-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .ets-cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.ets-card {
  position: relative;
  color: #fff;
  margin-bottom: 32px;
  width: 38em;
}

/** sizing */
.ets-card {
  font-size: 0.9em;
}
.ets-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 480px) {
  .ets-card {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .ets-card {
    font-size: 1em;
    margin-right: 32px;
    margin-bottom: 0;
  }
  .ets-card:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .ets-card {
    font-size: 1.2em;
  }
}
@media (min-width: 1280px) {
  .ets-card {
    font-size: 1.4em;
  }
}

.card__background {
  width: 100%;
  height: auto;
}

.card__content {
  position: absolute;
  z-index: 100;
  top: 1.6em;
  left: 2.4em;
  pointer-events: none;
}

.card__content:before {
  content: "";
  position: absolute;
  top: 8.8em;
  width: 8em;
  height: 8px;
  background: var(--c1);
}

.card__title {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 119%;
  width: 8em;
  letter-spacing: 0.01em;
}

.card__description {
  margin-top: 0.8em;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 143%;
  letter-spacing: 0.01em;
  width: 15em;
}
.card__link {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 400%;
  background-position: 0 0;
  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 60%,
    rgba(0, 0, 0, 0.4)
  );
  transition: background-position 0.3s ease-in-out;
}
.card__link:hover,
.card__link:focus {
  background-position: 100% 0px;
}
.card__link span {
  position: absolute;
  z-index: 100;
  top: 11.6em;
  left: 2em;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}
.card__link span:after {
  content: "";
  display: block;
  position: absolute;
  right: -1em;
  top: 0em;
  background-image: url(/img/arrow--right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 0.5em;
  height: 0.9em;
}

/** END CARDS **/

/** END BOTTOM LINKS SECTION */

/** VISUALIZATION STYLES */

.chart {
  width: 100%;
  height: 100%;
}

.chart__box {
  fill: none;
  stroke-width: 3;
  stroke: #fff;
}

.chart__grid .domain,
.chart__grid {
  stroke: #fff;
}

.chart__axis .domain,
.chart__axis .tick line {
  stroke: #fff;
}

.chart__axis .tick text {
  fill: var(--text-secondary);
  font-size: 14px;
  font-family: var(--heading-font);
}
.chart__axis.chart__axis--y .tick text {
  font-family: var(--number-font);
  font-size: 12px;
  font-weight: 500;
}

.chart__line {
  stroke-dasharray: 3 1;
  stroke-dashoffset: 1;
}

.chart__line {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 0;
  stroke: #ccc;
}
.chart__line--0 {
  stroke: var(--c1);
}
.chart__line--1 {
  stroke: var(--c2);
}
.chart__line--2 {
  stroke: var(--c3);
}
.chart__line--3 {
  stroke: var(--c4);
}

.chart__bar {
  fill: #ccc;
}
.chart__bar-area {
  fill: rgba(255, 255, 255, 0.25);
  stroke: #fff;
  stroke-width: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.chart__bar-area:hover {
  opacity: 1;
}

.chart__dot {
  stroke: #fff;
  stroke-width: 1;
}

.chart__bar--0,
.chart__dot--0 {
  fill: var(--c1);
}
.chart__bar--1,
.chart__dot--1 {
  fill: var(--c2);
}
.chart__bar--2,
.chart__dot--2 {
  fill: var(--c3);
}
.chart__bar--3,
.chart__dot--3 {
  fill: var(--c4);
}
.chart__bar {
  transition: fill 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

/** keep "filings this year" red on first chart */
.section--avg.section--count-on .chart__bar--0 {
  fill: var(--c2);
}
.section--avg.section--count-on .chart__bar--1 {
  fill: var(--c1);
}

.chart__marker-line {
  stroke: none;
  stroke-dasharray: 3 1;
  stroke-width: 2;
  transition: transform 0.1s ease-in-out;
}

.chart__marker-line--hover {
  stroke: rgba(0, 0, 0, 0.1);
}

.chart__mark-lines line {
  stroke: rgba(0, 0, 0, 0.3);
  stroke-dasharray: 3 3;
  stroke-width: 2;
}

.chart__mark-lines text {
  fill: #7d7d7d;
  font-size: 12px;
  font-family: Akkurat-Bold, sans-serif;
}

/** VISUALIZATION TOOLTIP */

.chart__tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 240px;
  z-index: 999;
}
/** no tooltip on mobile */
@media (max-width: 420px) {
  .chart__tooltip {
    display: none !important;
  }
}

.chart__tooltip h1 {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-family: var(--heading-font);
}

.chart__tooltip--flip {
  transform: translateX(-100%);
}

.map__tooltip-row {
  font-size: 12px;
  height: 32px;
  margin-top: -4px;
  margin-bottom: 4px;
  white-space: nowrap;
}

.map__tooltip-row em {
  font-family: Akkurat-Regular, sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-top: 2px;
}

.map__tooltip-row span {
  margin-right: 0;
}

.map__tooltip-row--down span,
.tooltip__item--down span {
  font-weight: 700;
  color: rgb(67, 202, 189);
}
.map__tooltip-row--up span,
.tooltip__item--up span {
  font-weight: 700;
  color: #ff8150;
}

.tooltip__item {
  position: relative;
  font-size: 12px;
  margin-bottom: 4px;
  white-space: nowrap;
}
.tooltip__item.tooltip__item--single {
  margin-top: -4px;
  margin-bottom: 0;
}
.tooltip__item.tooltip__item--multi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  height: 16px;
}

.tooltip__item--multi span:first-child {
  font-weight: 700;
  min-width: 80px;
  margin-right: 8px;
}

.tooltip__item--multi span + span {
  min-width: 40px;
}

.tooltip__item--multi span + span + span {
  min-width: 1px;
}

.tooltip__item--multi .arrow {
  padding-left: 10px;
  margin-left: 2px;
}
.tooltip__item--multi .arrow:before {
  margin-top: -5px;
}

.tooltip__item--multi:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #ccc;
  top: 3px;
  margin: auto;
  left: -20px;
}
.chart__tooltip-row--0 .tooltip__item--multi:before {
  background: var(--c1);
}
.chart__tooltip-row--1 .tooltip__item--multi:before {
  background: var(--c2);
}
.chart__tooltip-row--2 .tooltip__item--multi:before {
  background: var(--c3);
}
.chart__tooltip-row--3 .tooltip__item--multi:before {
  background: var(--c4);
}
/** avg chart overrides */
.chart__tooltip--avg
  .chart__tooltip-row--0
  .tooltip__item--multi:before {
  background: var(--c2);
}
.chart__tooltip--avg
  .chart__tooltip-row--1
  .tooltip__item--multi:before {
  background: var(--c1);
}

/** END VISUALIZATION TOOLTIP */

/** END VISUALIZATION STYLES */
