{{ partial "header" . }}
  <!-- section header -->
  {{ if eq .Title "Updates"}} <!-- if we are on the Updates page, do stuff --> 
  <div class="graphic-header methods center-page-wrapper">
      <div class="center-page">
        <h1 class="graphic-page-header">updates</h1>
        <div class="underbar"></div>
      </div>
    </div>
  {{ partial "subnav" . }}  
  {{ end }}  

{{ partial "breadcrumb" . }}

<!--
  I'd really rather use a seperate template for each collection,
  but I just can't get that to work, following the "documentation",
  so I'm just doing it with a bunch of if statement ... it works.
-->

<!-- **************************** -->
<!-- **************************** -->
<!-- ******* Updates Home ******* -->

{{ if eq .Title "Updates"}} <!-- if we are on the Updates page, do stuff -->

  {{ $updates := where .Site.RegularPages "Params.contenttype" "updates" }}
  {{ if isset $updates 0 }} <!-- if there are Blog articles, list them -->
    <div class="alt-rows">
       
{{ $paginator := .Paginate (where .Site.Pages "Params.contenttype" "updates") 5 }}   
{{ range .Paginator.Pages }}   
<!--{{ if eq .Params.contenttype "updates" }}    -->

        <div class="center-page-wrapper">
            <div class="list-item center-content {{ .Params.contenttype }}-list">

            <!--<div class="chevron">
              <i class="fa fa-chevron-right"></i>
            </div>-->

            <div class="postlist-left-col">
                <div class="authorname">{{ .Params.postauthorname }}</div>
                <div class="list-thumb-container">
                  <img class="list-thumb" src="{{ .Params.authorpic }}">
                </div>  
                <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
                <div class="post-cat">
                  <img src="/images/icons/{{ .Params.childof }}_bookmark.png" class="cat-bookmark" />
                  <a href="/updates/{{ .Params.childof }}" class="{{ .Params.childof }}-type cat-link"> 
                  {{ .Params.childof }}</a>
                </div>  
              </div>
  
              <div class="postlist-right-col">
                <h2 class="title">
                  <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
                </h2>
                <div class="post-summary">
                    {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
                </div>
                <div class="post-cat">
                  <img src="/images/icons/{{ .Params.childof }}_bookmark.png" class="cat-bookmark" />
                  <a href="/updates/{{ .Params.childof }}" class="{{ .Params.childof }}-type cat-link"> 
                  {{ .Params.childof }}</a>
                </div> 
              </div>
        </div>      
          
        </div><!-- end center-page-wrapper -->
      <!--{{ end }}-->
    {{ end }}
    </div><!-- end alt-rows -->
  {{ end }} <!-- end Blog listings -->
  
<!-- PAGINATION -->  
  <div class="center-page-wrapper">
    <div class="custom-pagination">
      {{ partial "pagination" . }}
    </div> 
  </div>

 <!-- "NEXT EVENT" section -->
 {{ $events := where .Site.RegularPages "Params.contenttype" "events" }}
  {{ if isset $events 0 }} <!-- if there are events articles, list them -->
    {{ range last 1 (where .Site.RegularPages "Params.contenttype" ("events")) }}
      {{ if eq .Params.contenttype "events" }}   
        <div class="center-page-wrapper">
          <div class="bordered-header events-type">Upcoming events <a class="subhead-rt" href="/updates/events">See all events</a></div>
          <div class="list-item center-content {{ .Params.childof }}-list">
            <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
            </div>-->
            <div class="postlist-left-col">   
              <div class="post-date"><span class="date-number">{{ dateFormat "2" (.Params.date) }}</span><br />
                <span class="date-month">{{ dateFormat "Jan" (.Params.date) }}</span></div>
            </div>
            <div class="postlist-right-col">
              <h2 class="event-title">
              <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="event-address">
                {{ .Params.address }}
              </div>
            </div>
        </div> 
      </div>
    
    {{ end }}        
  {{ end }} 
  {{ end }} 
{{ end }} <!-- end Blog page stuff -->


<!-- ******************** -->
<!-- ******************** -->
<!-- ******* BLOG ******* -->

{{ if eq .Title "Blog"}} <!-- if we are on the Blog page, do stuff -->

  {{ $blog := where .Site.RegularPages "Params.contentcat" "blog" }}
  {{ if isset $blog 0 }} <!-- if there are Blog articles, list them -->
    <div class="alt-rows blog-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.contentcat" "blog") 5 }}   
      {{ range .Paginator.Pages }} 

        <div class="center-page-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list">

            <!--<div class="chevron">
              <i class="fa fa-chevron-right"></i>
            </div>-->

            <div class="postlist-left-col">
              <div class="authorname">{{ .Params.postauthorname }}</div>
              <div class="list-thumb-container">
                <img class="list-thumb" src="{{ .Params.authorpic }}">
            </div>
            <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
            </div>

            <div class="postlist-right-col">
              <h2 class="title">
                <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="post-summary">
                  {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
              </div>
            </div>

          </div>
        </div>
      {{ end }}
   
   
  {{ end }} <!-- end Blog listings -->
  <!-- PAGINATION -->  
</div>
<div class="center-page-wrapper">
  <div class="custom-pagination">
    {{ partial "pagination" . }}
  </div> 
</div>

{{ end }} <!-- end Blog page stuff -->

<!-- ********************* -->
<!-- ********************* -->
<!-- ******* MEDIA ******* -->

{{ if eq .Title "Media"}} <!-- if we are on the Media page, do stuff -->

  {{ $media := where .Site.RegularPages "Params.contentcat" "media" }}
  {{ if isset $media 0 }} <!-- if there are Media articles, list them -->
    <div class="alt-rows media-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.contentcat" "media") 5 }}   
      {{ range .Paginator.Pages }}
      
      <div class="center-page-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list">

          <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
          </div>-->

          <div class="postlist-left-col">
              <div class="authorname">{{ .Params.postauthorname }}</div>
              <div class="list-thumb-container">
                <img class="list-thumb" src="{{ .Params.authorpic }}">
              </div>  
              <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
            </div>

            <div class="postlist-right-col">
              <h2 class="title">
                <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="post-summary">
                  {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
              </div>
            </div>

        </div>
      </div>
      {{ end }}
  
    
  {{ end }} <!-- end Media listings -->
   <!-- PAGINATION -->  
</div>
<div class="center-page-wrapper">
  <div class="custom-pagination">
    {{ partial "pagination" . }}
  </div> 
</div>

{{ end }} <!-- end Media page stuff -->

<!-- ************************ -->
<!-- ************************ -->
<!-- ******* RESEARCH ******* -->

{{ if eq .Title "Research"}} <!-- if we are on the Research page, do stuff -->

  {{ $elresearch := where .Site.RegularPages "Params.researchtype" "el-research" }} <!-- count EL Research articles -->
  {{ if isset $elresearch 0 }} <!-- if there are EL Research articles, list them -->
      <span class="center-page-wrapper">
        <div class="bordered-header events-list-header research-type el-research">research from the eviction lab <a class="see-all-events subhead-rt" href="/updates/research/el-research">See all</a></div>
      </span>
      {{ range first 1 (where .Site.RegularPages "Params.researchtype" ( "el-research" )) }}
        {{ if eq .Params.researchtype "el-research" }}
        <div class="alt-rows dual-research">
        <div class="center-page-wrapper">
            <div class="list-item center-content {{ .Params.childof }}-list">

            <!--<div class="chevron">
              <i class="fa fa-chevron-right"></i>
            </div>-->

            <div class="postlist-left-col">
                <div class="authorname">{{ .Params.postauthorname }}</div>
                <div class="list-thumb-container">
                  <img class="list-thumb" src="{{ .Params.authorpic }}">
                </div>  
                <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
              </div>
  
              <div class="postlist-right-col">
                <h2 class="title">
                  <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
                </h2>
                <div class="post-summary">
                    {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
                </div>
              </div>
  
          </div>
        </div>
        {{ end }}
      {{ end }}
      
  {{ end }} <!-- end EL Research listings -->

  {{ $outsideresearch := where .Site.RegularPages "Params.researchtype" "outside-research" }} <!-- count Outside Research articles -->
  {{ if isset $outsideresearch 0 }} <!-- if there are Outside Research articles, list them -->
  <div class="center-page-wrapper">          
    <div class="events-list-header bordered-header research-type outside-research">outside research <a class="see-all-events subhead-rt" href="/updates/research/outside-research">See all</a></div>
      {{ range first 1 (where .Site.RegularPages "Params.researchtype" ( "outside-research" )) }}
        {{ if eq .Params.researchtype "outside-research" }}
       
      
            <div class="list-item center-content {{ .Params.childof }}-list">

            <!--<div class="chevron">
              <i class="fa fa-chevron-right"></i>
            </div>-->

            <div class="postlist-left-col">
                <div class="authorname">{{ .Params.postauthorname }}</div>
                <div class="list-thumb-container">
                  <img class="list-thumb" src="{{ .Params.authorpic }}">
                </div>  
                <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
              </div>
  
              <div class="postlist-right-col">
                <h2 class="title">
                  <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
                </h2>
                <div class="post-summary">
                    {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
                </div>
              </div>
  
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }} <!-- end Outside Research listings -->

{{ end }} <!-- end Research page stuff -->

<!-- *********************************** -->
<!-- *********************************** -->
<!-- ******* EL RESEARCH SUBPAGE ******* -->

{{ if eq .Title "Eviction Lab Research" }} <!-- if we are on the EL Research page, do stuff -->

  {{ $elresearch := where .Site.RegularPages "Params.researchtype" "el-research" }}
  {{ if isset $elresearch 0 }} <!-- if there are EL Research articles, list them -->
    <div class="alt-rows research-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.researchtype" "el-research") 5 }}   
      {{ range .Paginator.Pages }}
      
      <div class="center-page-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list">

          <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
          </div>-->

          <div class="postlist-left-col">
              <div class="authorname">{{ .Params.postauthorname }}</div>
              <div class="list-thumb-container">
                <img class="list-thumb" src="{{ .Params.authorpic }}">
              </div>  
              <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
            </div>

            <div class="postlist-right-col">
              <h2 class="title">
                <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="post-summary">
                  {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
              </div>
            </div>

        </div>
      </div>
      {{ end }}
  
    
  {{ end }} <!-- end EL Research listings -->
   <!-- PAGINATION -->  
</div>
<div class="center-page-wrapper">
  <div class="custom-pagination">
    {{ partial "pagination" . }}
  </div> 
</div>

{{ end }} <!-- end EL Research page stuff -->


<!-- *********************************** -->
<!-- *********************************** -->
<!-- **** OUTSIDE RESEARCH SUBPAGE ***** -->

{{ if eq .Title "Outside Research" }} <!-- if we are on the Outside Research page, do stuff -->

  {{ $outsideresearch := where .Site.RegularPages "Params.researchtype" "outside-research" }}
  {{ if isset $outsideresearch 0 }} <!-- if there are Outside Research articles, list them -->
    <div class="alt-rows research-list">
      {{ $paginator := .Paginate (where .Site.Pages "Params.researchtype" "outside-research") 5 }}   
      {{ range .Paginator.Pages }}
      
      <div class="center-page-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list">

          <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
          </div>-->

          <div class="postlist-left-col">
              <div class="authorname">{{ .Params.postauthorname }}</div>
              <div class="list-thumb-container">
                <img class="list-thumb" src="{{ .Params.authorpic }}">
              </div>  
              <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
            </div>

            <div class="postlist-right-col">
              <h2 class="title">
                <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="post-summary">
                  {{ .Summary }} <br /><br/><a class="read-more" href="{{ .RelPermalink }}">Read more</a>
              </div>
            </div>

        </div>
      </div>
      {{ end }}
  
    
  {{ end }} <!-- end Outside Research listings -->
   <!-- PAGINATION -->  
</div>
<div class="center-page-wrapper">
  <div class="custom-pagination">
    {{ partial "pagination" . }}
  </div> 
</div>

{{ end }} <!-- end EL Research page stuff -->

<!-- ******* EVENTS ******* -->

<div class="page-id-events-list">
{{ if eq .Title "Events"}} <!-- if we are on the Events page, do stuff -->
  {{ $events := where .Site.RegularPages "Params.childof" "events" }}
  {{ if isset $events 0 }} <!-- if there are Events articles, list them -->
  {{ $paginator := .Paginate (where .Site.RegularPages.Reverse "Params.childof" "events") 5 }}   
  {{ range .Paginator.Pages }}
      <div class="center-page-wrapper">
          <div class="list-item center-content {{ .Params.childof }}-list-main events-list list-head">
            <!--<div class="chevron">
            <i class="fa fa-chevron-right"></i>
            </div>-->
            <div class="postlist-left-col"> 
              <!--<div class="date-bg">-->
                <div class="post-date"><span class="date-number">{{ dateFormat "2" (.Params.date) }}</span><br />
                  <span class="date-month">{{ dateFormat "Jan" (.Params.date) }}</span>
                </div>
              <!--</div>-->
            </div>
            <div class="postlist-right-col">
              <h2 class="event-title">
              <a href="{{ .RelPermalink }}" class="{{ .Params.childof }}-type">{{ .Title }}</a>
              </h2>
              <div class="event-address">
                {{ .Params.address }}
              </div>
            </div>
          </div>  
          <div class="list-item center-content events-list-main events-list {{ .Params.childof }}-list-sum">
            <div class="post-summary">
              {{ .Summary }} <a class="read-more" href="{{ .RelPermalink }}">Read more</a>
            </div>
            <div class="event-deets">
              <ul>
                <li><img src="/images/icons/clock.svg" />April 1, 2018, 5:30PM—6:30PM</li>
                {{ if isset .Params "website" }}
                  <li><img src="/images/icons/browser.svg" /><a class="bold-link" href="{{ .Params.website }}">Website</a></li>
                {{ end }}  
              </ul>
            </div>
          </div>  
        </div>  
      
     
    {{ end }}
  {{ end }} <!-- end Events listings -->
  <div class="center-page-wrapper">
      <div class="custom-pagination">
        {{ partial "pagination" . }}
      </div> 
    </div>
{{ end }} <!-- end Events page stuff -->
</div>
<!-- ************** -->
<!-- ************** -->
<!-- ************** -->

{{ partial "debug" . }}
<span class="debug-visibility">rendered by = themes/THEMENAME/layouts/updates/list.html</span>

{{ partial "footer" . }}
