{{ partial "header" . }}
<!--{{ partial "subnav" . }}-->
{{ partial "breadcrumb" . }}

<div class="center-page-wrapper-content">
	<div class="center-content-post {{ .Params.childof }}-post updates-post">

    <figure class="article-image">
      <img src="{{ .Param "image" }}" onError="this.onerror=null;this.classList.add('null-img');" />
      <figcaption>
          <div class="bordered-header {{ .Params.childof }}-type">Eviction Lab Updates<span class="subhead-rt date">{{ .Date.Format "January 2, 2006" }}</span></div>
        
      </figcaption>
    </figure>

    <div class="page-content">
      <h2 class="title">{{ .Title }}</h2>
      <div class="authorbox">
        <img class="post-thumb" src="{{ .Params.authorpic }}">
        <ul>
          <li class="authorname">{{ .Params.postauthorname }}</li>
          <li class="authortitle">{{ .Params.postauthortitle }}</li>
        </ul>
      </div>
      <div class="social-box">
        <ul class="social-sprite">
            <li><a class="facebook" href="#"></a></li>
            <li><a class="twitter twitter-share-button">#</a></li>
            <li><a class="send-email" href="#"></a></li>
            <li><a class="copy-link" href="#"></a></li>
        </ul>
        <!--<span class="social-icon"><img src="/images/icons/social/social_fb_48px_inactive.png" /></span>
        <span class="social-icon"><img src="/images/icons/social/social_tw_48px_inactive.png" /></span>
        <span class="social-icon"><img src="/images/icons/social/social_email_48px_inactive.png" /></span>
        <span class="social-icon"><img src="/images/icons/social/social_getlink_48px_inactive.png" /></span>-->
      </div>
    </div>  
  </div> 
  <div class="alt-bg">
    <div class="center-content-post {{ .Params.childof }}-post updates-post">
      <div class="page-content">
        <div class="post-body">
          {{ .Content }}
          
        </div>
      </div> 
    </div> 
  </div>
      <div class="recommended">
				<p class="header">recommended posts</p>
				<ul>
					{{ range where .Site.RegularPages "Params.featured" true }}
					  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>

    </div>
  </div>
  </div>
</div>


{{ partial "debug" . }}
<span class="debug-visability">rendered by = themes/THEMENAME/layouts/updates/single.html</span>

{{ partial "footer" . }}
