{{ partial "header" . }}
<!--{{ partial "subnav" . }}-->
{{ partial "breadcrumb" . }}

<div class="center-page-wrapper-content">
	<div class="center-content-post {{ .Params.childof }}-post updates-post">

    <figure class="article-image">
      <img src="{{ .Param "image" }}"/>
      <figcaption>
          <div class="bordered-header {{ .Params.childof }}-type">Eviction Lab Updates<span class="subhead-rt date">{{ .Date.Format "January 2, 2006" }}</span></div>
        
      </figcaption>
    </figure>

    <div class="page-content">
        <p class="title">{{ .Title }}</p>

      {{ .Content }}

      <div class="recommended">
				<p class="header">recommended posts</p>
				<ul>
					{{ range where .Site.RegularPages "Params.featured" true }}
					  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>

    </div>

  </div>
</div>


{{ partial "debug" . }}
<span class="debug-visability">rendered by = themes/THEMENAME/layouts/updates/single.html</span>

{{ partial "footer" . }}
