
{{ partial "header" . }}
<!--{{ partial "subnav" . }}-->
<div class="mobile-off">{{ partial "breadcrumb" . }}</div>

<div class="center-page-wrapper-content">
	<div class="center-content-post {{ .Params.childof }}-post updates-post">

    <figure class="article-image">
      <img src="{{ .Param "image" }}" onError="this.onerror=null;this.classList.add('null-img');" />
      <figcaption>
          <div class="bordered-header {{ .Params.childof }}-type"><span class="mobile-off">Eviction Lab</span> {{ .Params.contenttype }}<span class="subhead-rt date">{{ .Date.Format "January 2, 2006" }}</span></div>
        
      </figcaption>
    </figure>

    <div class="page-content single-title">
      <h2 class="title {{ .Params.childof }}-type ">{{ .Title }}</h2>
<!-- /// UPDATES META SECTION /// -->       
      {{ if eq .Params.contenttype "updates" }}
      <div class="authorbox">
        <img class="post-thumb" src="{{ .Params.authorpic }}">
        <ul>
          <li class="authorname">{{ .Params.postauthorname }}</li>
          <li class="authortitle">{{ .Params.postauthortitle }}</li>
        </ul>
      </div>
      <div class="social-box mobile-off">
        <ul class="social-sprite">
            <li><a class="facebook social-share-popup" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"></a></li>
            <li><a class="twitter social-share-popup" target="_blank" href="https://twitter.com/intent/tweet?status={{ .Title }}, via @EvictionLab {{ .Permalink }}"></a></li>
            <li><a class="send-email" target="_blank" href="mailto:?subject={{ .Title }} - Eviction Lab&body={{ .Permalink }}"></a></li>
        </ul>
      </div>
      {{ end }}
<!-- /// END UPDATES META SECTION /// --> 
<!-- /// EVENTS META SECTION // -->
  {{ if eq .Params.contenttype "events" }}
    <div class="authorbox events">
      <ul>
        <li class="authorname">{{ .Params.address }}</li>
        <li class="authortitle"><img src="/images/icons/clock.svg" />{{ dateFormat "Monday Jan 2 2006" (.Params.date) }}, {{ .Params.timeRange }}</li>
        <li class="authortitle"><img src="/images/icons/browser.svg" /><a class="bold-link" href="{{ .Params.website }}">Website</a></li>
      </ul>
    </div>
    <div class="social-box mobile-off event-single">
      <ul class="social-sprite">
          <li><a class="facebook social-share-popup" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"></a></li>
          <li><a class="twitter social-share-popup" target="_blank" href="https://twitter.com/intent/tweet?status={{ .Title }}, via @EvictionLab {{ .Permalink }}"></a></li>
          <li><a class="send-email" target="_blank" href="mailto:?subject={{ .Title }} - Eviction Lab&body={{ .Permalink }}"></a></li>
      </ul>
    </div>

  {{ end }}

<!-- /// END EVENTS META SECTION /// -->          
    </div>  
  </div> 
  <div class="alt-bg">
    <div class="center-content-post {{ .Params.childof }}-post updates-post">
      <div class="page-content">
        <div class="post-body">
          {{ .Content }}
          <div class="btm-meta-cat mobile-on"><img src="/images/icons/events_bookmark.png" class="cat-bookmark" /><span class="header">Filed under <a class="ak-bold {{ .Params.childof }}-type capitalize" href="/updates/{{ .Params.childof }}">{{ .Params.childof }}</a></span></div> 
        </div>
      </div> 
    </div> 
  </div>
  <div class="center-content-post {{ .Params.childof }}-post updates-post">
    <div class="page-content">
      <div class="btm-meta">
          <div class="btm-meta-cat mobile-off"><img src="/images/icons/events_bookmark.png" class="cat-bookmark" /><span class="header">Filed under <a class="ak-bold {{ .Params.childof }}-type capitalize" href="/updates/{{ .Params.childof }}">{{ .Params.childof }}</a></span></div>
        <ul>
          {{ range last 1 (where (where .Site.Pages.ByDate "Date.Unix" "<" $.Date.Unix) "Params.contenttype" "!=" "events") }}
            {{ if gt $.Date.Unix .Date.Unix }}
              <li class="header">Next Post</li>
              <li><a class="{{ .Params.childof }}-type" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        </ul>  
        <ul>
            {{ range first 1 (where (where .Site.Pages.ByDate "Date.Unix" ">" $.Date.Unix) "Params.contenttype" "!=" "events") }}
              {{ if lt $.Date.Unix .Date.Unix }}
                <li class="header prev-post">Previous Post</li>
                <li><a class="{{ .Params.childof }}-type" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
            </ul> 
				<ul>
					{{ range where .Site.RegularPages "Params.featured" true }}
					  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
      </div>
    </div>
  </div>
    </div>
  </div>
  </div>
</div>


{{ partial "debug" . }}
<span class="debug-visibility">rendered by = themes/THEMENAME/layouts/updates/single.html</span>

{{ partial "footer" . }}
