
/** Bootstrap overrides */

body { 
  --c1: #e24000;
  --c2: #434878;
  --c3: #2c897f;
  --c4: #94AABD;
  --choro1: #434878;
  --choro2: #C1C5EA;
  --choro3: rgba(241, 241, 241, 0.7);
  --choro4: #e99c7e;
  --choro5: #e24000;
  --text-secondary: #7d7d7d;
  --primary: var(--c1);
  --secondary: var(--c2);
  --font-family-sans-serif: Akkurat-Regular, sans-serif;
  --body-font: var(--font-family-sans-serif);
  --body-font-bold: Akkurat-Bold, sans-serif;
  --heading-font: GT-Eesti-Display-Bold, sans-serif;
  --number-font: Gotham A,Gotham B,GT-Eesti-Display-Bold,sans-serif;
  font-family: var(--body-font);
  overflow-x: hidden;
}
.intro a, .section a { color: var(--c1); }
.intro p, .section p { margin-bottom: 2.4rem; }

/** End Bootstrap Overrides */

  /** hero */

  .graphic-header {
    background: rgb(17, 12, 12);
  }

  /** end hero */

  /** page layout */

  .layout {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 24px;
  }

  .layout>.column--content {
    flex: 1;
    max-width: 780px;
    margin-bottom: 64px;
  }

  /** end page layout */


  /** table base */

  .table {
    position: relative;
    margin-bottom: 24px;
  }

  .table .table__head th,
  .table .table__body td {
    border: none;
    padding: 8px;
  }

  .table .table__head th {
    border-bottom: 2px solid #eee;
    background:#fff;
  }

  /** zebra stripe rows */
  .table__row:nth-child(2n) {
    background-color: #f5f9ff
  }

  /** row hover color */
  .table__body .table__row:hover {
    cursor: pointer;
    background: rgba(226, 64, 0, 0.1);
  }

  @media (min-width: 768px) {

    .table .table__head th,
    .table .table__body td {
      padding: 16px;
    }
  }

  /** end table base  */


  /** table header row */

  .table {
    border-collapse: separate;
    font-size: 1rem;
    overflow-x: auto;
    overflow-y: visible;
  }

  .table__head {
    text-transform: uppercase;
    color: var(--text-secondary);
    font-family: var(--heading-font);
    font-size: 1.2em;
    text-align: left;
    
  }

  .table__head th {
    position: sticky;
    top: 56px;
    z-index:10;
    background: #fff;
  }

  .table__head .table__cell:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .table__head .table__cell:focus {
    outline: none;
    border-bottom-color: var(--c1);
  }

  /** ignore button column header */
  .table__head .table__cell--button {
    pointer-events: none
  }

  @media(min-width: 768px) {
    .table__head {
      font-size: 1.5em;
    }
  }

  .tablesorter-header.tablesorter-headerAsc .tablesorter-header-inner {
    position: relative;
  }

  .tablesorter-header.tablesorter-headerAsc .tablesorter-header-inner:after,
  .tablesorter-header.tablesorter-headerDesc .tablesorter-header-inner:after {
    content: "";
    position:absolute;
    margin-top:8px;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left:4px;
    border: 5px solid transparent;
    border-top-color: var(--c1);
  }

  .tablesorter-header.tablesorter-headerDesc .tablesorter-header-inner:after {
    border-top-color: transparent;
    border-bottom-color: var(--c1);
    margin-top:3px;
  }

  /** end table header row */


  /** table body */

  .table__body,
  .table__head,
  .table__row {
    min-width: 370px;
    white-space: nowrap;
  }

  /** table name column */

  .table__body .table__cell--name {
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--c2);
    font-size: 1.4em;
  }

  @media(min-width: 768px) {
    .table__body .table__cell--name {
      font-size: 2.1em;
    }
  }

  /** end table name column */

  /** table number column */

  .table__body .table__cell--number {
    font-family: var(--number-font);
    color: var(--c2);
    font-size: 1.4em;
    font-weight: 500;
    
  }

  .table__cell--number span {
    font-size: 1em;
    padding-left: 0.75em;
  }
  .table__cell--number span.down {
    color: var(--c3);
  }

  .table__cell--number span.up {
    color: var(--c1);
  }

  @media(min-width: 768px) {
    .table__body .table__cell--number {
      font-size: 1.8em;
    }
  }

  /** end table number column */


  /** table button column */

  .table__cell--button {
    display: none;
    padding: 0;
    width: 176px;
  }

  .table__cell--button .btn {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 1.4em;
    color: var(--c4);
  }

  .table__row:hover .table__cell--button .btn {
    color: var(--c1);
  }

  .table__cell--button .btn .fa {
    margin-left: 8px;
  }

  @media(min-width: 1024px) {
    .table__cell--button {
      display: table-cell;
    }
  }

  /** end table button column */

  /** end table body */


  /** table footer */

  .table + .footnote {
    font-size: 1.2rem;
    color: var(--text-secondary);
    
  }

  @media(min-width: 768px) {
    .table + .footnote {
      font-size: 1.4rem;
    }
  }

  /** end table footer */


  .stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .stats-item {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 24px 0px;
  }

  .stats-item__label {
    font-size: 1.4em;
    font-weight: normal;
    color: var(--text-secondary);
  }

  .stats-item__value {
    font-family: var(--number-font);
    font-size: 2.1em;
    line-height: 1;
    font-weight: 500;
    color: var(--c2);
    position: relative;
    top:1px;
  }

  .stats-item__diff {
    position: relative;
    top: -0.06em;
    left: 0.1em;
    font-size: 0.8em;
    padding-left: 0.75em;
  }
  .stats-item__diff.down {
    color: var(--c3);
  }
  .stats-item__diff.up {
    color: var(--c1);
  }


  .share {
    display: flex;
  }

  .share .share__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    padding: 8px 0;
    margin-right: 16px;
    line-height: 1;
    font-family: GT-Eesti-Display-Bold,sans-serif;
    color: #7d7d7d;
  }
  .share__link:hover {
    color: var(--c1);
    text-decoration: none;
  }
  .share__link .fa {
    margin: 0 8px 0 0px;
    font-size: 1.4rem;
    width: 24px;
    height:24px;
    background: #eee;
    text-align:center;
    padding: 4px;
  }

  .footnote ol {
    counter-reset: number;
  }
  .footnote ol li {
    counter-increment: number;
    position:relative;
    line-height: 1.42;
    margin-bottom: 8px;
  }
  .footnote ol li::before {
    content: counter(number)" ";
    font-size: 0.8em;
    position: absolute;
    top: -0.5em;
    left:-1em;
  }

  .footnote sup {
    margin-left: -8px;
  }
  

  .graphic-header .center-page-wrapper {
    background: none;
  }


  .column .subhead {
    margin-bottom: 24px;
    color: var(--c1);
  }

  .layout {
    display: flex;
    max-width: 1200px;
    width: 100%;
  }


  .intro {
    position: relative;
    margin:auto;
    padding: 0 24px 64px 24px;
    max-width: 1280px;
  }

  .intro .layout {
    padding:0;
    flex-direction:column;
  }

  .intro .lead {
    font-size: 1.6rem;
    line-height: 1.42;
    margin-right: 0;
  }

  .intro .stats-item--moratorium .stats-item__value {
    position: relative;
    top: 0.2em;
    font-size: 1.6em;
    white-space: nowrap;
  }

  .intro .bordered-header.primary {
    max-width: none;
    margin-bottom: 24px;
  }

  .intro .share {
    flex-direction: column;
  }

  @media(min-width: 480px) {
    .intro .stats {
      flex-direction: row;
      justify-content: space-around;
    }
    .intro .stats-item {
      padding: 0 8px 24px 8px;
    }
    .intro .share {
      flex-direction: row;
      justify-content: center;
    }
  }

  @media(min-width: 768px) {
    .intro {
      padding: 0 40px 64px 40px;
    }
    .intro .layout {
      flex-direction: row;
    }
    .intro .stats {
      flex-direction: column;
      justify-content: flex-start;
      min-width: 280px;
      margin-left:40px;
    }
    .intro .share {
      justify-content: flex-start;
    }
  }

  @media(min-width: 1024px) {
    .intro .layout {
      padding:0;
      align-items:flex-start;
      justify-content: flex-start;
    }
    .intro {
      padding: 0 40px 64px 40px;
    }
    .intro .lead {
      max-width: 600px;
    }
    .intro .stats {
      flex-direction: row;
      min-width: 340px;
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
    }
    .intro .stats .stats-item {
      min-width: 50%;
    }
  }

  @media(min-width: 1440px) {
    .intro .stats {
      min-width: 380px;
      max-width: 380px;
    }
    .intro .stats-item {
      font-size: 1.2rem;
    }
  }

  

  .subhead-rt.date {
    font-family: Akkurat-Regular,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 4px;
  }

  .bordered-header.primary,
  .bordered-header.primary a {
    color: var(--c1);
  }

  .bordered-header.primary {
    font-size: 2.1rem;
    border-top: 3px solid;
    margin-top: 40px;
    padding-top: .6rem;
    max-width: 780px;
  }



  .map {
    width: 100%;
    height:100%;
    min-height: 360px;
    background:#fff;
  }

  .map .mapboxgl-ctrl-top-right {
    top: 50%;
    right: 0;
    margin-top: -50px;
  }

  .section {
    position:relative;
    display: block;
    padding: 64px 24px;
  }

  .section:nth-child(2n-1) {
    background: #f4f7f9;
  }


  .section .details {
    min-width: 320px;
    max-width: 480px;
    margin:auto;
    padding:0;
    margin-bottom: 48px;
  }

  .section .details h1 {
    font-family: GT-Eesti-Display-Bold,sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .07rem;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  .section .details p {
    line-height: 1.5;
  }

  .section .visual {
    position:relative;
    min-width: 320px;
    margin:auto;
  }
  .section.section--chart .visual {
    max-width: 600px;
    max-height: 70vh;
  }
  .section.section--chart .chart {
    min-height: 320px;
  }

  .section .legend {
    display:flex;
    flex-direction: row;
    margin:auto;
    margin-bottom: 16px;
    flex-wrap: wrap;
    max-width: 252px
  }

  .section .section__content {
    position:relative;
    max-width: 1200px;
    width: 100%;
    height:100%;
    margin: 0 auto;
    flex:1;
  }

  /** push map to edges */
  .section.section--map .visual {
    margin-left:-24px;
    margin-right:-24px;
    margin-bottom: 24px;
  }

  @media(min-width: 1024px) {
    .section {
      padding: 64px 40px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      min-height: 520px;
    }


    .section .details,
    .section .legend,
    .section .footnote {
      margin:0 0 16px 0;
      width: 40%;
      flex-grow: 0;
    }

    .section .details {
      max-width: none;
    }

    .section .visual {
      position: absolute;
      right:0;
      top:0;
      bottom:0;
      width: 50%;
      max-width: none;
    }
    .section.section--chart .visual {
      top: 24px;
      bottom: 0;
      right: 0;
    }


    .section.section--map .section__content {
      position: static;
    }

    .section.section--map .visual {
      margin-top:0;
      margin-left:0px;
      margin-right:0px;
      margin-bottom:0;
    }
  }

  @media(min-width: 1440px) {
    .section {
      min-height: 560px;
    }
  }

  .visual {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: stretch;
    font-size: 1rem;
    text-align:center;
  }

  .visual__header {
    position:absolute;
    left:40px;
    right:24px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .visual .chart,
  .visual .map {
    flex: 1;
  }

  .visual__title {
    position: relative;
    font-size: 1.2em;
    line-height: 1.25;
    color: var(--text-secondary);
    text-align: center;
  }

  .visual__toggle {
    position: absolute;
    bottom: 8px;
    left:0;
    right:0;
    margin: 0 auto;
    font-family: var(--heading-font);
    background:none;
    border:none;
    line-height: 1;
    padding:12px 12px;
    color: var(--c1);
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .visual__toggle:hover,
  .visual__toggle:focus {
    color: var(--c2);
    outline: none;
  }

  .visual__header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .legend-item {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 16px;
  }

  .legend-item sup {
    color: var(--text-secondary);
  }

  .legend-item__color {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background: #999;
  }

  .legend-item--0 .legend-item__color {
    background: var(--c1);
  }
  .legend-item--1 .legend-item__color {
    background: var(--c2);
  }
  .legend-item--2 .legend-item__color {
    background: var(--c3);
  }
  .legend-item--3 .legend-item__color {
    background: var(--c4);
  }

  .legend-item__label,
  .legend-choropleth__title {
    line-height: 1;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .07rem;
  }

  .legend-choropleth__title span,
  .legend-item__label span {
    font-family: var(--body-font);
    font-size: 14px;
    letter-spacing:0;
    color: var(--text-secondary);
    display:block;
    margin-top:4px;
  }



  .section .legend-item {
    min-width:120px;
  }

  .legend-choropleth {
    min-width: 240px;
  }

  .legend-choropleth__title {
    margin-bottom: 8px;
    display: block;
  }

  .legend-choropleth__gradient {
    width: 100%;
    height: 16px;
    background: linear-gradient(to right, var(--choro1), var(--choro2) 25%, var(--choro3) 50%, var(--choro4) 75%, var(--choro5));
  }

  .legend-choropleth__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .legend-choropleth__labels span {
    font-size: 1.2rem;
    color: var(--text-secondary);
    width: 48px;
    text-align: center;
  }

  .legend-choropleth__min {
    position: relative;
    left: -24px;
  }

  .legend-choropleth__max {
    position: relative;
    left: 24px;
  }

  .section .footnote {
    font-size: 1.2rem;
    color: #7d7d7d;
    max-width: 320px;
    margin:auto;
  }
  .section .footnote span {
    display: block;
  }
  @media(min-width: 768px) {
    .section .footnote {
      font-size: 1.4rem;
      max-width: 480px;
    }
  }
  @media(min-width: 1024px) {
    .section .footnote { margin-left: 0; }
  }





.chart {
  width: 100%;
  height: 100%;
}

.chart__box {
  fill:none;
  stroke-width: 3;
  stroke: #fff;
}

.chart__grid .domain,
.chart__grid  {
  stroke: #fff;
}

.chart__axis .domain,
.chart__axis .tick line {
  stroke: #fff;
}

.chart__axis .tick text {
  fill: #7d7d7d;
  font-size: 14px;
  font-family: var(--heading-font);
}

.chart__line {
  stroke-dasharray: 3 1;
  stroke-dashoffset: 1
}

.chart__line {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 0;
  stroke: #ccc;
}
.chart__line--0 {
  stroke: var(--c1);
}
.chart__line--1 {
  stroke: var(--c2);
}
.chart__line--2 {
  stroke: var(--c3);
}
.chart__line--3 {
  stroke: var(--c4);
}

.chart__bar {
  fill: #ccc;
}

.chart__dot {
  stroke: #fff;
  stroke-width: 1;
}

.chart__bar--0,
.chart__dot--0 {
  fill: var(--c1);
}
.chart__bar--1,
.chart__dot--1 {
  fill: var(--c2);
}
.chart__bar--2,
.chart__dot--2 {
  fill: var(--c3);
}
.chart__bar--3,
.chart__dot--3 {
  fill: var(--c4);
}

.stripe {
  fill: #fff;
}

.stripe--dark {
  fill:#ccc;
}

.chart__area { 
  fill: url('#pattern-light')
}

.chart__area--alt { 
  fill: url('#pattern-dark')
}


.chart__tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 12px 16px;
  font-size: 14px;
  line-height:1.5;
  max-width: 240px;
  transition: left 0.1s ease-out, transform 0.1s ease-out;
  z-index:999;
}
/** no tooltip on mobile */
@media(max-width: 420px) {
  .chart__tooltip {
    display: none!important;
  }
}

.chart__tooltip h1 {
  margin:0 0 8px 0;
  font-size: 14px;
  font-family: var(--heading-font);
}


.chart__tooltip--flip {
  transform: translateX(-100%);
}

.map__tooltip-row {
  font-size: 12px;
  height: 32px;
  margin-top:-4px;
  margin-bottom: 4px;
  white-space: nowrap;
}

.map__tooltip-row em {
  font-family: Akkurat-Regular,sans-serif;
  font-weight: 500;
  color: rgba(255,255,255,0.7);
  display:block;
  margin-top: 2px;
}

.map__tooltip-row span {
  margin-right:0;
}

.map__tooltip-row--down span,
.tooltip__item--down span {
  font-weight: 700;
  color: rgb(67, 202, 189);
}
.map__tooltip-row--up span,
.tooltip__item--up span {
  font-weight: 700;
  color: #ff8150;
}

.tooltip__item {
  position: relative;
  font-size: 12px;
  margin-bottom: 4px;
  white-space: nowrap;
}
.tooltip__item.tooltip__item--single {
  margin-top:-4px;
  margin-bottom: 0;
}
.tooltip__item.tooltip__item--multi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  height: 16px;
}

.tooltip__item--multi span:first-child {
  font-weight: 700;
  min-width: 80px;
  margin-right: 8px;
}

.tooltip__item--multi span + span {
  min-width: 40px;
}

.tooltip__item--multi span + span + span {
  min-width: 1px;
}

.tooltip__item--multi .arrow {
  padding-left:10px;
  margin-left: 2px;
}
.arrow {
  position: relative;
}
.arrow:before {
  content:'';
  width:0;
  height:0;
  border: 0.3em solid transparent;
  position: absolute;
  display: block;
  left:0;
  top: 0px;
  bottom:0;
  margin:auto;
}
.arrow.down:before {
  border-top-color: var(--c3);
  transform: translateY(0.15em)
}

.arrow.up:before {
  border-bottom-color: #ff8150;
  transform: translateY(-0.15em)
}

.tooltip__item--multi:before {
  content: "";
  display:block;
  position: absolute;
  width: 8px;
  height: 8px;
  background:#ccc;
  top:3px;
  margin:auto;
  left:-20px;
}
.chart__tooltip-row--0 .tooltip__item--multi:before {
  background: var(--c1);
}
.chart__tooltip-row--1 .tooltip__item--multi:before {
  background: var(--c2);
}
.chart__tooltip-row--2 .tooltip__item--multi:before {
  background: var(--c3);
}
.chart__tooltip-row--3 .tooltip__item--multi:before {
  background: var(--c4);
}

.chart__marker-line {
  stroke: none;
  stroke-dasharray: 3 1;
  stroke-width: 2;
  transition: transform 0.1s ease-in-out;
}

.chart__marker-line--hover {
  stroke: rgba(0,0,0,0.1);
}

.chart__mark-lines line {
  stroke: rgba(0,0,0,0.3);
  stroke-dasharray: 3 3;
  stroke-width: 2;
}

.chart__mark-lines text {
  fill: #7d7d7d;
  font-size: 12px;
  font-family: Akkurat-Bold, sans-serif
}