{{ partial "header" . }}
{{ $pagetype := .Params.childof }}
<!-- {{ partial "subnav" . }} -->

<!-- <div class="page-list  covid-map"> -->
    <div class="center-page-wrapper">
        <div class="center-content-post page-list center-content-post research-post updates-post">
          
            <h2 class="bordered-header green">Map of eviction moratoriums and other actions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>

        </div>
        <div class="center-content-post page-list">
            <div class="legend">
              <div class="legend-item">
                <div class="icon no"></div><div class="label">No moratoriums</div>
              </div>
              <div class="legend-item">
                <div class="icon yes"></div><div class="label">State-level moratoriums</div>
              </div>
              <div class="legend-item">
                <div class="icon local"></div><div class="label">County or city moratoriums</div>
              </div>
            </div>
        </div>
    </div>
    <div class="map-parent">
        <div id="map_container"></div>
    </div>
</div>
{{ partial "covid-map" . }}
{{ partial "footer" . }}
