{{ partial "header" . }}

<!-- section header -->
<div class="graphic-header help-faq center-page-wrapper">
  <div class="center-page">
    <h1 class="graphic-page-header">about us</h1>
    <div class="underbar"></div>
  </div>
</div>

<!-- subnav -->
<div class="shadow-bottom center-page-wrapper subnav">
  <div class="center-content-post max1200">
    <ul class="anchor-links">
      <li class="only-larger-screens">CHOOSE A SECTION</li>
      <li><a href="#introduction" class="smoothScroll">Intro</a></li>
      <li><a href="#background" class="smoothScroll">Background</a></li>
      <li><a href="#work" class="smoothScroll"><span class="mobile-off">Our </span>Work</a></li>
      <li><a href="#team" class="smoothScroll"><span class="mobile-off">Our </span>Team</a></li>
    </ul>
  </div>
</div>

<div class="about-us">
<div class="center-page-wrapper">
  <div class="center-content-post max1200 page-list">

    <!-- ************ -->
    <!-- Intro section -->
    <!-- ************ -->
    <a name="introduction"></a>
    <div class="about-block">
        
        {{ range (where .Site.RegularPages "Params.childof" ("pageText")) }}
        {{ if eq .Params.type "intro" }} 
          {{ partial "about-block" . }}
        {{ end }}
        {{ end }}
    </div>
  </div><!-- End center content post -->
</div><!-- End center page wrapper -->
    <!-- ************ -->
    <!-- data section -->
    <!-- ************ -->

<div class="alt-bg">
  <div class="center-content-post max1200 page-list">
      <a name="background"></a>
      <div class="about-block">
        
        {{ range (where .Site.RegularPages "Params.childof" ("pageText")) }}
        {{ if eq .Params.type "background" }} 
          {{ partial "about-block" . }}
        {{ end }}
        {{ end }}
      </div>
    </div>
</div>    
    

    <!-- ******************* -->
    <!-- definitions section -->
    <!-- ******************* -->

<div class="center-page-wrapper">
  <div class="center-content-post max1200 page-list">    
    <a name="work"></a>
    <div class="about-block">
        
        {{ range (where .Site.RegularPages "Params.childof" ("pageText")) }}
        {{ if eq .Params.type "work" }} 
          {{ partial "about-block" . }}
        {{ end }}
        {{ end }}
    </div>

  
  </div><!-- end max-1200 wrapper -->
</div><!-- end center wrapper -->
    <!-- *************** -->
    <!-- methods section -->
    <!-- *************** -->
<div class="alt-bg">
  <div class="center-page-wrapper">
    <div class="center-content-post max1200 page-list">
      <a name="team"></a>
      <h2 class="page-section-headerv2 align-center">Eviction Lab Team</h2>

    <div class="el-bios">
      <ul class="nav nav-tabs anchor-links" role="tablist">
          <li class="only-larger-screens" role="presentation">Choose a team</li>
          <li role="presentation" class="active"><a href="#team1" aria-controls="home" role="tab" data-toggle="tab">Research Team</a></li>
          <li role="presentation"><a href="#team2" aria-controls="profile" role="tab" data-toggle="tab">Student Researchers</a></li>
          <li role="presentation"><a href="#team3" aria-controls="profile" role="tab" data-toggle="tab">Web Team</a></li>
      </ul>
      <div class="tab-content">
        <!-- ************* Research Team Bios ***************** -->
        <div role="tabpanel" class="tab-pane active" id="team1">    
          <div class="bio-thumbs">
            {{ range (where .Site.RegularPages "Params.childof" ("research-team-bios")) }}
            {{ if eq .Params.childof "research-team-bios" }} 
              {{ partial "about-modal" . }}
            {{ end }}
            {{ end }}
        </div>
        </div> <!-- End Research Team tab-pane -->
        <!-- *************** Student Researcher Bios ******************** -->
        <div role="tabpanel" class="tab-pane" id="team2">
          <div class="bio-thumbs">
              {{ range (where .Site.RegularPages "Params.childof" ("student-researcher-bios")) }}
              {{ if eq .Params.childof "student-researcher-bios" }} 
                {{ partial "about-modal" . }}
              {{ end }}
              {{ end }}
          </div>
          </div> <!-- End Student Researcher tab-pane -->
        <!-- *************** Web Team Bios ******************** -->
        <div role="tabpanel" class="tab-pane" id="team3">
            <div class="bio-thumbs">
                {{ range (where .Site.RegularPages "Params.childof" ("web-team-bios")) }}
                {{ if eq .Params.childof "web-team-bios" }} 
                  {{ partial "about-modal" . }}
                {{ end }}
                {{ end }}
            </div>
            </div> <!-- End Web Team tab-pane -->  
        </div> <!-- tab-content -->
       
     
      </div><!-- end el-bios -->
    </div><!-- end page-content wrapper -->
  </div><!-- end center page wrapper -->
</div><!-- end alt-bg -->

</div><!-- end About Us Page ID -->

<script src="/js/subnav-active.js"></script>
{{ partial "debug" . }}
<span class="debug-visibility">rendered by = theme/THEMENAME/layouts/about-us/list.html</span>

{{ partial "footer" . }}
