$no-action-gray: #F8F8F8;
$yes-action-green: #8CD3CD;
$local-action-green: #2C897F;
$eviction-labs-red: #E24000;

.covid-map-pretext {
  h3 {
    width: 80%;
    @media (min-width: 768px) {
      width: 45%;
    }
  }
}

header {
  z-index: 3001;
}

.map-parent {
  position: relative;
  width: 100%;
  // height: calc(100vh - 56px);
  // @media (min-width: 768px) {
  //   height: calc(100vh - 80px);
  // }
  // padding-top: 56px;
  // background-color: blue;
  @media (min-width: 768px) {
    // padding-top: 80px;
  }
  .map-tooltip {
    position: fixed;
    top: 0px;
    left: -100px;
    // width: 200px;
    // height: 70px;
    padding: 8px 10px 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
    &:before {
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      // border-top: 8px solid transparent;
      // border-bottom: 8px solid transparent;
      // border-right:8px solid #fff;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      border-bottom:8px solid #fff;
      left:43px;
      top:-7px;
    }
  }
  .locality-label {
    // background-color: #FFFFFF;
    // fill: #FFFFFF;
    display: block;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    &:after {
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      // border-top: 8px solid transparent;
      // border-bottom: 8px solid transparent;
      // border-right:8px solid #fff;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      top: 8px solid #fff;
      left:43px;
      top:-7px;
    }
  }
  #map_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin: 0 auto 0 auto;
    background-color: #FBFBFB;
    // border: 1px solid gray;
    svg {
      path.state {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  #intro_panel_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3000;
    // display: flex;
    align-items: center;
    justify-content: center;
    .intro-panel {
      width: 505px;
      height: auto;
      background: #FFFFFF;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
      padding: 31px;
      h3 {
        // position: absolute;
        height: 78px;
        margin-top: 0;
        text-transform: none;
        font-family: GT Eesti Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #2C897F;
        margin-bottom: 16px;
      }
      p {
        font-family: Akkurat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 142%;
        text-align: center;
        letter-spacing: 0.01em;
        margin-bottom: 2.3rem;
      }
      .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        background-color: #e24000;
        border-color: #e24000;
        text-transform: uppercase;
        font-family: GT-Eesti-Display-Bold, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        padding: 11px 15px;
        letter-spacing: .054rem;
        width: 130px;
      }
    }
  }
  
  #legend {
    width: 268px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 50px;
  }
  .legend {
    background: #fff;
    padding: 1rem;
    margin-bottom: 46px;
    .legend-item {
      padding: 0.5rem 0 0 0;
      .icon,
      .label {
        display: inline-block;
        vertical-align: middle;
      }
      .icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        &.no {
          background-color: $no-action-gray;
        }
        &.yes {
          background-color: $yes-action-green;
        }
        &.local {
          width: 6px;
          height: 6px;
          border-radius: 3px;
          margin-left: 10px;
          margin-right: 18px;
          background-color: $local-action-green;
        }
      }
      .label {
        font-size: 1.6rem;
        line-height: 142%;
      }
    }
  }
  /* Style for Custom Tooltip */
  // div.tooltip {
  //  	position: absolute;
  // 	text-align: center;
  // 	width: 60px;
  // 	height: 28px;
  // 	padding: 2px;
  // 	font: 12px sans-serif;
  // 	background: white;
  // 	border: 0px;
  // 	border-radius: 8px;
  // 	pointer-events: none;
  // }

  /* Legend Font Style */
  // body {
  // 	font: 11px sans-serif;
  // }

  /* Legend Position Style */
  // .legend {
  // 	position:absolute;
  // 	left:960px;
  // 	top:380px;
  // }
}

.center-page-wrapper {
  // height: 56px !important;
  // @media (min-width: 768px) {
  //   height: 80px;
  // }
  display: block;
  .center-content-post {
    // height: 80px !important;
      max-width: 80%;
      line-height: 32px;
      h2 {
        max-width: 100%;
        font-size: 3.2rem;
      }
  }
  .legend {
    margin-top: 36px;
    margin-bottom: 46px;
    .legend-item {
      .icon,
      .label {
        display: inline-block;
        vertical-align: middle;
      }
      .icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        &.no {
          background-color: $no-action-gray;
        }
        &.yes {
          background-color: $yes-action-green;
        }
        &.local {
          width: 6px;
          height: 6px;
          border-radius: 3px;
          margin-left: 10px;
          margin-right: 18px;
          background-color: $local-action-green;
        }
      }
      .label {
        font-size: 1.6rem;
        line-height: 142%;
      }
    }
  }

}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

svg {

}

#map_panel {
  display: block;
  position: fixed;
  // height: 100%;
  width: 400px;
  max-width: 100%;
  // top: 0;
  // left: -400px;
  background: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
  // padding: 1rem;
  .panel-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .close {
    float: right;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3000;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -3px;
      right: -7px;
      // right: 0;
      // bottom: 0;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      margin: auto;
      border: 2px solid #eef2f5;
    }
  }
  .panel-content {
      p { margin-bottom: 0; }
      h3, h4, h5, p, a, .partial-divider {
        margin-left: 18px;
        margin-right: 18px;
      }
      h3.state-name {
        font-family: GT Eesti Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 142%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2C897F;
        margin-top: 16px;
        margin-bottom: 4px;
      }
      .state-eviction-rate,
      .locality-eviction-rate {
        font-family: Akkurat-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 142%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #050403;
        margin-bottom: 16px;
      }
      .full-divider {
        height: 10px;
        left: 0px;
        top: 153px;
        background: linear-gradient(360deg, #3D978E 0%, #56B7AF 100%);
        margin-bottom: 20px;
      }
      .state-eviction-prose {
        margin-bottom: 24px;
      }
      .state-eviction-prose,
      .locality-eviction-prose {
        font-family: Akkurat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 142%;
        letter-spacing: 0.01em;
        color: #212529;
      }
      .oulink-icon {
        height: 14px;
        width: 14px;
        border-radius: 2px;
        display: inline-block;
        color: $eviction-labs-red; // #2C897F;
        vertical-align: top;
        margin-left: 5px; 
        margin-right: 0;
      }
      .partial-divider {
        width: 348px;
        height: 3px;
        left: 18px;
        top: 295px;
        background: #2C897F;
        // margin-top: 24px;
      }
      h4 {
        font-family: GT Eesti Display;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 142%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2C897F;
      }
      .actions-list {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      .action {
        font-family: Akkurat-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 142%;
        letter-spacing: 0.01em;
        color: #3C4043;
        margin-bottom: 6px;
        margin-top: 12px;
      }
      .dates-in-effect {
        font-family: Akkurat-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 142%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #737373;
        margin-bottom: 5px;
      }
      .dates {
        font-family: Akkurat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 142%;
        letter-spacing: 0.01em;
        color: #212529;
        margin-bottom: 15px;
      }
      .link-to-source {
        font-family: GT Eesti Display;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 142%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $eviction-labs-red;
        margin-top: 5px;
        margin-bottom: 24px; 
      }
      .locality {
        font-family: GT Eesti Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 142%;
        letter-spacing: 0.01em;
        color: #2C897F;
        margin-top: 24px;
      }
      .locality-eviction-rate {
        margin-left: 0;
        margin-top: 4px;
      }
      .scrolls {
        // padding: 1rem;
        // padding-top: 80px;
        overflow-y: scroll;
        // height: 100%;
        padding-bottom: 20px;
      }
      ////
      // .side-panel-contents {
      //   overflow-y: scroll;
      //   height: 100%;
      // }
    // }
  }
}
