.page-type-eviction-tracking {
    p {
        img {
            max-width: 100%;
            margin-top: 3.2rem;
            margin-bottom: 3.2rem;
        }
    }
    table.data-table {
        @include media-breakpoint-up(md) {
            width: 120%;
            margin-left: -8%;
        }
        &.page-stats {
            font-size: 1.8rem;
            td {
                font-family: Akkurat-Bold,sans-serif;
            }
        }
    }
}