#hp-hero {
  &.hp-hero {
    .hp-hero__img {
      background-image: url('/images/assets/hero/hp-hero__image_1760.jpg');
      background-size: 120%;
      background-repeat: no-repeat;
      background-position-x: 10%;
      background-position-y: 28%;
      min-height: 460px;
    }
    h1 {
      @include altFont(32px);
      letter-spacing: 1px;
      line-height: 1.2;
      width: 75%;
      @include for-iphone-8plus-portrait-only {
        @include altFont(32px);
        letter-spacing: 1px;
        line-height: 1.2;
        width: 86%;
      }
      @include for-tablet-portrait-up {
        @include altFont(40px);
        letter-spacing: 1px;
        line-height: 50px;
      }
      @include for-tablet-landscape-up {
        @include altFont(44px);
        letter-spacing: 1px;
        line-height: 50px;
      }
    }
    p {
      @include defaultFont(16px);
      //margin: 24px 0 32px 0;
      line-height: 1.5;
      @include for-iphone-8plus-portrait-only {
        @include defaultFont(16px);
      //  margin: 32px 0 40px 0;
        line-height: 1.5;
      }
      @include for-tablet-portrait-up {
        max-width: 440px;
        @include defaultFont(17px);
        line-height: 23px;
      }
      @include for-tablet-landscape-up {
        color: $secondaryAltTextColor;
      }
      @include for-tablet-landscape-up-w-height {
     //   margin: 20px 0 29px 0;
      }
    }
    a {
      color: $altTextColor;
      background-color: $color1;
      border-color: $color1;
      //text-transform: uppercase;
      @include defaultFont(1.4rem);
      padding: 11px 15px;
      //letter-spacing: .054rem;
      @include for-tablet-portrait-up {
        @include defaultFont(15px);
        padding: 20px 26px;
        letter-spacing: 0.02rem;
      }
    }
  }
}

#hp-carousel {
  will-change: transform;
  .hp-carousel__slide--image {
    height: 150px;
    background-size: cover;
  }
  .hp-carousel__slide--category {
    font-family: $fontStack;
    font-size: 1.4rem;
    &.research-category {
      color: $color3;
      &::before {
        content: url('images/icons/research-icon.svg');
        height: 14px;
        width: 14px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 1px;
      }
    }
  }
  .hp-carousel__slide--title {
    @include altFont(1.8rem);
    line-height: 1.4;
    color: #000;
    transition: color .3s ease;
    min-height: 76px;
    display: inline-block;
    will-change: transform;
    &:hover {
      color: $color1;
    }
  }
  
  .carousel-control-prev, .carousel-control-next {
    opacity: 1;
    &:hover {
      .carousel-control-prev-icon, .carousel-control-next-icon {
        background: url("/images/icons/bio-arrow-active.svg");
      }
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background: url("/images/icons/bio-arrow.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    transition: background .3s ease;
    border-radius: 2px;
    background-position: 50% 50% !important;
  }
  .carousel-control-prev-icon {
    right: 54px;
    top: -21%;
    @include media-breakpoint-up(xxxl) {
      right: -16px;
      top: -16%;
    }
    transform: rotate(180deg);
  }
  .carousel-control-next-icon {
    right: -54px;
    top: -21%;
    @include media-breakpoint-up(xxxl) {
      right: 16px;
      top: -16%;
    }
  }
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    will-change: transform;
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    will-change: transform;
    transform: translateX(-25%);
  }
    
  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{ 
    will-change: transform;
    transform: translateX(0);
    
  }
}