#sub-splash-gateway {
    h1 {
        font-family: "GT-Eesti-Display-Bold";
        font-style: normal;
        font-weight: bold;
        line-height: 142%;
        /* or 43px */
       // letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #E24000;
        font-size: 2.6rem;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }
    .col-count-2 {
        @include media-breakpoint-up(md) {
            column-count: 2;
            column-gap: 3.2rem;
        }
        p {
            color: #212529;
        }
    }
    h2 {
        font-family: "GT-Eesti-Display-Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        @include media-breakpoint-up(md) {
            font-size: 3.8rem;
        }  
        @include media-breakpoint-up(xl) {
            font-size: 4.4rem;
            line-height: 1.1;
        }
          
       // letter-spacing: 1px;
        line-height: 1.2;
        color: #000000;
        /* &.policies-intro {
            font-family: "GT-Eesti-Display-Medium";
            font-size: 4.4rem;
            line-height: 3.7rem;
            color: #000000;
            font-weight: 400;
        } */
    }
    h3 {
        font-family: "GT-Eesti-Display-Bold";
        font-style: normal;
        font-weight: bold;
        @include media-breakpoint-up(xl) {
            font-size: 3.2rem;
        }
        font-size: 2.8rem;
        //letter-spacing: 1px;
        line-height: 1.2;
        color: #000000;
        text-transform: capitalize;
        /* &.policies-intro {
            font-family: "GT-Eesti-Display-Medium";
            font-size: 4.4rem;
            line-height: 3.7rem;
            color: #000000;
            font-weight: 400;
        } */
    }
    p {
        font-family: "Akkurat-Regular";
        line-height: 1.5;
        //color: #6F6F70;
        color: #000;
        font-size: 1.6rem;
        @include media-breakpoint-up(md) {
            font-size: 1.7rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 1.8rem;
        }
    }
    .red-underbar {
        width: 10.2rem;
        height: 0.4rem;
        background-color: #e24000;
    }
// Map and rankings blocks --------------------------------------------
    #main-features {
        background-color: #F4F7F9;
        h3 {
          color: $color2;
          font-size: 2.6rem;
          @include media-breakpoint-up(md) {
            font-size: 3rem;
            } 
          @include media-breakpoint-up(xl) {
            font-size: 3.2rem;
            }
            
        }
    }
    #feature-map {
        background-color: #EAEFF3;
        background-image: url(/images/assets/graphics/map-circles.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 50% 2rem;
        @include media-breakpoint-up(xl) {
            background-position: 68% 2rem;
        }
        /*background-position: 0 0;
            background-image: linear-gradient(135deg,transparent,transparent 60%,rgba(0,0,0,0.4));
            transition: background-position .3s ease-in-out;
            &:hover {
                background-position: 100% 0;
            } */
    }
    #feature-rankings {
        background-color: #F4E9E7;
        background-image: url(/images/assets/graphics/rankings-bars.svg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: left 1.3rem;
    }
    .main-feature {
        padding: 19rem 0 3.2rem;
        @include media-breakpoint-up(md) {
            padding: 21rem 0 3.2rem;
        }
        @include media-breakpoint-up(lg) {
            padding: 24rem 0 3.2rem;
        }
        @include media-breakpoint-up(xl) {
            padding: 28rem 0 3.2rem;
        }
    }

// subfeatures --------------------------------------------

    #covid-gateway {
        .col-2-wrap {
            justify-content: space-evenly;
        }
        .feature {
            /* Vector */
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            width: 100%;
            @include media-breakpoint-up(md) {
                width: 50%;
            }
            position: relative;
            &:hover {
                .hoverbar {
                    display: block;
                    transition: display .8s ease;
                }      
            }
            
            .bg-wrapper-1 {
                background-size: 82%;
                background-color: #24294e;
                height: 100%;
                align-self: center;
                @include media-breakpoint-up(md) {
                    background-size: 175%;
                } 
                @include media-breakpoint-up(lg) {
                    background-size: 100%;
                }
                @include media-breakpoint-up(xl) {
                    background-size: 73%;
                }
                background-repeat: no-repeat; 
                background-color: 24284E;
                background-image: url('/images/assets/graphics/ets-bg.jpg');
                .gradient-overlay {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 47%;
                    z-index: 0;
                    background-image: linear-gradient(135deg,transparent,transparent 70%,rgba(0,0,0,0.5));;
                    transition: opacity .3s ease;
                    opacity: 0;
                    background-size: 400%;
                    background-position: 100%;
                }
                &:hover {
                    //background-image: linear-gradient(135deg,transparent,transparent 90%,rgba(0,0,0,1));
                    .gradient-overlay {
                        opacity: 1;
                       // background-image: linear-gradient(135deg,transparent,transparent 70%,rgba(0,0,0,0.5));
                      //  transition: background-image 1s;
                        
                        }
                    }
                }
            .bg-wrapper-2 { 
                background-size: 125%;
                @include media-breakpoint-up(md) {
                    background-size: 175%;
                }  
                @include media-breakpoint-up(lg) {
                    background-size: 110%;
                }
                background-repeat: no-repeat;    
                background-image: url('/images/assets/graphics/scorecard-bg.jpg');
              
                }
            .bg-wrapper-3 {
                background-size: 125%;
                
                @include media-breakpoint-up(md) {
                    background-size: 175%;
                } 
                @include media-breakpoint-up(lg) {
                    background-size: 100%;
                }
                @include media-breakpoint-up(xl) {
                    background-size: 114%;
                }
                background-repeat: no-repeat; 
                    background-image: url('/images/assets/graphics/policies-bg.jpg');
                }
            .bg-wrapper-4 { 
                background-size: 125%;
                @include media-breakpoint-up(md) {
                    background-size: 175%;
                }  
                @include media-breakpoint-up(lg) {
                    background-size: 110%;
                }
                background-repeat: no-repeat;    
                    background-image: url('/images/assets/graphics/resources-bg.jpg');
                }    
            
            .text-wrapper {
                padding: 2.4rem 2.4rem 3.2rem 2.4rem;
                background-color: #fff;
                z-index: 99;
                &:hover {
                    z-index: 99;
                }
            } 
        }
    }
    .feature-panel {
        a.wraplink {
            width: 100%;
            background-size: 400%;
            background-position: 0 0;
            background-image: linear-gradient(135deg,transparent,transparent 40%,rgba(0,0,0,0.08));
            transition: background-position .3s ease-in-out;
            &:hover {
                background-position: 100% 0;
            }
        }
    }
    .subfeature-panel {
        a.wraplink {
            width: 100%;
        }
    }
    .feature-panel, .subfeature-panel {
        a.wraplink {
            position: absolute;
            height: 100%;
            top: 0;
            z-index: 9;
            align-self: center;
        }
        a.subwrap-link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        a.sublink {
            font-family: "GT-Eesti-Display-Medium";
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 0.08em;
            color: #000000;
            &:hover {
                text-decoration: none;
            }
            .hoverbar {
                position: absolute;
                display: none;
                height: 5px;
                width: 56px;
                margin-top: 12px;
                background-color: #000;
            }
            i.fa.fa-chevron-right {
                position: relative;
                top: 2px;
                &:before {
                    font-size: 1.6rem;
                }
            }
            &.aboutus {
                @include media-breakpoint-up(xl) {
                    font-size: 2.6rem;
                }
                font-size: 2.4rem;
                //letter-spacing: 1px;
                font-weight: 600;
                margin-bottom: 2.4rem;
                display: block;
            }
        }
        
        .main-feature {
            .wrapper {
                p {
                    font-size: 1.6rem;
                    
                    @include media-breakpoint-up(md) {
                        font-size: 1.8rem;
                    }
                }
            }
            a.sublink {
                font-size: 1.5rem;
                font-weight: 500;
                @include media-breakpoint-up(md) {
                    font-size: 1.7rem;
                    font-weight: 600;
                }
                
            }
        }
    }

// subfeatures --------------------------------------------
    #updates-section {
        background-color: #F4F7F9;
        background-size: 64%;
        @include media-breakpoint-up(lg) {
            background-size: 50%;
        }
        background-image: url(/images/assets/graphics/barchart.svg);
        background-repeat: no-repeat;
        background-position: 90% bottom;
        h2 {
            color: $color1;
        }
    }

}