.header-logo-img-white {
    display: none;
}
.page-the-eviction-lab {

    .superheader {
        z-index: 9999;
    }

// HEADER ---------------------------   

    .header-position-relative {
        &.header-wrapper {
            @include media-breakpoint-up(md) {
                background: transparent;
                box-shadow: none;
                top:-80px;
            }
            position: relative;
            top:-56px;
        }
        @include media-breakpoint-up(md) {
            .header-logo-img-white {
                display: block;
            }
            .header-logo-img {
                display: none;
            }
            .language-select.dropdown .el-select.dropdown-toggle {
                color: #fff;
                .fa {
                    color: #fff;
                }
            }
            .header-icons .btn.btn-icon.el-button-menu {
                .icon, span {
                    fill: #fff;
                    color: #fff;
                }
            }
        } 
    }    

    header {
       // position: relative;
        transform: translateY(-72px);
        transition: transform .4s ease;
        .header-wrapper {
            height: 56px;
        }
        .header-logo img {
            transform: scale(0.775);
        }
    }
    header.condensed {
      //  position: sticky;
        transition: transform .4s ease;
        transform: translateY(0px);
     
        .header-wrapper {
           // transition: background 0.5s ease;
            background: #fff;
            box-shadow: 0 3px 6px 0 rgba(145, 145, 145, 0.23);
        }
        .header-logo-img-white {
            display: none;
        }
        .header-logo-img {
            display: block;
        }
        .language-select.dropdown .el-select.dropdown-toggle {
            color: #050403;
            .fa {
                color: #e24000;
            }
        }
        .header-icons .btn.btn-icon.el-button-menu {
            .icon, span {
                fill: #e24000;
                color: #e24000;
            }
        }
    }
// HERO -------------------------------

    #home-hero {
        height: 441px;
        background-position-x: 56%;
        top:-56px;
        margin-bottom: -56px;
        background-size: 213%;
        @include media-breakpoint-up(md) {
            height: 600px;
            background-position-y: 31%;
            top: -160px;
            margin-bottom: -160px;
            background-size: cover;
        }
        @include media-breakpoint-up(xxl) {
            height: 640px;
        }
        @include media-breakpoint-up(x4l) {
            height: 720px;
        }
        background-image: url('/img/hp-hero-2021-2560px.jpg');
        background-repeat: no-repeat;
        position: relative;
        h1 {
            color: #fff;
        }
        p {
            color: #fff;
            @include media-breakpoint-up(lg) {
                font-size: 1.8rem;
            }
        }
    }
    #home-hero-sub {
        h1 {
            color: #242424;
        }
        p {
            color: #242424;
        }
    }
    #hero-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.46);
        background: rgb(0,0,0);
        background: linear-gradient(
            180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%);
    }
    #mobile-ets-link {
        height: 345px;
        background-color: #11152F;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/images/assets/graphics/ets-bars-boxes-right.svg');
        .bordered-header {
            color: #fff;
        }
       h1, p {
           color: #fff;
       }
       p {
           font-family: Akkurat-Italic, sans-serif;
       }
       @include media-breakpoint-up(md) {
           background-size: 50%;
           background-position: 95% 60%;
       }
    }

// GENERAL TYPOGRPAPHY -------------------
    #home-body {

        h1 {
            font-family: GT-Eesti-Display-Bold, sans-serif;
            font-weight: normal;
            font-size: 3.6rem;
            line-height: 1.2;
            @include media-breakpoint-up(md) {
                font-size: 4.2rem; 
                line-height: 1.1;
            }
            @include media-breakpoint-up(lg) {
                font-size: 4.8rem;
            }
        }
        .bordered-header {
            max-width: none;
            font-size: 1.2rem;
            @include media-breakpoint-up(lg) {
                font-size: 1.6rem;
            }
        }
        .see-all {
            color: #737373;
            font-family: GT-Eesti-Display-Medium, sans-serif;
            &:hover {
                color: $color1;
                text-decoration: none;
            }
        }
        .feature-image {
            height: 121px;
            @include media-breakpoint-up(lg) {
                height: 130px;
            }
            background-size: cover;
            background-position: center center;
            transition: filter .3s ease;
            &.image-ets {
                height: 100%;
                max-height: 180px;
            }
            &.image-large {
                height: 121px;
                @include media-breakpoint-up(lg) {
                    height: 200px;
                }
            }
        }
        .title {
            font-family: GT-Eesti-Display-Bold, sans-serif;
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 1.2;
            color: #242424;
            transition: color .3s ease;
            display: inline-block;
            &.title-small {
                @include media-breakpoint-up(lg) {
                    font-size: 1.7rem;
                }
            }
            &.title-large {
                @include media-breakpoint-up(lg) {
                    font-size: 4rem;
                    line-height: 1.2;
                }
            }
            &:hover {
                color: $color1;
                text-decoration: none;
            }
            @include media-breakpoint-up(md) {
                font-size: 2.4rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 2.6rem;
            }
        }
        #main-features .title {
            @include media-breakpoint-only(md) {
                font-size: 3.6rem;
            }
        }
        .cat-link {
            font-size: 1.4rem;
        }
        .description {

        }
        p {
            font-size: 1.6rem;
        }
        hr {
            border-top: 1px solid #E5E5E5;
            margin-top: 2.4rem;
            margin-bottom: 2.4rem;
        }

    }

    // Featured updates

    .ets-homepage {
        p {
            font-family: Akkurat-Italic, sans-serif;
        }
    }

    // Map and rankings blocks --------------------------------------------
    #main-features {
        background-color: #F4F7F9;
        h3 {
          color: $color2;
          font-size: 2.6rem;
          text-transform: uppercase;
          @include media-breakpoint-up(md) {
            font-size: 3rem;
            } 
          @include media-breakpoint-up(xl) {
            font-size: 3.2rem;
            margin-bottom: 1.6rem;
            }
            
        }
    }
    #feature-map {
        background-color: #EAEFF3;
        background-image: url(/images/assets/graphics/map-circles2.svg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 50% 2rem;
        transition: background-color .3s ease;
        @include media-breakpoint-up(smm) {
            background-size: 66%;
        }
        @include media-breakpoint-up(mm) {
            background-size: 46%;
        }
        @include media-breakpoint-up(md) {
            background-size: 70%;
        }
        @include media-breakpoint-up(xl) {
            background-position: 68% 2rem;
            background-size: 70%;
        }
        @include media-breakpoint-up(xxxl) {
            background-position: 68% 2rem;
            background-size: 72%;
        }
            &:hover {
                background-color: #e6ecf2;
                a.sublink {
                    color: $color1;
                }  
            } 
    }
    #feature-rankings {
        background-color: #F4E9E7;
        background-image: url(/images/assets/graphics/rankings-bars.svg);
        background-repeat: no-repeat;
        background-size: 97%;
        background-position: left 1.3rem;
        transition: background-color .3s ease;
        &:hover {
           background-color: #f0e1df;
            a.sublink {
                color: $color1;
            }  
        }
        @include media-breakpoint-up(smm) {
            background-size: 92%;
        }
        @include media-breakpoint-up(mm) {
            background-size: 80%;
        }
        @include media-breakpoint-up(md) {
            background-size: 96%;
        }
        @include media-breakpoint-up(lg) {
            background-size: 80%;
        }
        @include media-breakpoint-up(xxxl) {
            background-size: 90%;
        }
    }
    .main-feature {
        padding: 19rem 0 3.2rem;
        @include media-breakpoint-up(mm) {
            padding: 22rem 0 3.2rem;
        }
        @include media-breakpoint-up(md) {
            padding: 21rem 0 3.2rem;
        }
        @include media-breakpoint-up(lg) {
            padding: 24rem 0 3.2rem;
        }
        @include media-breakpoint-up(xl) {
            padding: 28rem 0 3.2rem;
        }
        a.sublink {
            letter-spacing: 0.01rem;
            i.fa.fa-chevron-right {
                position: relative;
                top: 2px;
                transition: transform .3s ease;
                &:before {
                    font-size: 1.6rem;
                }
            }
        }
        &:hover {
            a.sublink {
                i.fa.fa-chevron-right {
                    transform: translateX(4px);
                }
            }
        }   
    }
    #covid-gateway.alt-bg {
        @include media-breakpoint-down(md) {
            background-color: #fff;
        }
    }
    .resources-img {
        height: 121px;
        @include media-breakpoint-up(lg) {
            height: 200px;
        }
    }
    .bg-1 { 
        background-size: 125%;
        @include media-breakpoint-up(md) {
            background-size: cover;
        }  
        @include media-breakpoint-up(lg) {
            background-size: 100%;
        }
        background-repeat: no-repeat;    
        background-image: url('/images/assets/graphics/scorecard-bg.jpg');
        }
    .bg-2 {
        background-size: 180%;
        
        @include media-breakpoint-up(smm) {
            background-size: 151%;
        }
        @include media-breakpoint-up(mm) {
            background-size: 125%;
        }
        @include media-breakpoint-up(md) {
            background-size: cover;
            background-position-x: 24%;
        } 
        @include media-breakpoint-up(lg) {
            background-size: cover;
        }
        background-repeat: no-repeat; 
            background-image: url('/images/assets/graphics/policies-bg.jpg');
        }
    .bg-3 { 
        background-size: 178%;
        @include media-breakpoint-up(smm) {
            background-size: 151%;
        }
        @include media-breakpoint-up(mm) {
            background-size: 125%;
        }
        @include media-breakpoint-up(md) {
            background-size: cover;
            background-position-x: right;
        }  
        @include media-breakpoint-up(lg) {
            background-size: cover;
        }
        background-repeat: no-repeat;    
            background-image: url('/images/assets/graphics/resources-bg.jpg');
        } 


    #hp-eviction-image {
        min-height: 240px;
        @include media-breakpoint-up(lg) {
            min-height: 320px;
        }
        background-image: url('/images/assets/Evicted_Video8.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }
}
// Mobile carousel

.carousel-item  {
    background-color: #fff;
    .title {
        min-height: 84px;
    }
    hr {
        margin-bottom: 0;
    }
}
.carousel-view-more {
    height: 240px;
    font-family: GT-Eesti-Display-Medium, sans-serif;
    font-size: 1.6rem;
    z-index: -1;
    &:hover {
        text-decoration: none;
    }
}

.hp-carousel__slide--image {
    height: 130px;
    @include media-breakpoint-up(md) {
        height: 240px;
    }
    background-size: cover;
    @include altFont(1.8rem);
    line-height: 1.4;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    &.viewmore__background {
      background-color: #f4f7f9;
      height: 240px;
      .viewmore__text {
        div {
          color: $color2;
          letter-spacing: 0.02rem;
        }
      }
      a.sublink {
        font-family: "GT-Eesti-Display-Medium";
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 70%;
        display: block;
        transition: color .3s ease;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #000000;
        i.fa.fa-chevron-right {
          position: relative;
          top: 1px;
          transition: transform .3s ease;
          font-size: 83%;
        }
        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
        &:hover {
            text-decoration: none;
        }
      }
      &:hover {
        a.sublink {
          color: $color1;
          i.fa.fa-chevron-right {
              transform: translateX(4px);
          }
        }
      }
    }
  }
  .hp-carousel__slide--category {
    font-family: $fontStack;
    font-size: 1.4rem;
    &.research-category {
      color: $color3;
      &::before {
        content: url('images/icons/research-icon.svg');
        height: 14px;
        width: 14px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 1px;
      }
    }
  }
  .hp-carousel__slide--title, .hp-carousel__slide--viewmore {
    @include altFont(1.8rem);
    line-height: 1.4;
    color: #000;
    transition: color .3s ease;
    //min-height: 144px;
    display: inline-block;
    will-change: transform;
    &:hover {
      color: $color1;
    }
  }
  
  .carousel-control-prev, .carousel-control-next {
    opacity: 1;
    &:hover {
      .carousel-control-prev-icon, .carousel-control-next-icon {
        background: url("/images/icons/bio-arrow-active.svg");
      }
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background: url("/images/icons/bio-arrow.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    transition: background .3s ease;
    border-radius: 2px;
    background-position: 50% 50% !important;
  }
  .carousel-control-prev-icon {
    right: 54px;
    top: -21%;
    @include media-breakpoint-up(xxxl) {
      right: -16px;
      top: -16%;
    }
    transform: rotate(180deg);
  }
  .carousel-control-next-icon {
    right: -54px;
    top: -21%;
    @include media-breakpoint-up(xxxl) {
      right: 16px;
      top: -16%;
    }
  }
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    will-change: transform;
    transform: translateX(83.33333333333%);
    @include media-breakpoint-up(smm) {
        transform: translateX(66.6666666%);
    }
  }

  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    will-change: transform;
    transform: translateX(-83.333333333%);
    @include media-breakpoint-up(smm) {
        transform: translateX(-66.6666666%);
    }
  }
    
  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{ 
    will-change: transform;
    transform: translateX(0);
  }
  .carousel-indicators {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    /* margin-right: 15%; */
    margin-left: 2rem;
    li {
        background-color: $color4;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        list-style: none;
      &.active {
        background-color: $color1;
        }
      }
    }