/* _subnav.scss */

/* sub navigation */

.subnav {
  width: 100%;
  /*padding-top: $defaultPaddingWebsite;
  padding-bottom: $defaultPaddingWebsite;*/
  height: $headerHeightSm;
  background-color: #EEF2F5;
  position: sticky;
  position: -webkit-sticky;
  top: $headerHeightSm;
  z-index: 1;
  transition: all 0.4s ease;
  height: grid(5);
  @include for-tablet-portrait-up {
    height: grid(8); 
    top: $headerHeightLg;
  }
  a:hover {
    color: $color1 !important;
    transition: 70ms;
  }
  ul li {
    margin-left: 0;
    &:before {
      display:none;
    }
  }
}

.condensed ~ .subnav {
  top: $headerHeightSm
}

.subnav-link, .subnav-link:hover,
.subnav-active, .subnav-active:hover {
  font-family: $altFontStack;
  /* margin-right: 56px; */
  color: $textColor2;
  text-decoration: none;
  @include for-phone-only {
    margin-right: 14px;
  }
}

.subnav-active, .subnav-active:hover {
  color: $color1;
  border-bottom: $color1 5px solid;
}
