/* _updates.scss */

/* --- Updates pages styles --- */

/* General params styling */

a.cat-link {
    text-transform: capitalize;
}
.blog-type, .blog-type a {
    color: #E04119;
    &:hover {
        color: $color1;
    }
}
.media-type, .media-type a {
    color: #434878;
    &:hover {
        color: #434878;
    }
}
.research-type, .research-type a {
    color: #2C897F;
    border-color: $color3;
    border: none;
    &:hover {
        color: $color3;
    }
}
.events-list-header.research-type.outside-research {
   /* padding-top: 32px; */
}
.events-type, .events-type a {
    color: #768693;
    border-color: $color6;
    &:hover {
        color: #768693;
    }
}
.alt-bg {
    background: #F4F7F9;
}

.natl-blog-table {
    @include for-phone-only {
        margin: 32px 24px;
    }
    @include for-tablet-portrait-up {
        padding-top: 1.6rem;
        padding-bottom: 4rem;
        }
    table.page-stats.table-responsive.natl-est {
        height: 480px;
        @include for-tablet-portrait-up {
            width: 110%;
            margin-left: -5%;
        }
        @include for-midsize-desktop-up {
            width: 100%;
            margin-left: 0;
        }
        tbody {
            background: #fff;
        }
        tr {
        @media (max-width: 1439px) {
             font-size: 90%; 
            }
        }
        tr:nth-child(even) {
            background-color: #f4f4f7;
          }
    }
}

.filter-covid-table {
  width: 250px !important;
}

.covid-blog-table {
    @include for-phone-only {
        margin: 32px 0;
    }
    @include for-tablet-portrait-up {
        padding-top: 1.6rem;
        padding-bottom: 4rem;
        }

    .language-select.dropdown {
        z-index: 99;
    }    
    span#selected_filter {
        font-size: 1.4rem;
        margin-top: -3px;
        display: block;
        @include for-tablet-portrait-up {
            margin-top: unset;
        }
    }
    .filter-wrapper {
        margin-bottom: 2.4rem;
    }  
    button.dropdown-toggle {
        background-color: #fff;
    }  
    ul.dropdown-menu {
        margin-bottom: 0 !important;
        z-index: 20;
        li:before {
            content: '';
            position: unset;
            left: 0;
        }
    }    
    table.page-stats.table-responsive.natl-est {
        height: 72vh;
        @media (min-width: 768px) {
          width: 120%;
          margin-left: -10%;
        }
        @media (min-width: 1064px) {
          width: 180%;
          margin-left: -40%;
        }
        tbody {
            background: #fff;
        }
        tr {
          vertical-align: middle;
          th {
            vertical-align: middle;
            text-align: center;
            background: white;
            position: sticky;
            top: -1px;
          }
        @media (max-width: 1439px) {
             font-size: 90%; 
            }
        }
        tr:nth-child(even) {
          background-color: #f4f4f7;
        }
        tr:first-of-type {
          background-color: #fff;
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        }
    }
}
#natl-blog,
#covid-blog {
    hr {
        margin-top: 0;
    }
}
