/* _updates.scss */

/* --- Updates pages styles --- */

/* General params styling */

a.cat-link {
    text-transform: capitalize;
}
.blog-type, .blog-type a {
    color: #E04119;
    &:hover {
        color: $color1;
    }
}
.media-type, .media-type a {
    color: #434878;
    &:hover {
        color: #434878;
    }
}
.research-type, .research-type a {
    color: #2C897F;
    border-color: $color3;
    border: none;
    &:hover {
        color: $color3;
    }
}
.events-list-header.research-type.outside-research {
   /* padding-top: 32px; */
}
.events-type, .events-type a {
    color: #768693;
    border-color: $color6;
    &:hover {
        color: #768693;
    }
}
.alt-bg {
    background: #F4F7F9;
}

.natl-blog-table {
    @include for-phone-only {
        margin: 32px 24px;
    }
    @include for-tablet-portrait-up {
        padding-top: 1.6rem;
        padding-bottom: 4rem;
        }
    table.page-stats.table-responsive.natl-est {
        height: 480px;
        @include for-tablet-portrait-up {
            width: 110%;
            margin-left: -5%;
        }
        @include for-midsize-desktop-up {
            width: 100%;
            margin-left: 0;
        }
        tbody {
            background: #fff;
        }
        tr {
        @media (max-width: 1439px) {
             font-size: 90%; 
            }
        }
        tr:nth-child(even) {
            background-color: #f4f4f7;
          }
    }
}

.covid-blog-table {
    @include for-phone-only {
        margin: 32px 0;
    }
    @include for-tablet-portrait-up {
        padding-top: 1.6rem;
        padding-bottom: 4rem;
        }
    table.page-stats.table-responsive.natl-est {
        height: 64vh;
        @media (min-width: 768px) {
          width: 120%;
          margin-left: -10%;
        }
        @media (min-width: 1064px) {
          width: 180%;
          margin-left: -40%;
        }
        tbody {
            background: #fff;
        }
        tr {
          vertical-align: middle;
          th {
            vertical-align: middle;
            text-align: center;
          }
        @media (max-width: 1439px) {
             font-size: 90%; 
            }
        }
        tr:nth-child(even) {
            background-color: #f4f4f7;
          }
    }
}

#natl-blog,
#covid-blog {
    hr {
        margin-top: 0;
    }
}
