/* .header-wrapper {
    padding: 0 0;
    height: 88px;
    @include for-tablet-portrait-up {
        height: 112px;
    }
    .header-content {
        padding: 0 24px;
        height: 56px;
        @include for-tablet-portrait-up {
        height: 80px;
        }
    }
}
.condensed .header-wrapper {
    height: 88px;
    .header-content {
        height: 56px;
        padding: 0 24px;
    }
} */
.superheader {
   /*background: #EEF2F5;
   background: linear-gradient(to bottom, #EEF2F5 2%, #c8cdd2 99%);
   background: linear-gradient(to bottom, #EEF2F5 2%, #d4d9de 99%);*/
   background-color: #F4F7F9;
    color: #434778;
    color: #484958;
    position: relative;
    //width: 80%;
    
    .super-content {
        padding: 10px 16px;
        font-family: $fontStack;
        font-size: 14px;
        line-height: 1.5;
        @include for-tablet-portrait-up {
            font-size: 16px; 
        }
        position: relative;
        width: 100%;
        max-width: 1200px;
        .boldface {
            font-family: $altFontStack;
            color:#e24000
        }
        a {
            font-family: $boldFontStack;
            color: #434778;
            color: #484958;
            text-decoration: underline;
        }
        //height: 100%;
       // padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
    }

    &.inactive {
        position: absolute;
        visibility: hidden;
    }
}
 .new-splash {
   .section-split {
       margin-top: -56px;
   }
    @include for-tablet-portrait-up {
        .section-split {
            margin-top: unset;
        }
    }
} 

/* Temp away msg for ETS */

.away-msg {
    background-color: #33376A;
    background-color: $color2;
    color: white;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
    p {
        font-family: $altFontStack;
        font-size: 17px;
        max-width: 600px;
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
            max-width: 100%;
            font-size: 2rem;
        }
    }

}