
.superheader {
    background-color: #11152F;
    color: #fff;
    a {
        color: #fff;
        font-family: $boldFontStack;
        text-decoration: underline;
    }
    @include media-breakpoint-up(md) {
        background-color: #F4F7F9;
        color: #484958;
        a {
            color: #484958;
        }
    }
    
    position: relative;
    .super-content {
        padding: 10px 16px;
        font-family: $fontStack;
        font-size: 14px;
        line-height: 1.5;
        @include for-tablet-portrait-up {
            font-size: 16px; 
        }
        position: relative;
        width: 100%;
        max-width: 1200px;
        .boldface {
            font-family: $altFontStack;
            color:#e24000
        }
    
        margin: 0 auto;
        box-sizing: border-box;
    }

    .close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        opacity: 1 !important;
    }

    &.inactive {
        position: absolute;
        visibility: hidden;
    }
}
 .new-splash {
   .section-split {
       margin-top: -56px;
   }
    @include for-tablet-portrait-up {
        .section-split {
            margin-top: unset;
        }
    }
} 

/* Temp away msg for ETS */

.away-msg {
    background-color: #33376A;
    background-color: $color2;
    color: white;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
    p {
        font-family: $altFontStack;
        font-size: 17px;
        max-width: 600px;
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
            max-width: 100%;
            font-size: 2rem;
        }
    }

}