{{ partial "header" . }}
{{ partial "subnav" . }}
  <!-- section header -->
  <div class="{{ urlize (lower .Title) }}-bg-color inset-shadow-top center-page-wrapper">
    <div class="center-page">
      <h1 class="page-header">{{ .Title }}</h1>
    </div>
  </div>

{{ partial "breadcrumb" . }}

{{ range where .Site.RegularPages "Params.childof" (lower .Title | urlize) }}
<div class="center-page-wrapper">
  <div class="bio-item center-content">

    <!-- the photo -->
    <div class="img">
      <img src="{{ .Param "image" }}" />
    </div>

    <!-- the text -->
    <div class="copy">
      <h2 class="title">{{ .Title }}</h2>
      <p class="position">{{ .Params.position }}</p>
      <div class="page-content">
        {{ .Content }}
      </div>
    </div>

  </div>
</div>
{{ end }}


{{ partial "debug" . }}
<span class="debug-visability">rendered by = theme/THEMENAME/layouts/about-us/list.html</span>

{{ partial "footer" . }}
