{{ partial "header" . }}

<!-- section header -->
<div class="graphic-header help-faq center-page-wrapper">
  <div class="center-page">
    <h1 class="graphic-page-header">about us</h1>
    <div class="underbar"></div>
  </div>
</div>

<!-- subnav -->
<div class="shadow-bottom center-page-wrapper subnav">
  <div class="center-content-post">
    <ul class="anchor-links">
      <li class="only-larger-screens">CHOOSE A SECTION</li>
      <li><a href="#introduction" class="smoothScroll">Intro</a></li>
      <li><a href="#data" class="smoothScroll">Background</a></li>
      <li><a href="#definitions" class="smoothScroll">Our Work</a></li>
      <li><a href="#team" class="smoothScroll">Our Team</a></li>
    </ul>
  </div>
</div>


<div class="center-page-wrapper">
  <div class="center-content-post page-list">

    <!-- ************ -->
    <!-- maps section -->
    <!-- ************ -->

    <a name="introduction"></a>
    <h2 class="page-section-header">Introduction</h2>

    <div class="accordion">

      

    </div> <!-- close accordion -->

    <!-- ************ -->
    <!-- data section -->
    <!-- ************ -->

    <a name="data"></a>
    <h2 class="page-section-header">Background</h2>

    <div class="accordion">

    </div> <!-- close accordion -->

    <!-- ******************* -->
    <!-- definitions section -->
    <!-- ******************* -->

    <a name="definitions"></a>
    <h2 class="page-section-header">Our Work</h2>

    <div class="accordion">

    </div> <!-- close accordion -->

    <!-- *************** -->
    <!-- methods section -->
    <!-- *************** -->
    <a name="team"></a>
    <h2 class="page-section-header">Eviction Lab Team</h2>

    <div class="el-bios">
        <div class="bio-thumbs">
          {{ range (where .Site.RegularPages "Params.childof" ("research-team-bios")) }}
          {{ if eq .Params.childof "research-team-bios" }} 
          <a data-toggle="modal" data-target="#modal-{{ .Params.abbrev }}" data-bio="mdes" href="#">
            <img class="bio-thumb" src="{{ .Params.thumb }}" />
            <img class="bio-arrow" src="/images/icons/bio-arrow.svg" />
            <img class="bio-arrow-active" src="/images/icons/bio-arrow-active.svg" />
          </a> 
          <div class="modal fade" id="modal-{{ .Params.abbrev }}" tabindex="-1" role="dialog" aria-labelledby="teamBioModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="left-column">
                      </div>
                <div class="right-column">      
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    
                      <h3>{{ .Params.title }}</h3>
                      <p class="bio-position">{{ .Params.position }}</p>
                      <p class="bio-content">{{ .Content }}</p>
                    </div>  
                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
       
     

  </div> <!-- close accordion -->


  </div>
</div>


{{ partial "debug" . }}
<span class="debug-visibility">rendered by = theme/THEMENAME/layouts/about-us/list.html</span>

{{ partial "footer" . }}
