{{ partial "header" . }}

<!-- section header -->
{{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
<div class="graphic-header help-faq center-page-wrapper">
  <div class="center-page">
    <h1 class="graphic-page-header">{{ .Params.h1 }}</h1>
    <div class="underbar"></div>
  </div>
</div>

<!-- subnav -->
<!-- <div class="shadow-bottom center-page-wrapper subnav">
  <div class="center-content-post">
    <ul class="anchor-links">
      <li><a href="#maps" class="smoothScroll">Map</a></li>
      <li><a href="#data" class="smoothScroll">Data</a></li>
      <li><a href="#rankings" class="smoothScroll">Rankings</a></li>
      <li><a href="#definitions" class="smoothScroll">Definitions</a></li>
      <li><a href="#methods" class="smoothScroll">Methods</a></li>
      <li><a href="#stories" class="smoothScroll">Storytelling &amp; Activism</a></li>
    </ul>
  </div>
</div> -->
<div class="shadow-bottom center-page-wrapper subnav">
    <div class="center-content-post">  
<div class="dropdown">
    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ .Params.li1 }}
    </button>
    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
      <ul class="anchor-links dropdown-menu">
        <li><a class="dropdown-item smoothScroll" href="#map">{{ .Params.li2 }}</a></li>
        <li><a class="dropdown-item smoothScroll" href="#rankings">{{ .Params.li4 }}</a></li>
        <li><a class="dropdown-item smoothScroll" href="#definitions">{{ .Params.li5 }}</a></li>
        <li><a class="dropdown-item smoothScroll" href="#about-data">{{ .Params.li6 }}</a></li>
        <li><a class="dropdown-item smoothScroll" href="#stories">{{ .Params.li7 }}</a></li>
    </ul>
    <!--</div>-->
  </div>
  </div>
</div>

<!-- *********************************************** -->
<!-- begin FAQs -->
{{ end }}
{{ end }}

<div class="help-faq-content social-side">
  {{ partial "social-share-vert" . }}
  <div class="center-page-wrapper">
    <div class="center-content-post page-list">

      <!-- ************ -->
      <!-- maps section -->
      <!-- ************ -->

      <a name="map"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
      <h2 class="bordered-header blue">{{ .Params.li2 }}</h2>
      {{ end }}
      {{ end }}

      <div class="accordion">

          {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
          {{ if eq .Params.type "map" }}
          <!-- faq item -->
            {{ partial "faqs" . }}
          {{ end }}
          {{ end }}

      </div> <!-- close accordion -->

      <!-- ************ -->
      <!-- data section -->
      <!-- ************ -->

      <!--<a name="data"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
      <h2 class="bordered-header blue">{{ .Params.li3 }}</h2>
      {{ end }}
      {{ end }}

      <div class="accordion">

          {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
          {{ if eq .Params.type "data" }}
         
            {{ partial "faqs" . }}
          {{ end }}
          {{ end }}

      </div>--> <!-- close accordion -->

      <!-- ************ -->
      <!-- Rankings section -->
      <!-- ************ -->

      <a name="rankings"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
      <h2 class="bordered-header blue">{{ .Params.li4 }}</h2>
      {{ end }}
      {{ end }}

      <div class="accordion">

          {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
          {{ if eq .Params.type "rankings" }}
          <!-- faq item -->
            {{ partial "faqs" . }}
          {{ end }}
          {{ end }}

      </div> <!-- close accordion -->

      <!-- ******************* -->
      <!-- definitions section -->
      <!-- ******************* -->

      <a name="definitions"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
      <h2 class="bordered-header blue">{{ .Params.li5 }}</h2>
      {{ end }}
      {{ end }}

      <div class="accordion">

          {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
          {{ if eq .Params.type "definitions" }}
          <!-- faq item -->
            {{ partial "faqs" . }}
          {{ end }}
          {{ end }}

      </div> <!-- close accordion -->

      <!-- *************** -->
      <!-- About the Data section -->
      <!-- *************** -->
      <a name="about-data"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
      <h2 class="bordered-header blue">{{ .Params.li6 }}</h2>
      {{ end }}
      {{ end }}

      <div class="accordion">

          {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
          {{ if eq .Params.type "data" }}
          <!-- faq item -->
            {{ partial "faqs" . }}
          {{ end }}
          {{ end }}

    </div> <!-- close accordion -->

    <!-- *************** -->
      <!-- Storytelling section -->
      <!-- *************** -->
      <a name="stories"></a>
      {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
        {{ if eq .Params.type "meta" }} 
      <h2 class="bordered-header blue">{{ .Params.li7 }}</h2>
      {{ end }}
      {{ end }}

      <div class="accordion">

          {{ range (where .Site.RegularPages "Params.childof" ("faq")) }}
          {{ if eq .Params.type "stories" }}
          <!-- faq item -->
            {{ partial "faqs" . }}
          {{ end }}
          {{ end }}

    </div> <!-- close accordion -->


    </div>
  </div>
</div>

{{ partial "footer" . }}
